<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="setting :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="javascript:">系统管理</a>
            <a href="javascript:">账户管理</a>
            <a><cite>权限分组</cite></a>
        </div>
        <div class="p20 layui-form">
            <div class="clearfix mt20" th:if="${#lists.contains(i_privilege,'11201')}">
                <a href="/setting/role/add.html" class="layui-btn fr layui-btn-normal">添加分组</a>
            </div>
            <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>


</div>
<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/business/role-list.js"></script>
<script type="text/html" id="operationBar">
    <a class="layui-btn layui-btn-xs" href="/setting/role/edit.html?o={{d.id}}"
       th:if="${#lists.contains(i_privilege,'11202')}">编辑</a>
    {{# if(d.enabled === 1) { }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable"
       th:if="${#lists.contains(i_privilege,'11203')}">禁用</a>
    {{# } else { }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="enable"
       th:if="${#lists.contains(i_privilege,'11203')}">启用</a>
    {{# } }}
</script>
</body>

</html>