<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.backend.domain.mapper.FailedRequestLogMapper">
    <resultMap id="BaseResultMap" type="FailedRequestLog">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="request_time" property="requestTime" jdbcType="TIMESTAMP" />
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="ResultCountMap" type="FailedRequestLogCount">
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="count" property="count" jdbcType="BIGINT" />
    </resultMap>

    <insert id="add" parameterType="FailedRequestLog">
        insert into
            `failed_request_log`
            (`request_time`, `client_id`, `product_id`, `status`)
        values
            (#{requestTime}, #{clientId}, #{productId}, #{status})
    </insert>

    <select id="findListGroupByProductAndClient" resultMap="ResultCountMap">
        select
            `product_id` as product_id,
            `client_id`  as client_id,
            count(`id`)  as count
        from failed_request_log
        where `request_time` >= #{fromDate} and `request_time` &lt;= #{toDate}
        group by product_id, client_id
    </select>
</mapper>