<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.backend.domain.mapper.StatsClientRequestMapper">
    <resultMap id="BaseResultMap" type="StatsClientRequest">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="stats_year" property="statsYear" jdbcType="INTEGER" />
        <result column="stats_month" property="statsMonth" jdbcType="INTEGER" />
        <result column="stats_week" property="statsWeek" jdbcType="INTEGER" />
        <result column="stats_day" property="statsDay" jdbcType="INTEGER" />
        <result column="stats_hour" property="statsHour" jdbcType="TINYINT" />
        <result column="stats_date" property="statsDate" jdbcType="TIMESTAMP" />
        <result column="request" property="request" jdbcType="BIGINT" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `client_id`, `stats_year`, `stats_month`, `stats_week`,
            `stats_day`, `stats_hour`, `stats_date`, `request`
        from `stats_client_request`
    </sql>

    <!-- @formatter:off -->
    <insert id="addAll" parameterType="List">
        insert into
            `stats_client_request`
            (`create_time`, `update_time`, `stats_year`, `stats_month`, `stats_week`, `stats_day`, `stats_hour`,
             `stats_date`, `client_id`, `request`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.createTime}, #{item.updateTime}, #{item.statsYear}, #{item.statsMonth}, #{item.statsWeek},
             #{item.statsDay}, #{item.statsHour}, #{item.statsDate}, #{item.clientId}, #{item.request})
        </foreach>
    </insert>
    <!-- @formatter:on -->

    <select id="getClientTrafficByClientIds" resultMap="BaseResultMap">
        <include refid="select_all"></include>
        where `stats_date` >= #{beforeDate} and `stats_date` &lt; #{afterDate} and client_id
        <foreach collection="clientIds" item="itemId" open=" in (" close=")" separator=",">
            #{itemId}
        </foreach>
    </select>

</mapper>