<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.backend.domain.mapper.WarningManageMapper">
    <resultMap id="BaseResultMap" type="WarningManage">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="warning_code" property="warningCode" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="third_code" property="thirdCode" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="dispose" property="dispose" jdbcType="TINYINT" />
        <result column="dispose_time" property="disposeTime" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `warning_code`, `product_id`, `client_id`,
            `third_code`, `user_id`, `dispose`, `dispose_time`, `remark`
        from `warning_manage`
    </sql>

    <resultMap id="ResultInfoMap" type="WarningManageInfo">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="warning_code" property="warningCode" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="third_code" property="thirdCode" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="dispose" property="dispose" jdbcType="TINYINT" />
        <result column="dispose_time" property="disposeTime" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="warning_type" property="warningType" jdbcType="TINYINT" />
    </resultMap>

    <insert id="add" parameterType="WarningManage" useGeneratedKeys="true" keyProperty="id">
        insert into `warning_manage`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="warningCode != null">`warning_code`,</if>
            <if test="productId != null">`product_id`,</if>
            <if test="clientId != null">`client_id`,</if>
            <if test="thirdCode != null">`third_code`,</if>
            <if test="userId != null">`user_id`,</if>
            <if test="dispose != null">`dispose`,</if>
            <if test="disposeTime != null">`dispose_time`,</if>
            <if test="remark != null">`remark`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="warningCode != null">#{warningCode},</if>
            <if test="productId != null">#{productId},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="thirdCode != null">#{thirdCode},</if>
            <if test="userId != null">#{userId},</if>
            <if test="dispose != null">#{dispose},</if>
            <if test="disposeTime != null">`disposeTime`,</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSkipNull" parameterType="WarningManage">
        update `warning_manage`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="warningCode != null">`warning_code` = #{warningCode},</if>
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="clientId != null">`client_id` = #{clientId},</if>
            <if test="thirdCode != null">`third_code` = #{thirdCode},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="dispose != null">`dispose` = #{dispose},</if>
            <if test="disposeTime != null">`dispose_time` = #{disposeTime},</if>
            <if test="remark != null">`remark` = #{remark},</if>
        </set>
        where `id` = #{id}
    </update>

    <select id="countByWarningType" resultType="Integer">
        select count(wm.`id`) from warning_manage wm left join warning_setting ws on ws.`code` = wm.`warning_code`
        <where>
            <if test="warningType != null">ws.`type` = #{warningType}</if>
            <if test="dispose != null">and wm.`dispose` = #{dispose}</if>
            <if test="managerId != null">and wm.`user_id` = #{managerId}</if>
            <if test="fromDate != null">and wm.`create_time` >= #{fromDate}</if>
            <if test="toDate != null">and wm.`create_time` &lt;= #{toDate}</if>
        </where>
    </select>
    <!-- @formatter:off -->
    <select id="getWarningManageListByWarningType" resultMap="ResultInfoMap">
        select
          wm.`id` as id,
          wm.`create_time` as create_time,
          wm.`warning_code` as warning_code,
          wm.`update_time` as update_time,
          wm.`product_id` as product_id,
          wm.`client_id` as client_id,
          wm.`third_code` as third_code,
          wm.`user_id` as user_id,
          wm.`dispose` as dispose,
          wm.`remark` as remark,
          wm.`dispose_time` as dispose_time,
          ws.`type` as warning_type
        from warning_manage wm
          left join warning_setting ws on ws.`code` = wm.`warning_code`
        <where>
            <if test="warningType != null">ws.`type` = #{warningType}</if>
            <if test="dispose != null">and wm.`dispose` = #{dispose}</if>
        </where>
        order by wm.`create_time` desc
    </select>
    <!-- @formatter:on -->

    <select id="getWarningManageById" resultMap="ResultInfoMap">
        select
            wm.`id`           as id,
            wm.`create_time`  as create_time,
            wm.`warning_code` as warning_code,
            wm.`update_time`  as update_time,
            wm.`product_id`   as product_id,
            wm.`client_id`    as client_id,
            wm.`third_code`   as third_code,
            wm.`user_id`      as user_id,
            wm.`dispose`      as dispose,
            wm.`remark`       as remark,
            wm.`dispose_time` as dispose_time,
            ws.`type`         as warning_type
        from warning_manage wm
            left join warning_setting ws
                on ws.`code` = wm.`warning_code`
        where wm.`id` = #{id}
    </select>

    <select id="getWarningDisposeManagerList" resultMap="BaseResultMap">
        select `user_id`
        from warning_manage
        where `dispose` = 1
        group by `user_id`
    </select>

</mapper>