<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.bop.domain.mapper.ApiReqMapper">
    <resultMap id="BaseResultMap" type="ApiReq">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="corp_id" property="corpId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="suc" property="suc" jdbcType="TINYINT" />
        <result column="unit_amt" property="unitAmt" jdbcType="DECIMAL" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
    </resultMap>

    <insert id="add" parameterType="ApiReq">
        insert into `api_req`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="corpId != null">`corp_id`,</if>
            <if test="productId != null">`product_id`,</if>
            <if test="suc != null">`suc`,</if>
            <if test="unitAmt != null">`unit_amt`,</if>
            <if test="balance != null">`balance`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="corpId != null">#{corpId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="suc != null">#{suc},</if>
            <if test="unitAmt != null">#{unitAmt},</if>
            <if test="balance != null">#{balance},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="ApiReq">
        update `api_req` set `create_time` = #{createTime}, `update_time` = #{updateTime}, client_id = #{corpId},
        `product_id` = #{productId}, `suc` = #{suc}, `unit_amt` = #{unitAmt}, `balance` = #{balance} where `id` = #{id}
    </update>

    <update id="updateSkipNull" parameterType="ApiReq">
        update `api_req`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="corpId != null">`corp_id` = #{corpId},</if>
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="suc != null">`suc` = #{suc},</if>
            <if test="unitAmt != null">`unit_amt` = #{unitAmt},</if>
            <if test="balance != null">`balance` = #{balance},</if>
        </set>
        where `id` = #{id}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select `id`, `create_time`, `update_time`, client_id, `product_id`, `suc`, `unit_amt`, `balance` from `api_req`
    </select>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        select `id`, `create_time`, `update_time`, client_id, `product_id`, `suc`, `unit_amt`, `balance` from `api_req`
        where `id` = #{id}
    </select>

</mapper>