<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.bop.domain.mapper.ClientContactMapper">
    <resultMap id="BaseResultMap" type="ClientContact">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="position" property="position" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="primary" property="primary" jdbcType="TINYINT" />
    </resultMap>

    <insert id="add" parameterType="ClientContact">
        insert into `client_contact`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="clientId != null">`client_id`,</if>
            <if test="name != null">`name`,</if>
            <if test="position != null">`position`,</if>
            <if test="phone != null">`phone`,</if>
            <if test="email != null">`email`,</if>
            <if test="primary != null">`primary`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="name != null">#{name},</if>
            <if test="position != null">#{position},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="primary != null">#{primary},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="ClientContact">
        update `client_contact`
        set `create_time` = #{createTime},
            `update_time` = #{updateTime},
            `client_id`   = #{clientId},
            `name`        = #{name},
            `position`    = #{position},
            `phone`       = #{phone},
            `email`       = #{email},
            `primary`     = #{primary}
        where `id` = #{id}
    </update>

    <update id="updateSkipNull" parameterType="ClientContact">
        update `client_contact`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="clientId != null">`client_id` = #{clientId},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="position != null">`position` = #{position},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="email != null">`email` = #{email},</if>
            <if test="primary != null">`primary` = #{primary},</if>
        </set>
        where `id` = #{id}
    </update>
</mapper>