<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.bop.domain.mapper.CorpTradeInfoMapper">
    <resultMap id="BaseResultMap" type="CorpTradeInfo">
        <result column="trade_id" property="tradeId" jdbcType="BIGINT" />
        <result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
        <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
        <result column="corp_name" property="corpName" jdbcType="VARCHAR" />
        <result column="short_name" property="shortName" jdbcType="VARCHAR" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="manager_id" property="managerId" jdbcType="BIGINT" />
        <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
        <result column="product" property="product" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <!-- @formatter:off -->
    <select id="getCorpRechargeTrade" parameterType="Long" resultMap="BaseResultMap">
        select
            ct.`id`          as trade_id,
            ct.`create_time` as trade_time,
            ct.`trade_no`    as trade_no,
            c.`corpName`         as corp_name,
            c.`short_name`   as short_name,
            cu.`username`    as account,
            rt.`corpName`        as trade_type,
            ct.`amount`      as amount,
            ct.`balance`     as balance,
            m.`id`           as manager_id,
            m.`corpName`         as manager_name,
            ct.`remark`      as remark
        from client_account_trade ct
            left join client c
                on ct.`corp_id` = c.`id`
            left join client_user cu
                on ct.`corp_id` = cu.client_id and cu.`primary` = 1
            left join manager m
                on ct.`manager_id` = m.`id`
            left join `dict_recharge_type` rt
                on ct.`trade_type` = rt.`id`
        <if test="corpId != null">where ct.`corp_id` = #{corpId}</if>
        order by ct.`create_time` desc
    </select>

    <select id="getCorpSpendTrade" parameterType="Long" resultMap="BaseResultMap">
        select
            ct.`id`          as trade_id,
            ct.`create_time` as trade_time,
            ct.`trade_no`    as trade_no,
            c.`corpName`         as corp_name,
            c.`short_name`   as short_name,
            cu.`username`    as account,
            rt.`corpName`        as trade_type,
            ct.`amount`      as amount,
            ct.`balance`     as balance,
            p.`corpName`         as product
        from client_account_trade ct
            left join client c
                on ct.`corp_id` = c.`id`
            left join client_user cu
                on ct.`corp_id` = cu.client_id and cu.`primary` = 1
            left join `dict_recharge_type` rt
                on ct.`trade_type` = rt.`id`
            left join `product` p
                on ct.`product_id` = p.`id`
        <if test="corpId != null">where ct.`corp_id` = #{corpId}</if>
        order by ct.`create_time` desc
    </select>
</mapper>