<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movek.mis.domain.mapper.CorpProdRechargeMapper">
    <resultMap id="BaseResultMap" type="CorpProdRecharge">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
        <result column="corp_id" property="corpId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="contract_no" property="contractNo" jdbcType="VARCHAR" />
        <result column="bill_plan" property="billPlan" jdbcType="TINYINT" />
        <result column="recharge_type" property="rechargeType" jdbcType="TINYINT" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
        <result column="manager_id" property="managerId" jdbcType="BIGINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="add" parameterType="CorpProdRecharge">
        insert into product_recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="tradeNo != null">`trade_no`,</if>
            <if test="corpId != null">`corp_id`,</if>
            <if test="productId != null">`product_id`,</if>
            <if test="contractNo != null">`contract_no`,</if>
            <if test="billPlan != null">`bill_plan`,</if>
            <if test="rechargeType != null">`recharge_type`,</if>
            <if test="amount != null">`amount`,</if>
            <if test="balance != null">`balance`,</if>
            <if test="startDate != null">`start_date`,</if>
            <if test="endDate != null">`end_date`,</if>
            <if test="managerId != null">`manager_id`,</if>
            <if test="remark != null">`remark`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="tradeNo != null">#{tradeNo},</if>
            <if test="corpId != null">#{corpId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="contractNo != null">#{contractNo},</if>
            <if test="billPlan != null">#{billPlan},</if>
            <if test="rechargeType != null">#{rechargeType},</if>
            <if test="amount != null">#{amount},</if>
            <if test="balance != null">#{balance},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="managerId != null">#{managerId},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="CorpProdRecharge">
        update product_recharge set `create_time` = #{createTime}, `update_time` = #{updateTime}, `trade_no` =
        #{tradeNo}, `corp_id` = #{corpId}, `product_id` = #{productId}, `contract_no` = #{contractNo}, `bill_plan` =
        #{billPlan}, `recharge_type` = #{rechargeType}, `amount` = #{amount}, `balance` = #{balance}, `start_date` =
        #{startDate}, `end_date` = #{endDate}, `manager_id` = #{managerId}, `remark` = #{remark} where `id` = #{id}
    </update>

    <update id="updateSkipNull" parameterType="CorpProdRecharge">
        update product_recharge
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="tradeNo != null">`trade_no` = #{tradeNo},</if>
            <if test="corpId != null">`corp_id` = #{corpId},</if>
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="contractNo != null">`contract_no` = #{contractNo},</if>
            <if test="billPlan != null">`bill_plan` = #{billPlan},</if>
            <if test="rechargeType != null">`recharge_type` = #{rechargeType},</if>
            <if test="amount != null">`amount` = #{amount},</if>
            <if test="balance != null">`balance` = #{balance},</if>
            <if test="startDate != null">`start_date` = #{startDate},</if>
            <if test="endDate != null">`end_date` = #{endDate},</if>
            <if test="managerId != null">`manager_id` = #{managerId},</if>
            <if test="remark != null">`remark` = #{remark},</if>
        </set>
        where `id` = #{id}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select `id`, `create_time`, `update_time`, `trade_no`, `corp_id`, `product_id`, `contract_no`, `bill_plan`,
        `recharge_type`, `amount`, `balance`, `start_date`, `end_date`, `manager_id`, `remark` from product_recharge
    </select>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        select `id`, `create_time`, `update_time`, `trade_no`, `corp_id`, `product_id`, `contract_no`, `bill_plan`,
        `recharge_type`, `amount`, `balance`, `start_date`, `end_date`, `manager_id`, `remark` from product_recharge
        where `id` = #{id}
    </select>

    <select id="countBy" resultType="Integer">
        select count(*) from product_recharge
        <where>
            <if test="corpId != null">`corp_id` = #{corpId}</if>
            <if test="productId != null">and `product_id` = #{productId}</if>
        </where>
    </select>
</mapper>