<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.bop.domain.mapper.DictRechargeTypeMapper">
    <resultMap id="BaseResultMap" type="DictRechargeType">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="enabled" property="enabled" jdbcType="TINYINT" />
        <result column="deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>

    <insert id="add" parameterType="DictRechargeType">
        insert into `dict_recharge_type`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="name != null">`name`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="enabled != null">`enabled`,</if>
            <if test="deleted != null">`deleted`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="DictRechargeType">
        update `dict_recharge_type` set `create_time` = #{createTime}, `update_time` = #{updateTime}, `name` = #{name},
        `remark` = #{remark}, `enabled` = #{enabled}, `deleted` = #{deleted} where `id` = #{id}
    </update>

    <update id="updateSkipNull" parameterType="DictRechargeType">
        update `dict_recharge_type`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="enabled != null">`enabled` = #{enabled},</if>
            <if test="deleted != null">`deleted` = #{deleted},</if>
        </set>
        where `id` = #{id}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select `id`, `create_time`, `update_time`, `name`, `remark`, `enabled`, `deleted` from `dict_recharge_type`
    </select>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        select `id`, `create_time`, `update_time`, `name`, `remark`, `enabled`, `deleted` from `dict_recharge_type`
        where `id` = #{id}
    </select>

    <select id="findByName" parameterType="String" resultMap="BaseResultMap">
        select `id`, `create_time`, `update_time`, `name`, `remark`, `enabled`, `deleted` from `dict_recharge_type`
        where `name` = #{name}
    </select>

    <select id="getByStatus" parameterType="Integer" resultMap="BaseResultMap">
        select `id`, `name`, `remark`, `enabled` from `dict_recharge_type` where `deleted` = 0
        <if test="enabled != null">and `enabled` = #{enabled}</if>
    </select>
</mapper>