<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.bop.domain.mapper.ProductClientInfoMapper">
    <resultMap id="BaseResultMap" type="ProductClientInfo">
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="product_name" property="productName" jdbcType="VARCHAR" />
        <result column="app_id" property="appId" jdbcType="VARCHAR" />
        <result column="client_product_id" property="clientProductId" jdbcType="BIGINT" />
        <result column="bill_plan" property="billPlan" jdbcType="TINYINT" />
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="unit_amt" property="unitAmt" jdbcType="DECIMAL" />
    </resultMap>

    <select id="getListByClient" parameterType="Long" resultMap="BaseResultMap">
        select
            p.`id`          as product_id,
            p.`name`        as product_name,
            cp.`app_id`     as app_id,
            cp.`id`         as client_product_id,
            cp.`bill_plan`  as bill_plan,
            pr.`start_date` as start_date,
            pr.`end_date`   as end_date,
            pr.`amount`     as amount,
            pr.`balance`    as balance,
            pr.`unit_amt`   as unit_amt
        from `product` p
            left join `client_product` cp
                on p.`id` = cp.`product_id` and cp.`client_id` = #{clientId}
            left join `product_recharge` pr
                on cp.`latest_recharge_id` = pr.`id`
        where p.`enabled` = 1
    </select>
</mapper>