<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.bop.domain.mapper.ProductTxtMapper">
    <resultMap id="BaseResultMap" type="ProductTxt">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="content" property="content" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="add" parameterType="ProductTxt">
        insert into `product_txt`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="content != null">`content`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="content != null">#{content},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="ProductTxt">
        update `product_txt` set `create_time` = #{createTime}, `update_time` = #{updateTime}, `content` = #{content}
        where `id` = #{id}
    </update>

    <update id="updateSkipNull" parameterType="ProductTxt">
        update `product_txt`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="content != null">`remark` = #{content},</if>
        </set>
        where `id` = #{id}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select `id`, `create_time`, `update_time`, `content` from `product_txt`
    </select>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        select `id`, `create_time`, `update_time`, `content` from `product_txt` where `id` = #{id}
    </select>

</mapper>