<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.bop.domain.mapper.UserProductMapper">
    <resultMap id="BaseResultMap" type="UserProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="app_key" property="appKey" jdbcType="VARCHAR" />
        <result column="req_host" property="reqHost" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `user_id`, `product_id`, `app_key`, `req_host`
        from `user_product`
    </sql>

    <insert id="add" parameterType="UserProduct">
        insert into `user_product`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="userId != null">`user_id`,</if>
            <if test="productId != null">`product_id`,</if>
            <if test="appKey != null">`app_key`,</if>
            <if test="reqHost != null">`req_host`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="appKey != null">#{appKey},</if>
            <if test="reqHost != null">#{reqHost},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="UserProduct">
        update `user_product`
        set `create_time` = #{createTime},
            `update_time` = #{updateTime},
            `user_id`     = #{userId},
            `product_id`  = #{productId},
            `app_key`     = #{appKey},
            `req_host`    = #{reqHost}
        where `id` = #{id}
    </update>

    <update id="updateSkipNull" parameterType="UserProduct">
        update `user_product`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="appKey != null">`app_key` = #{appKey},</if>
            <if test="reqHost != null">`req_host` = #{reqHost},</if>
        </set>
        where `id` = #{id}
    </update>

    <select id="findByUserAndProduct" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `user_id` = #{userId} and `product_id` = #{productId}
    </select>
</mapper>