<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/style.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/base.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" media="all"/>
    <link href="../plugins/paging/css/paging.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/picker-date-range/dateRange.css"/>

</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>
    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="javascript:">财务管理<span class="layui-box">&gt;</span></a>
            <a href="javascript:">核对管理<span class="layui-box">&gt;</span></a>
            <a><cite>账单核对</cite></a>
        </div>
        <div class="p20">
            <ul class="search-list clearfix border-b2 pb25">
                <li>
                    公司简称：
                    <input type="text" id="shortName" name="shortName" placeholder="请输入" class="search-input"/>
                </li>
                <li>计费方式：
                    <select name="modules" lay-verify="required" lay-search="" class="select-list" id="rechargeType">
                        <option value="">全部</option>
                        <option th:each="o : ${billPlanList}" th:value="${o.key}" th:text="${o.value}"></option>
                    </select>
                </li>
                <li>产品：
                    <div class="layui-inline">
                        <div class="layui-input-inline layui-form">
                            <select name="city" lay-verify="" lay-search="" class="select-list" id="productId">
                                <option value="">全部</option>
                                <option th:each="item:${productInfoList}" th:value="${item.id}"
                                        th:text="${item.name}"></option>
                            </select>
                        </div>
                    </div>
                </li>
                <!--li class="position-r">选择时间：<em class="inline-block">
                    <input type="text" autocomplete="off" class="layui-input date_picker"
                           id="selectDate"/></em>
                    <i class="layui-icon fz-24 date-icon col4" style="right: 15px;">&#xe637;</i></li-->
                <li class="position-r">选择时间：
                    <div class="ta_date" id="div_date1">
                        <span class="date_title" id="date1"></span>
                        <a class="opt_sel" id="input_trigger1" href="#">
                            <i class="i_orderd"></i>
                        </a>
                    </div>
                    <input type="hidden" id="startDate" th:value="${startDate}"/>
                    <input type="hidden" id="endDate" th:value="${endDate}"/>
                    <div id="datePicker1"></div>
                </li>
                <li>
                    <button class="check-button" onclick="billListInit()">查询</button>
                </li>
            </ul>
            <div class="clearfix mt20"><em id="showStats"></em><span
                    class="fr"><i class="col2 mr10">一次最多导出1000条</i><a
                    href="javascript:" class="add-button" onclick="clientOutPrint()">导出</a></span></div>
            <div class="layui-form mt20">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>消费单号</th>
                        <th>公司</th>
                        <th>公司简称</th>
                        <th>账号</th>
                        <th>产品服务</th>
                        <th>计费方式</th>
                        <th>是否成功</th>
                        <th>消费(元)</th>
                        <th>余额(元)</th>
                    </tr>
                    </thead>
                    <tbody id="dataBody"></tbody>
                </table>
            </div>
            <div class="box mt30" id="pagination"></div>
        </div>
    </div>
    <div class="layui-side layui-bg-black kit-side" th:include="finance :: left"></div>
</div>
<script src="http://www.jq22.com/jquery/1.8.3/jquery.min.js"></script>
<script th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" src="/plugins/js/jquery.date_input.pack.js"></script>
<script type="text/javascript" th:src="@{/js/logout.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script type="text/javascript" th:src="@{/js/password.js}"></script>
<script type="text/javascript" th:src="@{/plugins/paging/js/paging.js}"></script>
<script type="text/javascript" th:src="@{/picker-date-range/dateRange.js}"></script>
<script type="text/javascript" th:src="@{/js/bill.list.js}"></script>
</body>
</html>