<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">

    <div th:include="common :: top"></div>
    <div class="layui-side layui-bg-black kit-side" th:include="finance :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="javascript:">财务管理</a>
            <a href="javascript:">核对管理</a>
            <a><cite>账单核对</cite></a>
        </div>

        <div class="p20 layui-form">
            <ul class="search-list clearfix border-b2 pb25">
                <li>
                    <input type="text" name="keyword" id="keyword" placeholder="请输入：公司名称"
                           class="layui-input" style="width: 240px"/>
                </li>
                <li>
                    <label class="layui-form-label">产品服务：</label>
                    <div class="layui-inline" style="width: 180px">
                        <div class="layui-input-inline layui-form">
                            <select name="product" id="product" title="产品服务" lay-search="">
                                <option value="">全部</option>
                                <option th:each="o : ${productDict}" th:value="${o.key}" th:text="${o.value}"></option>
                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <label class="layui-form-label">计费方式：</label>
                    <div class="layui-input-inline" style="width: 180px">
                        <select name="bill-plan" id="billPlan" title="计费方式" lay-search="">
                            <option value="">全部</option>
                            <option value="1">按时间计费</option>
                            <option value="2">按次计费</option>
                            <option value="3">按击中计费</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label class="layui-form-label">是否击中：</label>
                    <div class="layui-input-inline" style="width: 180px">
                        <select name="hit" id="hit" title="是否击中" lay-search="">
                            <option value="">全部</option>
                            <option value="0">未击中</option>
                            <option value="1">击中</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label class="layui-form-label">消费时间：</label>
                    <div class="layui-input-inline" style="width: 180px">
                        <input type="text" class="layui-input" id="dates" />
                        <input type="hidden" id="fromDate" name="fromDate"/>
                        <input type="hidden" id="toDate" name="toDate"/>
                    </div>
                </li>
                <li th:if="${#lists.contains(i_privilege,'51201')}">
                    <button class="layui-btn" lay-submit="" lay-filter="search">查询</button>
                </li>
            </ul>
            <div class="clearfix mt20" th:if="${#lists.contains(i_privilege,'51202')}">
                <em id="summary" class="fz-14"></em>
                <span class="fr">
                    <i class="col2 mr10">一次最多导出1000条</i>
                    <a href="javascript:;" class="add-button" onclick="exportXlsx()">导出</a>
                </span>
            </div>
            <div class="mt20">
                <table class="layui-table" id="dataTable"></table>
            </div>
        </div>
    </div>
</div>
<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/business/finance-consumption.js"></script>
<script type="text/html" id="hittpl">
    {{# if(d.isHit === 1){ }}
    <div>击中</div>
    {{# } else { }}
    <div>未击中</div>
    {{# } }}
</script>
</body>
</html>