<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/monitor/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="monitor/common :: top"></div>

    <div th:include="monitor/common :: left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="p20">
            <div class="public-title3">警报设置</div>
            <div class="layui-row layui-col-space10 mt15">
                <!--请求趋势-->
                <dl class="grid-demo grid-demo-bg1 public-warp1">
                    <dd>
                        <div class="fz-16 col6 mt30">产品监控</div>
                        <table class="public-table1 mt30">
                            <thead>
                            <tr>
                                <th>错误项目</th>
                                <th>告警方式</th>
                                <th>预警阀值</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="product-warning">
                            <!--<tr>
                                <td>请求失败过多</td>
                                <td class="lh25">
                                    <div class=" position-r">
                                        手机短信 <i class="col3 fz-14 ml10 detail cp">详情</i>
                                        &lt;!&ndash;提示层&ndash;&gt;
                                        <div class="detai-ceng">
                                            第三方接口验证请求失败次数过多
                                        </div>
                                        &lt;!&ndash;提示层 end&ndash;&gt;
                                    </div>
                                    <div class=" position-r">
                                        现场警报 <i class="col3 fz-14 ml10 detail cp">详情</i>
                                        &lt;!&ndash;提示层&ndash;&gt;
                                        <div class="detai-ceng">
                                            第三方接口验证请求失败次数过多2321312321第三方接口验证请求失败次数过多2321312321第三方接口验证请求失败次数过多2321312321
                                        </div>
                                        &lt;!&ndash;提示层 end&ndash;&gt;
                                    </div>
                                </td>
                                <td class="lh25">
                                    严重 100&lt;= 连续出错 &lt;800<br/>
                                    一般 50&lt;= 连续出错 &lt;100
                                </td>
                                <td><a href="/warning/setting/edit.html" class="col4 important">编辑</a> | <span
                                        class="col3 important">停用</span></td>
                            </tr>-->
                            </tbody>
                        </table>

                        <div class="fz-16 col6 mt30">客户监控</div>
                        <table class="public-table1 mt30">
                            <thead>
                            <tr>
                                <th>错误项目</th>
                                <th>告警方式</th>
                                <th>预警阀值</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="client-warning">
                            <!--<tr>
                                <td>请求失败过多</td>
                                <td class="lh25">
                                    <div class=" position-r">
                                        手机短信 <i class="col3 fz-14 ml10 detail cp">详情</i>
                                        &lt;!&ndash;提示层&ndash;&gt;
                                        <div class="detai-ceng">
                                            第三方接口验证请求失败次数过多
                                        </div>
                                        &lt;!&ndash;提示层 end&ndash;&gt;
                                    </div>
                                    <div class=" position-r">
                                        现场警报 <i class="col3 fz-14 ml10 detail cp">详情</i>
                                        &lt;!&ndash;提示层&ndash;&gt;
                                        <div class="detai-ceng">
                                            第三方接口验证请求失败次数过多2321312321第三方接口验证请求失败次数过多2321312321第三方接口验证请求失败次数过多2321312321
                                        </div>
                                        &lt;!&ndash;提示层 end&ndash;&gt;
                                    </div>
                                </td>
                                <td class="lh25">
                                    严重 100&lt;= 连续出错 &lt;800<br/>
                                    一般 50&lt;= 连续出错 &lt;100
                                </td>
                                <td><a href="/warning/setting/edit.html" class="col4 important">编辑</a> | <span
                                        class="col3 important">停用</span></td>
                            </tr>-->
                            </tbody>
                        </table>
                    </dd>
                </dl>
                <!--请求趋势 end-->
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/monitor-common.js"></script>
<script type="text/javascript" src="/static/business/warning-list.js"></script>
</body>

</html>