<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/monitor/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="monitor/common :: top"></div>

    <div th:include="monitor/common :: left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="p20">
            <div class="public-title3">警报设置</div>
            <div class="layui-row layui-col-space10 mt15">
                <!--请求趋势-->
                <dl class="grid-demo grid-demo-bg1 public-warp1">
                    <dd>
                        <div class="fz-16 col6 mt30">产品监控</div>
                        <table class="public-table1 mt30">
                            <thead>
                            <tr>
                                <th width="15%">错误项目</th>
                                <th width="15%">告警方式</th>
                                <th>预警阀值</th>
                                <th width="15%">操作</th>
                            </tr>
                            </thead>
                            <tbody id="product-warning">

                            </tbody>
                        </table>

                        <div class="fz-16 col6 mt30">客户监控</div>
                        <table class="public-table1 mt30">
                            <thead>
                            <tr>
                                <th width="15%">错误项目</th>
                                <th width="15%">告警方式</th>
                                <th>预警阀值</th>
                                <th width="15%">操作</th>
                            </tr>
                            </thead>
                            <tbody id="client-warning">
                            
                            </tbody>
                        </table>
                    </dd>
                </dl>
                <!--请求趋势 end-->
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/monitor-common.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/business/warning-list.js"></script>
</body>

</html>