<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!-- top -->
<div th:fragment="top">
    <div class="layui-header">
        <div class="layui-logo">元数据管理平台</div>
        <div class="layui-logo kit-logo-mobile">K</div>
        <ul class="layui-nav layui-layout-left kit-nav layui-menu">
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'40000')}">
                <a th:href="@{/stats/index.html}">
                    <img src="./../../images/icon/menu-icon4.png"/>
                    <p th:text="${i_system.m40000}">数据统计管理mingdong.net</p>
                </a>
            </li>
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'30000')}">
                <a th:href="@{/client/index.html}">
                    <img src="./../../images/icon/menu-icon3.png"/>
                    <p th:text="${i_system.m30000}">客户管理mingdong.net</p>
                </a>
            </li>
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'20000')}">
                <a th:href="@{/product/index.html}">
                    <img src="./../../images/icon/menu-icon2.png"/>
                    <p th:text="${i_system.m20000}">产品管理mingdong.net</p>
                </a>
            </li>
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'50000')}">
                <a th:href="@{/finance/recharge.html}">
                    <img src="./../../images/icon/menu-icon2.png"/>
                    <p th:text="${i_system.m50000}">财务管理mingdong.net</p>
                </a>
            </li>
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'10000')}">
                <a th:href="@{/manager/index.html}">
                    <img src="./../../images/icon/menu-icon1.png"/>
                    <p th:text="${i_system.m10000}">系统管理mingdong.net</p>
                </a>
            </li>
            <li class="layui-nav-item bd-right-none important">
                <a href="javascript:;">
                    <img src="http://m.zhengjinfan.cn/images/0.jpg" class="layui-nav-img"/>
                    <p th:text="${i_name}">管理员</p>
                </a>
                <ul class="layui-nav-child">
                    <li class="cp"><a id="changePwd">修改密码</a></li>
                    <li class="bd-left-none important cp"><a th:href="@{/logout}">退出</a></li>
                </ul>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right kit-nav"></ul>
    </div>
</div>

<!-- copyright -->
<div th:fragment="copyright">
    2017 &copy;<a href="http://kit.zhengjinfan.cn/">kit.zhengjinfan.cn/</a> MIT license
</div>
</body>
</html>