<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="top">
    <div class="layui-header">
        <div class="layui-logo mt25 pl30" style="width: 330px;">
            <img src="/static/images/logo.png" />
            <a href="/enter.html" th:if="${i_enter}" class="tz-btn">&nbsp;&nbsp;选择系统</a>
        </div>
        <div class="layui-logo kit-logo-mobile"></div>
        <ul class="layui-nav layui-layout-left kit-nav layui-menu">
            <li class="layui-nav-item" >
                <a href="/home.html">
                    <img src="/static/images/icon/menu-icon4.png"/>
                    <p>首页</p>
                </a>
            </li>
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'30000')}">
                <a href="/client/index.html">
                    <img src="/static/images/icon/menu-icon3.png"/>
                    <p th:text="${i_system.m30000}">客户管理</p>
                </a>
            </li>
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'50000')}">
                <a href="/finance/recharge.html">
                    <img src="/static/images/icon/menu-icon5.png"/>
                    <p th:text="${i_system.m50000}">财务管理</p>
                </a>
            </li>
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'10000')}">
                <a href="/setting/user.html">
                    <img src="/static/images/icon/menu-icon1.png"/>
                    <p th:text="${i_system.m10000}">系统管理</p>
                </a>
            </li>
            <li class="layui-nav-item bd-right-none important">
                <a>
                    <img src="http://m.zhengjinfan.cn/images/0.jpg" class="layui-nav-img"/>
                    <p id="manager-user-name-id">管理员</p>
                </a>
                <ul class="layui-nav-child">
                    <li class="cp"><a id="changePwd">修改密码</a></li>
                    <li class="bd-left-none important cp"><a href="/user/logout">退出</a></li>
                </ul>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right kit-nav"></ul>
    </div>
    <script>
        document.getElementById("manager-user-name-id").innerHTML = sessionStorage.getItem("user_name");
    </script>
</div>
<div th:fragment="point">
    <div class="layui-layer-title">修改密码</div>
    <div class="mb30">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label">旧密码：</label>
                <div class="layui-input-block">
                    <input type="password" id="oldPwd" placeholder="当前账号密码" class="layui-input w80"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码：</label>
                <div class="layui-input-block">
                    <input type="password" id="newPwd" placeholder="密码由6-20位字母数字组成" class="layui-input w80"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">重复密码：</label>
                <div class="layui-input-block">
                    <input type="password" id="repeatPwd" placeholder="密码由6-20位字母数字组成" class="layui-input w80"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div>
                <button class="layui-btn" id="savePwd">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>