<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css"
          href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin" style="background: #3c9fe2;">
    <div class="layui-header container" style="height: 80px;">
        <div class="layui-logo mt10"><img src="/static/images/logo.png"/></div>
        <div class="layui-logo kit-logo-mobile">元数据管理平台</div>
        <ul class="fr">
            <li class="layui-nav-item bd-right-none mt25 important">
                <a href="javascript:" id="logout">
                    <img src="/static/images/icon/exit-icon.png"/>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right kit-nav"></ul>
    </div>
    <div style="background: #f7f7f7; min-height: 768px;" class="layui-layout layui-layout-admin kit-layout-admin">
        <div class="container">
            <h1 class="public-title">选择系统</h1>
            <ul class="choose clearfix">
                <li onclick="window.location.href='home.html'">
                    <img src="/static/images/choose-icon1.png"/>
                    <p>客户管理平台</p>
                </li>
                <li onclick="window.location.href='stats.html'">
                    <img src="/static/images/choose-icon2.png"/>
                    <p>运营监控系统</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script>
    var message;
    layui.config({
        base: '/static/build/js/'
    }).use(['app', 'message'], function() {
        var app = layui.app;
        app.set({type: 'iframe'}).init();
        message = layui.message;
    });
</script>
</body>
</html>