<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>


<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">元数据管理平台</div>
        <div class="layui-logo kit-logo-mobile">元数据管理平台</div>
        <ul class="layui-nav layui-layout-left kit-nav layui-menu">
            <li class="layui-nav-item bd-right-none important">
                <a>
                    <img src="http://m.zhengjinfan.cn/images/0.jpg" class="layui-nav-img"/>
                    <p id="manager-user-name-id">管理员</p>
                </a>
                <ul class="layui-nav-child">
                    <li class="cp"><a id="changePwd">修改密码</a></li>
                    <li class="bd-left-none important cp"><a href="/user/logout">退出</a></li>
                </ul>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right kit-nav"></ul>
    </div>
    <script>
        document.getElementById("manager-user-name-id").innerHTML = sessionStorage.getItem("user_name");
    </script>
    <div class="layui-body">
        <div class="p20">
            <dl class="public-data">
                <dd>
                    <ul class="public-data-list layui-row">
                        <li class="layui-col-md3 mr40 ml40" onclick="window.location.href='home.html'">
                            <span class="layui-col-md3 mt25"><img src="/static/images/img2.png"/></span>
                            <div class="layui-col-md9 fz-14">
                                <p class="fz-16 mt10">管理平台</p>
                            </div>
                        </li>
                        <li class="layui-col-md3" onclick="window.location.href='stats.html'">
                            <span class="layui-col-md3 mt25"><img src="/static/images/img1.png"/></span>
                            <div class="layui-col-md9 fz-14">
                                <p class="fz-16 mt10">运营监控平台</p>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>

        </div>
    </div>


</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>

</body>
</html>