<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="left">
    <div class="layui-side-scroll">
        <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
        <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar="">
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'51000')}">
                <a>
                    <i class="icon icon6" aria-hidden="true"></i>
                    <em th:text="${i_system.m51000}">核对管理</em>
                </a>
                <dl class="layui-nav-child">
                    <dd th:class="${i_module eq 'finance-recharge'} ? 'layui-this':''"
                        th:if="${#lists.contains(i_privilege,'51100')}">
                        <a href="/finance/recharge.html">
                            <i class="layui-icon">&#xe602;</i>
                            <span th:text="${i_system.m51100}">充值记录</span>
                        </a>
                    </dd>
                    <dd th:class="${i_module eq 'finance-consumption'} ? 'layui-this':''"
                        th:if="${#lists.contains(i_privilege,'51200')}">
                        <a href="/finance/consumption.html">
                            <i class="layui-icon">&#xe602;</i>
                            <span th:text="${i_system.m51200}">核对账单</span>
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</body>
</html>