<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>


<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-body">
        <div class="p20">
            <dl class="public-data">
                <dt class="mt0 important">首页</dt>
                <dd>
                    <ul class="public-data-list layui-row">
                        <li class="layui-col-md3 mr40 ml40">
                            <span class="layui-col-md3 mt25"><img src="/static/images/img2.png"/></span>
                            <div class="layui-col-md9 fz-14">
                                <p class="fz-16 mt10">本月充值</p>
                                <p class="col4 mt10"><span th:text="${amount}"></span>元 </p>
                            </div>
                        </li>
                        <li class="layui-col-md3">
                            <span class="layui-col-md3 mt25"><img src="/static/images/img1.png"/></span>
                            <div class="layui-col-md9 fz-14">
                                <p class="fz-16 mt10">本月新增客户</p>
                                <p class="col4 mt10"><span th:text="${clientCountByDate}"></span>个 </p>
                            </div>
                        </li>
                        <li class="layui-col-md3">
                            <span class="layui-col-md3 mt25"><img src="/static/images/img1.png"/></span>
                            <div class="layui-col-md9 fz-14">
                                <p class="fz-16 mt10">总客户</p>
                                <p class="col4 mt10"><span th:text="${clientCountAll}"></span>个 </p>
                            </div>
                        </li>
                        <li class="layui-col-md3">
                            <span class="layui-col-md3 mt25"><img src="/static/images/img1.png"/></span>
                            <div class="layui-col-md9 fz-14">
                                <p class="fz-16 mt10">需安抚客户</p>
                                <p class="col4 mt10"><span ></span>个 </p>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <div >
                <ul>
                    <li class="layui-btn head-type" onclick="getDateList()">时间服务类型</li>
                    <li class="layui-btn head-type" onclick="getTimeList()">计次服务类型</li>
                </ul>
                <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
                <div class="tr mt10" id="more-remind"></div>
            </div>
        </div>
    </div>


</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/business/home.js"></script><script type="text/html" id="operation-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit" href="javascript:">通知</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" href="javascript:">查看</a>
</script>

<script type="text/html" id="status-tpl">
    {{# if(d.status === 1){ }}
    <div>已通知</div>
    {{# } else { }}
    <div>未通知</div>
    {{# } }}
</script>
</body>
</html>