<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>


<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>


    <div style="background: #f7f7f7; min-height: 768px;" class="layui-layout layui-layout-admin kit-layout-admin">
        <div class="container">
            <dl class="public-data">
                <dt class="mt0 pt20 important">首页</dt>
                <dd class="p0 important">
                    <ul class="public-data-list layui-row home-list">
                        <li>
                            <div class="fz-14 tc">
                                <p class="fz-16 mt10">本月充值</p>
                                <p class="col4 mt10"><span th:text="${amount} + '元'"></span></p>
                            </div>
                        </li>
                        <li>
                            <div class="tc fz-14">
                                <p class="fz-16 mt10">本月新增客户</p>
                                <p class="col4 mt10"><span th:text="${clientCountByDate} + '个'"></span></p>
                            </div>
                        </li>
                        <li>
                            <div class="tc fz-14">
                                <p class="fz-16 mt10">总客户</p>
                                <p class="col4 mt10"><span th:text="${clientCountAll} + '个'"></span></p>
                            </div>
                        </li>
                        <li>
                            <div class="tc fz-14">
                                <p class="fz-16 mt10">需安抚客户</p>
                                <p class="col4 mt10"><span>当前无待安抚客户</span></p>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <div class="mt30">
                <ul class="home-table-tab clearfix">
                    <li class="item active" onclick="getDateList()">时间服务</li>
                    <li class="item" onclick="getTimeList()">计次服务</li>
                </ul>
                <p class="mt5 col3 mt15" style="display: none;" id="tip">余额小于等于￥500</p>
                <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
                <div class="tr mt10" id="more-remind"></div>
            </div>
        </div>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>


<!--通知-->
<div id="notice-warp" class="modal">
    <div class="layui-layer-title p0 important">标记已通知</div>
    <div class="mb30">
        <div class="layui-form-item p30">
            <div class="tl fz-14">备注:</div>
            <div class="mt15">
                <input type="hidden" id="remind-id"/>
                <textarea id="remark" placeholder="请输入内容" class="layui-textarea" maxlength="120"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div>
                <a href="javascript:" class="layui-btn" onclick="saveNotice()">保存</a>
            </div>
        </div>
    </div>
</div>
<!--通知 end-->

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/business/home.js"></script>

<script type="text/html" id="operation-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit" href="javascript:" onclick="showNotice('{{d.id}}')">标记</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" href="/client/detail.html?id={{d.clientId}}"
       th:if="${#lists.contains(i_privilege,'31101')}">查看
    </a>
</script>

<script type="text/html" id="status-tpl">
    {{# if(d.status === 1){ }}
    <div>已通知</div>
    {{# } else { }}
    <div>未通知</div>
    {{# } }}
</script>
</body>
</html>