<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>明动元数据管理平台</title>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
    <link rel="stylesheet" href="/static/css/login.css" media="all"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
</head>

<body id="login" style="background-color:#2273c6">
<div id="login-wrapper" class="png_bg">
    <div id="login-top">
        <img src="/static/images/title.png"/>
    </div>
    <div id="login-content">
        <p class="clearfix">
            <label style="color:#000000">用户名：</label>
            <input class="text-input" type="text" id="username" title="请输入您的用户名"/>
        </p>
        <p class="clearfix mt25 mb25">
            <label style="color:#000000">密　码：</label>
            <input class="text-input" type="password" id="password" title="请输入您的密码"/>
        </p>
        <p class="clearfix">
            <label style="color:#000000">验证码：</label>
            <input type="text" class="text-input text_auth" maxlength="6" id="code" title="请识别右方的验证码"/>
            <a class="img_auth">
                <img th:src="${image}" id="captchaImg"/>
            </a>
        </p>
        <p class="mt20">
            <input class="button" type="button" style="padding: 10px 20px; width: 100%; font-size: 18px!important;"
                   id="loginBt" value="登 录"/>
        </p>
    </div>
</div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/business/index.js"></script>
</body>
</html>
