<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!-- top -->
<div th:fragment="top">
    <div class="layui-side-scroll">
        <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar="">
            <li class="layui-nav-item" th:if="${#lists.contains(i_privilege,'21000')}">
                <a class="" href="javascript:;">
                    <i class="icon icon2" aria-hidden="false"></i>
                    <em th:text="${i_system.m21000}">产品管理mingdong.net</em></a>
                <dl class="layui-nav-child">
                    <dd th:class="${i_module eq 'product_index'} ? 'layui-this':''"
                        th:if="${#lists.contains(i_privilege,'21200')}">
                        <a th:href="@{/setting/product.html}">
                            <i class="layui-icon">&#xe602;</i>
                            <span th:text="${i_system.m21200}">产品管理mingdong.net</span></a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</body>
</html>