<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="point">
    <div class="layui-layer-title">修改密码</div>
    <div class="mb30">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label">旧密码：</label>
                <div class="layui-input-block">
                    <input type="password" id="oldPwd" placeholder="请输入" class="layui-input w80"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码：</label>
                <div class="layui-input-block">
                    <input type="password" id="newPwd" placeholder="请输入" class="layui-input w80"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">重复新密码：</label>
                <div class="layui-input-block">
                    <input type="password" id="repeatPwd" placeholder="请输入" class="layui-input w80"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="savePwd">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>