<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="setting :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/setting/user.html">系统管理</a>
            <a href="/setting/user.html">账户管理</a>
            <a><cite>编辑账号</cite></a>
        </div>
        <div class="p20">
            <div class="form-title mb20">账号信息</div>
            <div class="w40 m30 layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>帐号权限：</label>
                    <div class="layui-input-block">
                        <select name="modules" id="groupId" lay-filter="role-dict">
                            <option th:each="o : ${roleDict}" th:value="${o.key}"
                                    th:text="${o.value}" th:selected="${roleId} eq ${o.key}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>角色：</label>
                    <div class="layui-input-block">
                        <select name="role-type" id="roleType">
                            <option value="1" th:selected="${roleType} == 1">管理员</option>
                            <option value="2" th:selected="${roleType} == 2">业务员</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名：</label>
                    <div class="layui-input-block" th:text="${username}"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" id="name" name="name" th:value="${name}" placeholder="请输入" autocomplete="off"
                               class="layui-input" maxlength="20" notnull="true" datames="姓名"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>联系电话：</label>
                    <div class="layui-input-block">
                        <input type="tel" id="phone" name="phone" th:value="${phone}" placeholder="请输入"
                               autocomplete="off" class="layui-input"
                               onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" maxlength="20"
                               notnull="true" datatype="phoneOrMobile" datames="联系电话"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">QQ：</label>
                    <div class="layui-input-block">
                        <input type="tel" id="qq" name="qq" th:value="${qq}" placeholder="请输入" autocomplete="off"
                               class="layui-input" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" maxlength="20"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>账号状态：</label>
                    <div class="layui-input-block layui-form">
                        <input type="radio" name="enabled" value="1" title="正常" th:checked="${enabled} == 1"/>
                        <div class="layui-unselect layui-form-radio layui-form-radioed">
                            <i class="layui-anim layui-icon layui-anim-scaleSpring"></i><span>正常</span>
                        </div>
                        <input type="radio" name="enabled" value="0" title="禁用" th:checked="${enabled} == 0"/>
                        <div class="layui-unselect layui-form-radio">
                            <i class="layui-anim layui-icon"></i><span>禁用</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-title mb20">设置权限</div>
            <div class="m30">
                <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                    <thead>
                    <tr>
                        <th>一级栏目</th>
                        <th>二级栏目</th>
                        <th>三级栏目</th>
                        <th>具体权限</th>
                    </tr>
                    </thead>
                    <tbody id="dataBody">
                    <tr>
                        <td rowspan="7">系统管理</td>
                        <td rowspan="2">账户管理</td>
                        <td>后台账号管理</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p11100"/>全选
                            <input type="checkbox" class="privilege p11100" id="11101" p-id="p11100" checked=""
                                   th:checked="${#lists.contains(privilege,'11101')}"/>添加
                            <input type="checkbox" class="privilege p11100" id="11102" p-id="p11100" checked=""
                                   th:checked="${#lists.contains(privilege,'11102')}"/>编辑
                            <input type="checkbox" class="privilege p11100" id="11103" p-id="p11100" checked=""
                                   th:checked="${#lists.contains(privilege,'11103')}"/>禁用
                        </td>
                    </tr>
                    <tr>
                        <td>权限分组</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p11200"/>全选
                            <input type="checkbox" class="privilege p11200" id="11201" p-id="p11200" checked=""
                                   th:checked="${#lists.contains(privilege,'11201')}"/>添加
                            <input type="checkbox" class="privilege p11200" id="11202" p-id="p11200" checked=""
                                   th:checked="${#lists.contains(privilege,'11202')}"/>编辑
                            <input type="checkbox" class="privilege p11200" id="11203" p-id="p11200" checked=""
                                   th:checked="${#lists.contains(privilege,'11203')}"/>禁用
                        </td>
                    </tr>
                    <tr>
                        <td>产品管理</td>
                        <td>产品列表</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p21200"/>全选
                            <input type="checkbox" class="privilege p21200" id="21201" p-id="p21200" checked=""
                                   th:checked="${#lists.contains(privilege,'21201')}"/>添加
                            <input type="checkbox" class="privilege p21200" id="21202" p-id="p21200" checked=""
                                   th:checked="${#lists.contains(privilege,'21202')}"/>编辑
                            <input type="checkbox" class="privilege p21200" id="21203" p-id="p21200" checked=""
                                   th:checked="${#lists.contains(privilege,'21203')}"/>禁用
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">系统设置</td>
                        <td>栏目管理</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p12100"/>全选
                            <input type="checkbox" class="privilege p12100" id="12103" p-id="p12100" checked=""
                                   th:checked="${#lists.contains(privilege,'12103')}"/>编辑
                        </td>
                    </tr>
                    <tr>
                        <td>充值类型</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p12200"/>全选
                            <input type="checkbox" class="privilege p12200" id="12201" p-id="p12200" checked=""
                                   th:checked="${#lists.contains(privilege,'12201')}"/>添加类型
                            <input type="checkbox" class="privilege p12200" id="12202" p-id="p12200" checked=""
                                   th:checked="${#lists.contains(privilege,'12202')}"/>是否显示
                            <input type="checkbox" class="privilege p12200" id="12203" p-id="p12200" checked=""
                                   th:checked="${#lists.contains(privilege,'12203')}"/>编辑
                        </td>
                    </tr>
                    <tr>
                        <td>行业分类</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p12300"/>全选
                            <input type="checkbox" class="privilege p12300" id="12301" p-id="p12300" checked=""
                                   th:checked="${#lists.contains(privilege,'12301')}"/>添加行业
                            <input type="checkbox" class="privilege p12300" id="12302" p-id="p12300" checked=""
                                   th:checked="${#lists.contains(privilege,'12302')}"/>是否显示
                            <input type="checkbox" class="privilege p12300" id="12303" p-id="p12300" checked=""
                                   th:checked="${#lists.contains(privilege,'12303')}"/>编辑
                            <input type="checkbox" class="privilege p12300" id="12305" p-id="p12300" checked=""
                                   th:checked="${#lists.contains(privilege,'12305')}"/>增加子行业
                        </td>
                    </tr>
                    <tr>
                        <td>其他设置</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p12400"/>全选
                            <input type="checkbox" class="privilege p12400" id="12401" p-id="p12400" checked=""
                                   th:checked="${#lists.contains(privilege,'12401')}"/>设置客服
                            <input type="checkbox" class="privilege p12400" id="12402" p-id="p12400" checked=""
                                   th:checked="${#lists.contains(privilege,'12402')}"/>设置子账号数量
                        </td>
                    </tr>
                    <tr>
                        <td>
                            客户管理
                        </td>
                        <td>客户管理</td>
                        <td>客户管理
                        </td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p31100"/>全选
                            <input type="checkbox" class="privilege p31100" id="31101" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31101')}"/>查看
                            <input type="checkbox" class="privilege p31100" id="31102" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31102')}"/>添加
                            <input type="checkbox" class="privilege p31100" id="31103" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31103')}"/>编辑
                            <input type="checkbox" class="privilege p31100" id="31104" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31104')}"/>冻结
                            <input type="checkbox" class="privilege p31100" id="31105" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31105')}"/>解冻
                            <input type="checkbox" class="privilege p31100" id="31107" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31107')}"/>重置密码
                            <input type="checkbox" class="privilege p31100" id="31108" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31108')}"/>开通服务
                            <input type="checkbox" class="privilege p31100" id="31109" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31109')}"/>续签
                            <input type="checkbox" class="privilege p31100" id="31111" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31111')}"/>产品历史充值记录导出
                            <input type="checkbox" class="privilege p31100" id="31112" p-id="p31100" checked=""
                                   th:checked="${#lists.contains(privilege,'31112')}"/>产品消费明细导出
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">财务管理</td>
                        <td rowspan="2">核对管理</td>
                        <td>充值记录</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p51100"/>全选
                            <input type="checkbox" class="privilege p51100" id="51101" p-id="p51100" checked=""
                                   th:checked="${#lists.contains(privilege,'51101')}"/>查询
                            <input type="checkbox" class="privilege p51100" id="51102" p-id="p51100" checked=""
                                   th:checked="${#lists.contains(privilege,'51102')}"/>导出
                        </td>
                    </tr>
                    <tr>
                        <td>账单核对</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p51200"/>全选
                            <input type="checkbox" class="privilege p51200" id="51201" p-id="p51200" checked=""
                                   th:checked="${#lists.contains(privilege,'51201')}"/>查询
                            <input type="checkbox" class="privilege p51200" id="51202" p-id="p51200" checked=""
                                   th:checked="${#lists.contains(privilege,'51202')}"/>导出
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5">运营数据管理</td>
                        <td rowspan="5">运营数据管理</td>
                        <td>运营数据汇总</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41100"/>全选
                            <input type="checkbox" class="privilege p41100" id="41101" p-id="p41100" checked=""
                                   th:checked="${#lists.contains(privilege,'41101')}"/>查看
                        </td>
                    </tr>
                    <tr>
                        <td>客户数据</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41200"/>全选
                            <input type="checkbox" class="privilege p41200" id="41201" p-id="p41200" checked=""
                                   th:checked="${#lists.contains(privilege,'41201')}"/>查看
                            <input type="checkbox" class="privilege p41200" id="41202" p-id="p41200" checked=""
                                   th:checked="${#lists.contains(privilege,'41202')}"/>导出
                        </td>
                    </tr>
                    <tr>
                        <td>充值数据</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41300"/>全选
                            <input type="checkbox" class="privilege p41300" id="41301" p-id="p41300" checked=""
                                   th:checked="${#lists.contains(privilege,'41301')}"/>查看
                            <input type="checkbox" class="privilege p41300" id="41302" p-id="p41300" checked=""
                                   th:checked="${#lists.contains(privilege,'41302')}"/>导出
                        </td>
                    </tr>
                    <tr>
                        <td>营收数据</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41400"/>全选
                            <input type="checkbox" class="privilege p41400" id="41401" p-id="p41400" checked=""
                                   th:checked="${#lists.contains(privilege,'41401')}"/>查看
                            <input type="checkbox" class="privilege p41400" id="41402" p-id="p41400" checked=""
                                   th:checked="${#lists.contains(privilege,'41402')}"/>导出
                        </td>
                    </tr>
                    <tr>
                        <td>产品请求数据</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41500"/>全选
                            <input type="checkbox" class="privilege p41500" id="41501" p-id="p41500" checked=""
                                   th:checked="${#lists.contains(privilege,'41501')}"/>查看
                            <input type="checkbox" class="privilege p41500" id="41502" p-id="p41500" checked=""
                                   th:checked="${#lists.contains(privilege,'41502')}"/>导出
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="layui-form-item mt40">
                <div class="layui-input-block">
                    <input type="hidden" id="managerId" th:value="${managerId}"/>
                    <button class="layui-btn" onclick="saveManager()">保存</button>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/js/validate.js"></script>
<script type="text/javascript" src="/static/business/user-edit.js"></script>
</body>

</html>