<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="setting :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="javascript:">系统管理</a>
            <a href="javascript:">账户管理</a>
            <a><cite>账户管理</cite></a>
        </div>
        <div class="p20 layui-form">
            <ul class="search-list clearfix border-b2 pb25">
                <li>
                    角色：
                    <div class="layui-inline" style="width: 180px">
                        <select id="roleType" name="roleType" lay-search="">
                            <option value="">全部</option>
                            <option value="1">管理员</option>
                            <option value="2">业务员</option>
                            <option value="3">运营人员</option>
                        </select>
                    </div>
                </li>
                <li>
                    状态：
                    <div class="layui-inline" style="width: 120px">
                        <select id="enabled" name="enabled" lay-search="">
                            <option value="">全部</option>
                            <option value="1">正常</option>
                            <option value="0">已禁用</option>
                        </select>
                    </div>
                </li>
                <li>
                    <a class="layui-btn" lay-submit="" lay-filter="search">查询</a>
                </li>
            </ul>
            <div class="clearfix mt20" th:if="${#lists.contains(i_privilege,'11101')}">
                <a href="/setting/user/add.html" class="layui-btn fr">添加账号</a>
            </div>
            <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/business/user-list.js"></script>
<script type="text/html" id="operation-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit" href="/setting/user/edit.html?o={{d.id}}"
       th:if="${#lists.contains(i_privilege,'11102')}">编辑</a>
    {{# if(d.enabled === 1) { }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable"
       th:if="${#lists.contains(i_privilege,'11103')}">禁用</a>
    {{# } else { }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="enable"
       th:if="${#lists.contains(i_privilege,'11103')}">启用</a>
    {{# } }}
</script>
<script type="text/html" id="status-tpl">
    {{# if(d.enabled === 1){ }}
    <div>正常</div>
    {{# } else { }}
    <div>已禁用</div>
    {{# } }}
</script>
<script type="text/html" id="roleTypeTpl">
    {{# if(d.roleType === 1){ }}
    <div>管理员</div>
    {{# } else if(d.roleType === 2) { }}
    <div>业务员</div>
    {{# } else if(d.roleType === 3) { }}
    <div>运营人员</div>
    {{# } }}
</script>
</body>
</html>