<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="setting :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/setting/user.html">系统管理</a>
            <a href="/setting/menu.html">系统配置</a>
            <a><cite>栏目管理</cite></a>
        </div>
        <div class="p20">
            <dl class="jurisdiction-list">
                <dt class="clearfix">
                    <span class="w5">&nbsp;</span>
                    <span class="w20 tl">栏目名称</span>
                    <span class="w20">编号</span>
                    <span class="w10">图片</span>
                    <span class="w10">是否显示</span>
                    <span class="w20">操作</span>
                    <span class="w15">排序</span>
                </dt>
                <dd class="st_tree">
                    <ul class="jurisdiction-list-div jurisdiction-list-li  colum-list-li p0 important">
                        <block th:each="parent: ${list}">
                            <li class="clearfix jurisdiction-list-div" th:id="'menu-id-'+${parent.id}">
                                <em class="js-accordionTrigger w5"></em>
                                <a class="w20 tl important menu-name-class" th:text="${parent.name}"></a>
                                <a class="w20" th:text="${parent.id}"></a>
                                <a class="w10">
                                    <div class="file">
                                        <img src="../../static/images/add-img.png"/>
                                        <input type="file" name=""/>
                                    </div>
                                </a>
                                <a class="w10 pt0 important">
                                    <div class="layui-form">
                                        <input type="checkbox" checked="" name="open" lay-skin="switch"
                                               lay-filter="switchTest" lay-text="ON|OFF" class="switch-"
                                               th:attrappend="class=${parent.id}" th:attr="data-self=${parent.id}"/>
                                    </div>
                                </a>
                                <a class="w20">
                                    <span class="mr20 edit cp edit-manage" th:attr="data-id=${parent.id}">编辑</span>
                                </a>
                                <a class="w15"><i class="icon sort-icon"></i></a>
                            </li>
                            <!--二级-->
                            <ul class="jurisdiction-list-div jurisdiction-list-li  colum-list-li p0 ml20 important">
                                <block th:each="child: ${parent.subList}">
                                    <li class="clearfix pb20 pl30 important" th:id="'menu-id-'+${child.id}">
                                        <em class="js-accordionTrigger w5"></em>
                                        <a class="w20 tl important menu-name-class" th:text="${child.name}"></a>
                                        <a class="w20" th:text="${child.id}"></a>
                                        <a class="w10">&nbsp;</a>
                                        <a class="w10 pt0 important">
                                            <div class="layui-form">
                                                <input type="checkbox" checked="" name="open" lay-skin="switch"
                                                       lay-filter="switchTest" lay-text="ON|OFF" data-type="2"
                                                       class=""
                                                       th:attrappend="class='switch-'+ ${child.id} + ' switch-subs-'+ ${parent.id}"
                                                       th:attr="data-parent=${parent.id},data-self=${child.id}"/>
                                            </div>
                                        </a>
                                        <a class="w20">
                                            <span class="mr20 edit cp edit-manage"
                                                  th:attr="data-id=${child.id}">编辑</span>
                                        </a>
                                        <a class="w15"><i class="icon sort-icon"></i></a>
                                    </li>
                                    <!--三级-->
                                    <ul class="jurisdiction-list-div jurisdiction-list-li colum-list-li">
                                        <block th:each="tChild: ${child.thrList}">
                                            <li class="clearfix pb20 pl45 important" th:id="'menu-id-'+${tChild.id}">
                                                <em class="js-accordionTrigger w5"></em>
                                                <a class="w20 tl important menu-name-class" th:text="${tChild.name}"></a>
                                                <a class="w20" th:text="${tChild.id}"></a>
                                                <a class="w10">&nbsp;</a>
                                                <a class="w10 pt0 important">
                                                    <div class="layui-form">
                                                        <input type="checkbox" checked="" name="open" lay-skin="switch"
                                                               lay-filter="switchTest" lay-text="ON|OFF"
                                                               th:attr="data-parent=${child.id},data-self=${tChild.id}"
                                                               th:attrappend="class='switch-'+ ${tChild.id} + ' switch-subs-'+ ${child.id}"/>
                                                    </div>
                                                </a>
                                                <a class="w20">
                                            <span class="mr20 edit cp edit-manage"
                                                  th:attr="data-id=${tChild.id}">编辑</span>
                                                </a>
                                                <a class="w15"><i class="icon sort-icon"></i></a>
                                            </li>
                                        </block>
                                    </ul>
                                </block>
                            </ul>
                        </block>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>

    <div class="layui-footer" th:include="common :: copyright"></div>
</div>

<div id="edit-manage" class="modal">
    <div class="layui-layer-title">修改栏目名称</div>
    <div class="mb30">
        <form class="layui-form" action="">
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">栏目名称</label>
                    <input type="hidden" id="editId"/>
                    <div class="layui-input-block">
                        <input type="text" id="editNameId" name="username" lay-verify="required" placeholder="请输入"
                               autocomplete="off" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1" onclick="editColumn();">确定修改</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/js/SimpleTree.js"></script>
<script type="text/javascript" src="/static/business/setting-menu.js"></script>
</body>
</html>