<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="setting :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/setting/user.html">系统管理</a>
            <a href="/setting/menu.html">系统配置</a>
            <a><cite>充值类型</cite></a>
        </div>
        <div class="p20">
            <div class="clearfix mt20">
                <span class="fr add-button cp" id="addBt">添加类型</span>
            </div>
            <table class="layui-table" lay-filter="main-table" id="dataTable"></table>
        </div>
    </div>


</div>

<div id="addDiv" class="modal">
    <div class="layui-layer-title">新增类型</div>
    <div class="mb30 layui-form">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label">类型名称：</label>
                <div class="layui-input-block">
                    <input type="text" id="newName" name="username" placeholder="请输入类型名称" autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注说明：</label>
                <div class="layui-input-block">
                    <textarea name="desc" id="newRemark" placeholder="请输入备注说明" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="add_recharge_type()">添加</button>
            </div>
        </div>
    </div>
</div>

<div id="editDiv" class="modal">
    <div class="layui-layer-title">编辑类型</div>
    <div class="mb30">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label">类型名称：</label>
                <div class="layui-input-block">
                    <input type="text" id="editName" placeholder="请输入类型名称" autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注说明：</label>
                <div class="layui-input-block">
                    <textarea id="editRemark" placeholder="请输入备注说明" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" id="editId"/>
                <button class="layui-btn" onclick="edit_recharge_type()">保存</button>
            </div>
        </div>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/business/setting-recharge.js"></script>

<script type="text/html" id="statusTpl">
    {{# if(d.status === 1){ }}
    <input type="checkbox" lay-skin="switch" lay-filter="status" lay-text="ON|OFF" value="{{d.id}}" checked=""/>
    {{# } else { }}
    <input type="checkbox" lay-skin="switch" lay-filter="status" lay-text="ON|OFF" value="{{d.id}}"/>
    {{# } }}
</script>
<script type="text/html" id="operationBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
</html>