<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!-- top -->
<div th:fragment="top">
    <div class="navbar navbar-inverse navbar-fixed-top mb0 header1">
        <div class="container header-mt10">
            <div class="navbar-header">
                <a class="navbar-brand hidden-sm navbar-logo" href="../index.html"
                   onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])"><i class="header-logo"></i></a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li th:class="${currPage eq 'home'} ? 'active' : ''">
                        <a th:href="@{/home.html}">主页</a></li>
                    <li th:class="${currPage eq 'my-product'} ? 'active' : ''">
                        <a th:href="@{/product/mine.html}">我的服务</a></li>
                    <li th:class="${currPage eq 'all-product'} ? 'active' : ''">
                        <a th:href="@{/product/all.html}">全部服务</a></li>
                    <li th:class="${currPage eq 'system'} ? 'active' : ''">
                        <a th:href="@{/system/message.html}">设置中心</a></li>
                    <li><a target="_blank" href="http://book.matedata.net">开发者文档</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm">
                    <li class="fz-12 header">
                        <span>
                            <i class="icon user"></i><md id="greeting"></md>
                        </span>
                        <span class="position-r">
                            <a href="/system/message.html" class="col6 icon eamil" id="message-right-id"></a>
                        </span>
                        <span class="cp">
                            <a href="/system/edit-pwd.html" class="col6">修改密码</a>
                        </span>
                        <span id="exit">
                            |&nbsp;&nbsp;<i class="icon exit"></i><a href="javascript:;" class="col6">&nbsp;退出</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 在线客服 -->
<div th:fragment="right">
    <div class="fixedBox">
        <ul class="fixedBoxList">
            <li class="fixeBoxLi Service">
                <i></i>
                <div class="ServiceBox">
                    <div class="bjfff"></div>
                    <P class="p2">
                        <a target="_blank" class="service-qq-class flex" href="javascript:">
                            <img border="0" src="/images/icon/qq1.png" style="width: 28px;" alt="点击这里给我发消息"
                                 title="点击这里给我发消息"/>
                            <span class="mt5 pl5">客服</span></a></P>
                    <!--<P class="p2 mt10">
                        <a target="_blank" class="setting-qq-class flex" href="javascript:">
                            <img border="0" src="/images/icon/qq1.png" style="width: 28px;" alt="点击这里给我发消息"
                                 title="点击这里给我发消息"/>
                            <span class="mt5 pl5">技术支持</span></a></P>-->
                </div>
            </li>
            <li class="fixeBoxLi Service">
                <i class="weixin-icon"><img src="/images/icon/weixin.png"/></i>
                <div class="ServiceBox weixin-icon-nav p0 important">
                    <div class="bjfff"></div>
                    <P class="p2"><img src="/images/ewm.png" style="width: 129px;"/></P>
                </div>
            </li>
            <!--<li class="fixeBoxLi Service">
                <i class="sina-icon">
                    <a href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=真实的appkey',u=z||d.location,p=['&amp;url=',e(u),'&amp;title=',e(t||d.title),'&amp;source=',e(r),'&amp;sourceUrl=',e(l),'&amp;content=',c||'gb2312','&amp;pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','图片链接|默认为空','标题|默认当前页标题','内容链接|默认当前页location','页面编码gb2312|utf-8默认gb2312'));"
                       target="_blank"><img src="/images/icon/sina.png"/></a></i>
            </li>-->
        </ul>
    </div>
</div>

<!--footer-->
<div th:fragment="footer">
    <footer class="footer">
        <div class="container ">
            <span class="mpCopyRight">©杭州明动科技有限公司 | 浙ICP备18014794号-1</span>
        </div>
    </footer>
</div>
</body>
</html>