<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!-- top -->
<div th:fragment="top">
    <div class="navbar navbar-inverse navbar-fixed-top mb0 header1">
        <div class="container header-mt10">
            <div class="navbar-header">
                <a class="navbar-brand hidden-sm navbar-logo" href="../index.html"
                   onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])"><i class="header-logo"></i></a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li th:class="${currPage eq 'home'} ? 'active' : ''">
                        <a th:href="@{/home.html}">主页</a></li>
                    <li th:class="${currPage eq 'my-product'} ? 'active' : ''">
                        <a th:href="@{/product/mine.html}">我的服务</a></li>
                    <li th:class="${currPage eq 'all-product'} ? 'active' : ''">
                        <a th:href="@{/product/all.html}">全部服务</a></li>
                    <li th:class="${currPage eq 'system'} ? 'active' : ''">
                        <a th:href="@{/system/message.html}">设置中心</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm">
                    <li class="fz-12">
                        <span><i class="icon user"></i><md id="greeting"></md></span>
                        <span id="exit"><i class="icon exit"></i><a href="javascript:;"
                                                                    class="col6">&nbsp;退出&nbsp;&nbsp;</a>|</span>
                        <span id="chgPwd" class="cp"><a href="javascript:;" class="col6">修改密码</a></span>
                        <span><i class="icon eamil"></i><a href="/system/message.html" class="col6">消息</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 在线客服 -->
<div th:fragment="right">
    <div class="fixedBox">
        <ul class="fixedBoxList">
            <li class="fixeBoxLi Service">
                <i></i>
                <div class="ServiceBox">
                    <em></em>
                    <div class="bjfff"></div>
                    <P class="p2">
                        <a target="_blank"
                           href="http://wpa.qq.com/msgrd?v=3&amp;uin=2885540004&amp;site=qq&amp;menu=yes">
                            <img border="0" src="/images/icon/qq-sq.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></P>
                    <P class="p2 mt5">
                        <a target="_blank"
                           href="http://wpa.qq.com/msgrd?v=3&amp;uin=2885540001&amp;site=qq&amp;menu=yes">
                            <img border="0" src="/images/icon/qq-sh.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></P>
                    <p class="p2 mt5">
                        <a target="_blank"
                           href="http://wpa.qq.com/msgrd?v=3&amp;uin=2885539934&amp;site=qq&amp;menu=yes">
                            <img border="0" src="/images/icon/qq-js.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
                    <p><img border="0" src="/images/icon/400.png"/></p>
                </div>
            </li>
            <li class="fixeBoxLi Service">
                <i class="weixin-icon"><img src="/images/icon/weixin.png"/></i>
                <div class="ServiceBox weixin-icon-nav">
                    <div class="bjfff"></div>
                    <P class="p2"><img src="/images/ewm.png" style="width: 121px;"/></P>
                    <p class="tc weixin-title">微信公众号</p>
                </div>
            </li>
            <li class="fixeBoxLi Service">
                <i class="sina-icon">
                    <a href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=真实的appkey',u=z||d.location,p=['&amp;url=',e(u),'&amp;title=',e(t||d.title),'&amp;source=',e(r),'&amp;sourceUrl=',e(l),'&amp;content=',c||'gb2312','&amp;pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','图片链接|默认为空','标题|默认当前页标题','内容链接|默认当前页location','页面编码gb2312|utf-8默认gb2312'));"
                       target="_blank"><img src="/images/icon/sina.png"/></a></i>
            </li>
        </ul>
    </div>
</div>

<!--footer-->
<div th:fragment="footer">
    <footer class="footer">
        <div class="container ">
            <!--
            <ul class="mpFooterLinks">
                <li><a href="https://www.antgroup.com/introduction.htm" target="_blank" seed="mpFooterLinks-linkT14"
                       smartracker="on">关于蚂蚁</a></li>
                <li><a href="https://www.antgroup.com" target="_blank" seed="mpFooterLinks-linkT15"
                       smartracker="on">蚂蚁金服</a></li>
                <li><a href="https://www.alipay.com" target="_blank" seed="mpFooterLinks-linkT16"
                       smartracker="on">支付宝</a>
                </li>
                <li><a href="https://www.koubei.com" target="_blank" seed="mpFooterLinks-linkT17"
                       smartracker="on">口碑</a>
                </li>
                <li><a href="https://www.zmxy.com.cn" target="_blank" seed="mpFooterLinks-linkT18"
                       smartracker="on">芝麻信用</a>
                </li>
            </ul>
            <ul class="mpFooterLinks">
                <li>
                    <a href="http://www.alibabagroup.com/cn/global/home" target="_blank" seed="mpFooterLinks-linkT19"
                       smartracker="on">阿里巴巴集团</a></li>
                <li>
                    <a href="https://www.alibaba.com" target="_blank" seed="mpFooterLinks-linkT20"
                       smartracker="on">阿里巴巴国际站</a></li>
                <li><a href="https://www.1688.com/" target="_blank" seed="mpFooterLinks-linkT21"
                       smartracker="on">1688</a>
                </li>
                <li><a href="https://www.taobao.com/" target="_blank" seed="mpFooterLinks-linkT22"
                       smartracker="on">淘宝</a>
                </li>
                <li><a href="https://www.tmall.com/" target="_blank" seed="mpFooterLinks-linkT23"
                       smartracker="on">天猫</a>
                </li>
                <li><a href="https://ju.taobao.com/" target="_blank" seed="mpFooterLinks-linkT24"
                       smartracker="on">聚划算</a>
                </li>
                <li><a href="http://www.alimama.com/" target="_blank" seed="mpFooterLinks-linkT25"
                       smartracker="on">阿里妈妈</a>
                </li>
                <li><a href="https://www.aliyun.com/" target="_blank" seed="mpFooterLinks-linkT26"
                       smartracker="on">阿里云计算</a></li>
            </ul>
            -->
            <span class="mpCopyRight">Copyright © 2018 浙江明动科技有限公司 版权所有</span>
        </div>
    </footer>
</div>

<div th:fragment="password">
    <div class="layui-layer-title">修改密码</div>
    <div class="mb30">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col1">*</i>旧密码：</label>
                <div class="layui-input-block" id="org-enc-pwd">
                    <input type="password" id="org-enc-password" placeholder="当前账号密码"
                           class="layui-input position-r"/>
                    <i class="close-eye icon" id="org-show"></i>
                </div>
                <div class="layui-input-block" id="org-dec-pwd" style="display: none">
                    <input type="text" id="org-dec-password" placeholder="当前账号密码" class="layui-input position-r"/>
                    <i class="open-eye icon" id="org-hide"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col1">*</i>新密码：</label>
                <div class="layui-input-block" id="new-enc-pwd">
                    <input type="password" id="new-enc-password" placeholder="密码由6-20位字母数字组成"
                           class="layui-input position-r"/>
                    <i class="close-eye icon" id="new-show"></i>
                </div>
                <div class="layui-input-block" id="new-dec-pwd" style="display: none">
                    <input type="text" id="new-dec-password" placeholder="密码由6-20位字母数字组成" class="layui-input position-r"/>
                    <i class="open-eye icon" id="new-hide"></i>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="change-pwd">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>