<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>沃动科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>
    <!-- Site CSS -->
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../css/site.min.css" rel="stylesheet"/>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/base.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-precomposed.png"/>
    <link rel="shortcut icon" href="images/icon/favicon.png"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
<!--header-->
<div class="navbar navbar-inverse navbar-fixed-top mb0 header1">
    <div class="container header-mt10">
        <div class="navbar-header">
            <a class="navbar-brand hidden-sm navbar-logo" href="index.html"
               onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])"><i class="header-logo"></i></a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="index.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v2doc'])">主页</a></li>
                <li><a href="programme.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">我的服务</a>
                </li>
                <li><a href="case.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v4doc'])">全部服务</a></li>
                <li class="active">
                    <a href="apidownload.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'less'])">设置中心</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li>
                    <span><i class="icon user"></i>上午好，李先生</span>
                    <span><i class="icon exit"></i>退出  &nbsp;&nbsp;&nbsp;|</span>
                    <span id="editpwd" class="cp">修改密码</span>
                    <span><i class="icon eamil"></i>消息</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--header end-->
<!--advimg-->
<div class="masthead pb0"></div>
<!--advimg end-->
<!--面包屑-->
<div class="container mt45 mb20">
</div>
<!--面包屑 end-->
<!--产品服务-->
<div class="container mt20 mb20 bg-white">
    <dl class="development-nav sever-detail pt0 pb0 important">
        <dd class="row ml0 mr0 bd-none important">
            <div class="col-md-6">
                <p>下午好，李先生</p>
                <p class="col2 important pl25">您的服务目前各项指标正常，请放心使用~</p>
                <p class="ml20"><span class="appid-btn">查看处理</span></p>
            </div>
            <div class="col-md-6 bd-left pl20">
                <p class="p0 important">
                    多账号管理 共<i class="col5 fz-20">2</i>个，还可新增<i class="col1 fz-20">3</i>个 <a href="" class="fr">管理>></a>
                </p>
                <ul class="user-list clearfix">
                    <li>
                        <p><img src="../images/account-img.png"/></p>
                        <p>firethehole</p>
                    </li>
                    <li>
                        <p><img src="../images/account-img.png"/></p>
                        <p>firethehole</p>
                    </li>
                    <li>
                        <p><img src="../images/account-img.png"/></p>
                        <p>firethehole</p>
                    </li>
                    <li>
                        <p><img src="../images/account-img.png"/></p>
                        <p>firethehole</p>
                    </li>
                    <li>
                        <p><img src="../images/account-img.png"/></p>
                        <p>firethehole</p>
                    </li>
                </ul>
            </div>
        </dd>
    </dl>
</div>
<!--产品服务 end-->
<!--内容-->
<div class="container mt20 mb20 bg-white">
    <!--服务列表 left-->
    <div class="development-nav">
        <dl id="mms1" class="serve-list">
            <dt>我的服务<span class="fr col2 pr30">more>></span></dt>
            <dd>
                <ul class="row mr0 ml0">
                    <li>
                        <div class="serve-list-title">金融逾期常欠客<i class="ygq-icon icon"></i></div>
                        <p class="col2 tc fz-14 important">2107/12/08—2018/12/08</p>
                        <p class="fz-20 col5 tc important">剩365天</p>
                        <p class="tc mb15 mt10"><a href=""><i class="icon kefu mr5"></i>续约</a> ｜ <a href="">查看服务</a></p>
                    </li>
                    <li>
                        <div class="serve-list-title">金融逾期常欠客<span class="fr">服务中</span></div>
                        <p class="col2 tc fz-14 important">2107/12/08—2018/12/08</p>
                        <p class="fz-20 col5 tc important">剩365天</p>
                        <p class="tc mb15 mt10"><a href=""><i class="icon kefu mr5"></i>续约</a> ｜ <a href="">查看服务</a></p>
                    </li>
                    <li>
                        <div class="serve-list-title">金融逾期常欠客<i class="jjgq-icon icon"></i></div>
                        <p class="col2 tc fz-14 important">2107/12/08—2018/12/08</p>
                        <p class="fz-20 col5 tc important">剩365天</p>
                        <p class="tc mb15 mt10"><a href=""><i class="icon kefu mr5"></i>续约</a> ｜ <a href="">查看服务</a></p>
                    </li>
                    <li>
                        <div class="serve-list-title">金融逾期常欠客<i class="yebz-icon icon"></i></div>
                        <p class="col2 tc fz-14 important">2107/12/08—2018/12/08</p>
                        <p class="fz-20 col5 tc important">剩365天</p>
                        <p class="tc mb15 mt10"><a href=""><i class="icon kefu mr5"></i>续约</a> ｜ <a href="">查看服务</a></p>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="mms2" class="serve-list">
            <dt>新服务<span class="fr col2 pr30">more>></span></dt>
            <dd>
                <ul class="row mr0 ml0">
                    <li>
                        <div class="serve-list-title">常拒贷<span class="fr">已开通</span></div>
                        <p class="col2 tl fz-14 p10 important">专业帮您区分哪些客户经常被拒贷，为您放贷提供依据</p>
                        <p class="tc mb15 mt10"><a href=""><i class="icon kefu mr5"></i>开通</a> ｜ <a href="">查看详情</a></p>
                    </li>
                    <li>
                        <div class="serve-list-title">常拒贷<span class="fr">已开通</span></div>
                        <p class="col2 tl fz-14 p10 important">专业帮您区分哪些客户经常被拒贷，为您放贷提供依据</p>
                        <p class="tc mb15 mt10"><a href=""><i class="icon kefu mr5"></i>开通</a> ｜ <a href="">查看详情</a></p>
                    </li>
                    <li>
                        <div class="serve-list-title">常拒贷<span class="fr">已开通</span></div>
                        <p class="col2 tl fz-14 p10 important">专业帮您区分哪些客户经常被拒贷，为您放贷提供依据</p>
                        <p class="tc mb15 mt10"><a href=""><i class="icon kefu mr5"></i>开通</a> ｜ <a href="">查看详情</a></p>
                    </li>
                    <li>
                        <div class="serve-list-title">常拒贷<span class="fr">已开通</span></div>
                        <p class="col2 tl fz-14 p10 important">专业帮您区分哪些客户经常被拒贷，为您放贷提供依据</p>
                        <p class="tc mb15 mt10"><a href=""><i class="icon kefu mr5"></i>开通</a> ｜ <a href="">查看详情</a></p>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
    <!--服务列表 left end-->

</div>
<!--内容 end-->

<!--footer-->
<footer class="footer">
    <div class="container ">
        <ul class="mpFooterLinks">
            <li>
                <a href="https://www.antgroup.com/introduction.htm" target="_blank" seed="mpFooterLinks-linkT14"
                   smartracker="on">关于蚂蚁</a>
            </li>
            <li>
                <a href="https://www.antgroup.com" target="_blank" seed="mpFooterLinks-linkT15"
                   smartracker="on">蚂蚁金服</a>
            </li>
            <li>
                <a href="https://www.alipay.com" target="_blank" seed="mpFooterLinks-linkT16" smartracker="on">支付宝</a>
            </li>
            <li>
                <a href="https://www.koubei.com" target="_blank" seed="mpFooterLinks-linkT17" smartracker="on">口碑</a>
            </li>
            <li>
                <a href="https://www.zmxy.com.cn" target="_blank" seed="mpFooterLinks-linkT18" smartracker="on">芝麻信用</a>
            </li>
        </ul>
        <ul class="mpFooterLinks">
            <li>
                <a href="http://www.alibabagroup.com/cn/global/home" target="_blank" seed="mpFooterLinks-linkT19"
                   smartracker="on">阿里巴巴集团</a>
            </li>
            <li>
                <a href="https://www.alibaba.com" target="_blank" seed="mpFooterLinks-linkT20"
                   smartracker="on">阿里巴巴国际站</a>
            </li>
            <li>
                <a href="https://www.1688.com/" target="_blank" seed="mpFooterLinks-linkT21" smartracker="on">1688</a>
            </li>
            <li>
                <a href="https://www.taobao.com/" target="_blank" seed="mpFooterLinks-linkT22" smartracker="on">淘宝</a>
            </li>
            <li>
                <a href="https://www.tmall.com/" target="_blank" seed="mpFooterLinks-linkT23" smartracker="on">天猫</a>
            </li>
            <li>
                <a href="https://ju.taobao.com/" target="_blank" seed="mpFooterLinks-linkT24" smartracker="on">聚划算</a>
            </li>
            <li>
                <a href="http://www.alimama.com/" target="_blank" seed="mpFooterLinks-linkT25" smartracker="on">阿里妈妈</a>
            </li>
            <li>
                <a href="https://www.aliyun.com/" target="_blank" seed="mpFooterLinks-linkT26"
                   smartracker="on">阿里云计算</a>
            </li>
        </ul>
        <span class="mpCopyRight">Copyright © 2017 蚂蚁金融服务集团 | ICP证: 沪ICP备15027489号-2</span>
    </div>
</footer>
<!--在线客服-->
<div class="fixedBox">
    <ul class="fixedBoxList">
        <li class="fixeBoxLi Service">
            <i></i>
            <div class="ServiceBox">
                <em></em>
                <div class="bjfff"></div>
                <P class="p2">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2885540004&site=qq&menu=yes"><img
                            border="0" src="../images/icon/qq-sq.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></P>
                <P class="p2 mt5">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2885540001&site=qq&menu=yes"><img
                            border="0" src="../images/icon/qq-sh.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></P>
                <p class="p2 mt5">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2885539934&site=qq&menu=yes"><img
                            border="0" src="../images/icon/qq-js.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
                <p><img border="0" src="images/icon/400.png"/></p>
            </div>
        </li>
        <li class="fixeBoxLi Service">
            <i class="weixin-icon"><img src="../images/icon/weixin.png"/></i>
            <div class="ServiceBox weixin-icon-nav">
                <div class="bjfff"></div>
                <P class="p2"><img src="../images/ewm.png" style="width: 121px;"/></P>
                <p class="tc weixin-title">微信公众号</p>
            </div>
        </li>
        <li class="fixeBoxLi Service">
            <i class="sina-icon">
                <a href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=真实的appkey',u=z||d.location,p=['&url=',e(u),'&title=',e(t||d.title),'&source=',e(r),'&sourceUrl=',e(l),'&content=',c||'gb2312','&pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','图片链接|默认为空','标题|默认当前页标题','内容链接|默认当前页location','页面编码gb2312|utf-8默认gb2312'));"
                   target="_blank">
                    <img src="../images/icon/sina.png">
                </a>
            </i>
        </li>
    </ul>
</div>
<!--在线客服 end-->

<!--修改密码 提示层-->
<div id="edit-pwd" style="display: none">
    <!--form-->
    <div class="layui-layer-title">修改密码</div>
    <div class="mb30">
        <form class="layui-form">
            <div class="col1 tc mt15"><i class="icon jg"></i>您当前为初始密码，为确保安全，请修改!</div>
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col1">*</i>旧密码：</label>
                    <div class="layui-input-block" id="oldpwd1">
                        <input type="password" name="username" placeholder="请输入" class="layui-input position-r"/>
                        <i class="close-eye icon" id="oldpwd-close"></i>
                    </div>
                    <div class="layui-input-block" id="oldpwd2" style="display: none">
                        <input type="text" name="username" placeholder="请输入" class="layui-input position-r"/>
                        <i class="open-eye icon" id="oldpwd-open"></i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col1">*</i>新密码：</label>
                    <div class="layui-input-block" id="newpwd1">
                        <input type="password" name="username" placeholder="请输入" class="layui-input position-r"/>
                        <i class="close-eye icon" id="newpwd-close"></i>
                    </div>
                    <div class="layui-input-block" id="newpwd2" style="display: none">
                        <input type="text" name="username" placeholder="请输入" class="layui-input position-r"/>
                        <i class="open-eye icon" id="newpwd-open"></i>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
                </div>
            </div>
        </form>
    </div>
    <!--form end-->
</div>
<!--修改密码 提示层 end-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="../js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="../js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="../js/site.min.js"></script>
<script type="text/javascript" src="../js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="../js/lanrenzhijia.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/toc.min.js"></script>
<script type="text/javascript" src="../plugins/layui/layui.js"></script>
<script type="text/javascript">
    var message;
    layui.config({
        base: '../build/js/'
    }).use(['app', 'message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#editpwd').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: $('#edit-pwd'),
                area: ['500px'],
                shadeClose: true
            });
        });
    });
    $(document).ready(function() {
        $("#oldpwd-open").click(function() {
            $("#oldpwd1").show();
            $("#oldpwd2").hide();
        });
        $("#oldpwd-close").click(function() {
            $("#oldpwd1").hide();
            $("#oldpwd2").show();
        });
        $("#newpwd-open").click(function() {
            $("#newpwd1").show();
            $("#newpwd2").hide();
        });
        $("#newpwd-close").click(function() {
            $("#newpwd1").hide();
            $("#newpwd2").show();
        });
    });
</script>
</body>
</html>
  