<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>沃动科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>
    <!-- Site CSS -->
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../css/site.min.css" rel="stylesheet"/>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/base.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
<div th:include="common :: top"></div>
<div class="masthead pb0"></div>
<div class="container mt45 mb20">
</div>
<div class="container mt20 mb20 bg-white">
    <dl class="development-nav sever-detail pt0 pb0 important">
        <dd class="row ml0 mr0 bd-none important">
            <div class="col-md-6">
                <p id="home-greeting"></p>
                <p class="col2 important pl25">您的服务目前各项指标正常，请放心使用~</p>
                <p class="ml20"><span class="appid-btn">查看处理</span></p>
            </div>
            <div class="col-md-6 bd-left pl20">
                <p class="p0 important">
                    账号管理
                    共<i class="col5 fz-20" th:text="${subUserList.size()}"></i>个，
                    还可新增<i class="col1 fz-20" th:text="${allowedQty - subUserList.size()}"></i>个
                    <a href="/system/account-list.html" class="fr">管理>></a>
                </p>
                <ul class="user-list clearfix">
                    <li th:each="o : ${subUserList}">
                        <p><img src="../images/account-img.png"/></p>
                        <p th:text="${o.name}"></p>
                    </li>
                </ul>
            </div>
        </dd>
    </dl>
</div>
<!--产品服务 end-->
<!--内容-->
<div class="container mt20 mb20 bg-white">
    <!--服务列表 left-->
    <div class="development-nav">
        <dl id="mms1" class="serve-list">
            <dt>我的服务<span class="fr col2 pr30">more>></span></dt>
            <dd>
                <ul class="row mr0 ml0">
                    <li th:each="o : ${openedList}">
                        <div class="serve-list-title">
                            <md th:text="${o.name}"></md>
                            <!-- 正常 -->
                            <span class="fr" th:if="${o.status == 0}">服务中</span>
                            <!-- 未开始 -->
                            <i class="wks-icon icon" th:if="${o.status == 1}"></i>
                            <!-- 即将过期 -->
                            <i class="jjgq-icon icon" th:if="${o.status == 2}"></i>
                            <!-- 已过期 -->
                            <i class="ygq-icon icon" th:if="${o.status == 3}"></i>
                            <!-- 余额不足 -->
                            <i class="yebz-icon icon" th:if="${o.status == 4}"></i>
                            <!-- 已欠费 -->
                            <i class="yqf-icon icon" th:if="${o.status == 5}"></i>
                        </div>
                        <p class="col2 tc fz-14 important" th:if="${o.billPlan == 1}"
                           th:text="${o.fromDate} + ' - ' + ${o.toDate}"></p>
                        <p class="fz-20 col5 tc important" th:if="${o.billPlan == 1}"
                           th:text="'剩余' + ${o.remainDays} + '天'"></p>
                        <p class="col2 tc fz-14 important" th:if="${o.billPlan != 1}"
                           th:text="'当前余额：￥' + ${o.balance}"></p>
                        <p class="fz-20 col5 tc important" th:if="${o.billPlan != 1}"
                           th:text="${o.unitAmt} + '元/次'"></p>
                        <p class="tc mb15 mt10">
                            <a href=""><i class="icon kefu mr5"></i>续约</a> ｜ <a href="">查看服务</a></p>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="mms2" class="serve-list">
            <dt>新服务<span class="fr col2 pr30">more>></span></dt>
            <dd>
                <ul class="row mr0 ml0">
                    <li th:each="o : ${toOpenList}">
                        <div class="serve-list-title">
                            <md th:text="${o.name}"></md>
                            <span class="fr">未开通</span></div>
                        <p class="col2 tl fz-14 p10 important" th:text="${o.remark}"></p>
                        <p class="tc mb15 mt10">
                            <a href=""><i class="icon kefu mr5"></i>开通</a> ｜ <a href="">查看详情</a></p>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>

<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>

<div id="init-password" style="display: none">
    <div class="layui-layer-title">修改密码</div>
    <div class="mb30">
        <div class="col1 tc mt15"><i class="icon jg"></i>您当前为初始密码，为确保安全，请修改!</div>
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col1">*</i>旧密码：</label>
                <div class="layui-input-block" id="init-org-enc-pwd">
                    <input type="password" id="init-org-enc-password" placeholder="请输入" class="layui-input position-r"/>
                    <i class="close-eye icon" id="init-org-show"></i>
                </div>
                <div class="layui-input-block" id="init-org-dec-pwd" style="display: none">
                    <input type="text" id="init-org-dec-password" placeholder="请输入" class="layui-input position-r"/>
                    <i class="open-eye icon" id="init-org-hide"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col1">*</i>新密码：</label>
                <div class="layui-input-block" id="init-new-enc-pwd">
                    <input type="password" id="init-new-enc-password" placeholder="请输入" class="layui-input position-r"/>
                    <i class="close-eye icon" id="init-new-show"></i>
                </div>
                <div class="layui-input-block" id="init-new-dec-pwd" style="display: none">
                    <input type="text" id="init-new-dec-password" placeholder="请输入" class="layui-input position-r"/>
                    <i class="open-eye icon" id="init-new-hide"></i>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="chg-init-pwd">确定</button>
            </div>
        </div>
    </div>
</div>

<div id="change-password" style="display: none" th:include="common :: password"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.unveil.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.matchHeight-min.js}"></script>
<script type="text/javascript" th:src="@{/js/site.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-touch-slider.js}"></script>
<script type="text/javascript" th:src="@{/js/lanrenzhijia.js}"></script>
<script type="text/javascript" th:src="@{/js/public.js}"></script>
<script type="text/javascript" th:src="@{/js/toc.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
</body>
</html>
  