<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css"
          href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://oss.matedata.net/resource/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/site.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/images/icon/favicon.png"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
<div th:include="common :: top"></div>
<div class="masthead pb0"></div>
<div class="container mt45 mb20">
</div>
<div class="container mt20 mb20 bg-white">
    <dl class="development-nav sever-detail pt0 pb0 important">
        <dd class="row ml0 mr0 bd-none important">
            <div class="col-md-6">
                <p id="home-greeting"></p>
                <p class="col2 important pl25"
                   th:if="${insufficientBalanceQty == 0} and ${nearlyExpireQty == 0} and ${inArrearQty == 0} and ${expiredQty == 0}">
                    您的服务目前各项指标正常，请放心使用~</p>
                <p class="col2 important pl25" th:if="${insufficientBalanceQty != 0} or ${nearlyExpireQty != 0} or ${inArrearQty != 0} or ${expiredQty != 0}"
                   th:text="'您的服务' + ${insufficientBalanceQty} + '个服务余额不足、' + ${nearlyExpireQty} + '个即将过期、' + ${inArrearQty} + '个已欠费、' + ${expiredQty} + '个已过期，请及时处理~'"></p>
                <p class="ml20"><a class="appid-btn" href="/product/mine.html#mms2">查看处理</a></p>
            </div>
            <div class="col-md-6 bd-left pl20" th:if="${isPrimary}">
                <p class="p0 important">
                    账号管理
                    共<i class="col5 fz-20" th:text="${subUserList.size()}"></i>个，
                    还可新增<i class="col1 fz-20" th:text="${count}"></i>个
                    <a href="/system/account-list.html" class="fr">管理>></a>
                </p>
                <ul class="user-list clearfix">
                    <li th:each="o : ${subUserList}">
                        <p><img src="/images/account-img.png" alt=""/></p>
                        <p th:text="${o.username}"></p>
                        <p class="fz-12 col2 important" th:text="${o.name}"></p>
                    </li>
                </ul>
            </div>
        </dd>
    </dl>
</div>
<div class="container mt20 mb20 bg-white">
    <div class="development-nav">
        <dl id="mms1" class="serve-list">
            <dt>我的服务<a href="/product/mine.html" class="fr col3 pr10 fb-normal fz-12 important">查看全部</a></dt>
            <dd>
                <ul class="row mr0 ml0">
                    <li th:each="o : ${openedList}">
                        <div class="serve-list-title">
                            <md th:text="${o.name}"></md>
                            <span class="fr" th:if="${o.status == 0}">服务中</span>
                            <i class="wks-icon icon" th:if="${o.status == 1}"></i>
                            <i class="jjgq-icon icon" th:if="${o.status == 2}"></i>
                            <i class="ygq-icon icon" th:if="${o.status == 3}"></i>
                            <i class="yebz-icon icon" th:if="${o.status == 4}"></i>
                            <i class="yqf-icon icon" th:if="${o.status == 5}"></i>
                        </div>
                        <p class="col2 tc fz-14 important" th:if="${o.billPlan == 1}"
                           th:text="${o.fromDate} + ' - ' + ${o.toDate}"></p>
                        <p class="fz-20 col5 tc important" th:if="${o.billPlan == 1}"
                           th:text="'剩余' + ${o.remainDays} + '天'"></p>
                        <p class="col2 tc fz-14 important" th:if="${o.billPlan != 1}"
                           th:text="'当前余额：￥' + ${o.balance}"></p>
                        <p class="fz-20 col5 tc important" th:if="${o.billPlan != 1}"
                           th:text="${o.unitAmt} + '元/次'"></p>
                        <p class="tc mb15 mt10">
                            <a target="_blank" class="setting-qq-class" href="javascript:">
                                <i class="icon kefu mr5"></i>续约</a> ｜
                            <a th:href="'/product/detail.html?id=' + ${o.productId}">查看服务</a>
                        </p>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="mms2" class="serve-list">
            <dt>新服务<a href="/product/all.html" class="fr col3 pr10 fb-normal fz-12 important">查看全部</a></dt>
            <dd>
                <ul class="row mr0 ml0">
                    <li th:each="o : ${toOpenList}">
                        <div class="serve-list-title">
                            <span th:text="${o.name}"></span>
                            <span class="fr">未开通</span></div>
                        <p class="col2 tl fz-14 p10 important" th:text="${o.remark}"
                           style="height: 89px;overflow: hidden;"></p>
                        <p class="tc mb15 mt10">
                            <a target="_blank" class="setting-qq-class" href="javascript:"><i
                                    class="icon kefu mr5"></i>开通</a>
                            ｜ <a th:href="'/product/introduce.html?id=' + ${o.productId}">查看详情</a>
                        </p>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>

<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>

<div id="init-password" style="display: none">
    <div class="layui-layer-title">修改密码</div>
    <div class="mb30">
        <div class="col1 tc mt15"><i class="icon jg"></i>您当前为初始密码，为确保安全，请修改!</div>
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col1">*</i>旧密码：</label>
                <div class="layui-input-block" id="init-org-enc-pwd">
                    <input type="password" id="init-org-enc-password" placeholder="当前账号密码"
                           class="layui-input position-r"/>
                    <i class="close-eye icon" id="init-org-show"></i>
                </div>
                <div class="layui-input-block" id="init-org-dec-pwd" style="display: none">
                    <input type="text" id="init-org-dec-password" placeholder="当前账号密码"
                           onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" class="layui-input position-r"/>
                    <i class="open-eye icon" id="init-org-hide"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col1">*</i>新密码：</label>
                <div class="layui-input-block" id="init-new-enc-pwd">
                    <input type="password" id="init-new-enc-password" placeholder="密码由6-20位字母数字组成"
                           class="layui-input position-r"/>
                    <i class="close-eye icon" id="init-new-show"></i>
                </div>
                <div class="layui-input-block" id="init-new-dec-pwd" style="display: none">
                    <input type="text" id="init-new-dec-password" placeholder="密码由6-20位字母数字组成"
                           onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"
                           class="layui-input position-r"/>
                    <i class="open-eye icon" id="init-new-hide"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col1">*</i>重复密码：</label>
                <div class="layui-input-block" id="init-repeat-enc-pwd">
                    <input type="password" id="init-repeat-enc-password" placeholder="重复密码"
                           class="layui-input position-r"/>
                    <i class="close-eye icon" id="init-repeat-show"></i>
                </div>
                <div class="layui-input-block" id="init-repeat-dec-pwd" style="display: none">
                    <input type="text" id="init-repeat-dec-password" placeholder="重复密码"
                           onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"
                           class="layui-input position-r"/>
                    <i class="open-eye icon" id="init-repeat-hide"></i>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="chg-init-pwd">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/static/js/site.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/static/js/lanrenzhijia.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/validate.js"></script>
<script type="text/javascript" src="/static/business/home.js"></script>
</body>
</html>
  