<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/site.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/login.css" media="all"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/images/icon/favicon.png"/>
</head>
<body id="login" class="pt10 ">
<div id="login-wrapper" class="png_bg">
    <div class="navbar navbar-inverse mb0 header1"><!--navbar-fixed-top -->
        <div class="container header-mt10 clearfix">
            <div class="navbar-header">
                <a class="navbar-brand hidden-sm navbar-logo pt0 important" href="index.html"><i
                        class="header-logo"></i></a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav fr">
                    <li id="page-index"><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                    <li id="page-product"><a href="product.html">热门产品</a></li>
                    <li id="page-programme"><a href="programme.html">解决方案</a></li>
                    <li id="page-news"><a href="news.html">新闻动态</a></li>
                    <li id="page-about"><a href="about.html">关于元数据</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="login-top"></div>
    <div id="login-content" class="pt25 important">
        <div class="tc fz-20 mb15">欢迎登录</div>
        <p class="clearfix">
            <label>用户名：</label>
            <input class="text-input" type="text" id="username" title=""/>
        </p>
        <p class="clearfix mt25 mb25 position-r" id="pwd-show">
            <label>密　码：</label>
            <input class="text-input" type="password" id="enc-passcode" title=""/>
            <i class="close-eye icon" id="hide-pass" style="right: 11px;"></i>
        </p>
        <p class="clearfix mt25 mb25 position-r" id="pwd-hide" style="display: none;">
            <label>密　码：</label>
            <input class="text-input" type="text" id="dec-passcode" title=""/>
            <i class="open-eye icon" id="show-pass" style="right: 11px;"></i>
        </p>
        <p class="clearfix">
            <label>验证码：</label>
            <input type="text" id="captcha-code" class="text-input text_auth" maxlength="6" title=""/>
            <a class="img_auth">
                <img id='captcha' align='absmiddle' onclick="changeImage()" th:src="${imageCaptcha}"/>
            </a>
        </p>
        <p class="mt20">
            <input id="user-login" class="button" type="button" value="登 录"
                   style="padding: 10px 20px; width: 100%; font-size: 18px!important;"/>
        </p>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/business/index.js"></script>
<script type="text/javascript">
    $("#head-login").hide();
</script>
</body>
</html>
