<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!-- left -->
<div th:fragment="left">
    <div class="col-lg-2 col-sm-2 col-md-2 pl0 pr0 important" id="myScrollspy">
        <ul class="new-center-left development-menu nav-stacked nav nav-tabs nav-stacked" data-spy="affix"
            data-offset-top="125">
            <li><a href="/product/mine.html">我的服务</a></li>
            <li><a href="/product/mine.html">服务提醒</a></li>
            <li><a href="/product/mine.html">回收站</a></li>
        </ul>
    </div>
</div>
</body>
</html>