<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <title>明动科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="bootcss.com">
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/site.min.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="images/icon/favicon.png">

</head>

<body data-spy="scroll" data-target="#myScrollspy">
<!--header-->
<div class="navbar navbar-inverse navbar-fixed-top mb0 header1">
    <div class="container header-mt10">
        <div class="navbar-header">
            <a class="navbar-brand hidden-sm navbar-logo" href="index.html"
               onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])"><i class="header-logo"></i></a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="index.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v2doc'])">主页</a></li>
                <li><a href="programme.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">我的服务</a>
                </li>
                <li><a href="case.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v4doc'])">全部服务</a></li>
                <li class="active"><a href="apidownload.html"
                                      onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'less'])">设置中心</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li>
                    <span><i class="icon user"></i>上午好，李先生</span>
                    <span><i class="icon exit"></i>退出  &nbsp;&nbsp;&nbsp;|</span>
                    <span>修改密码</span>
                    <span><i class="icon eamil"></i>消息</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--header end-->
<!--advimg-->
<div class="masthead pb0"></div>
<!--advimg end-->
<!--面包屑-->
<div class="container mt45 mb20">
    位置：<a href=""> 主页</a> > <a href="">我的服务</a> > <span class="col2">服务详情</span>
</div>
<!--面包屑 end-->
<!--内容-->
<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <!--left-->
        <div class="col-lg-2 col-sm-2 col-md-2 pl0 pr0 important" id="myScrollspy">
            <ul class="new-center-left development-menu nav-stacked nav nav-tabs nav-stacked" data-spy="affix"
                data-offset-top="125">
                <li><a href="#mms1">我的服务</a></li>
                <li><a href="#mms2">服务提醒</a></li>
                <li><a href="#mms3">回收站</a></li>
            </ul>
        </div>
        <!--left end-->
        <!--right-->
        <div class="col-lg-10 col-sm-10 col-md-10 bd-left">
            <!--产品服务-->
            <dl class="development-nav sever-detail">
                <dt>金融预期常欠客</dt>
                <dd class="row ml0 mr0">
                    <div class="col-md-6">
                        <p class="pt10 important">服务时间<em class="ml30">2107/12/08—2018/12/08</em> <i
                                class="col1 fz-16 ml40">剩365天</i></p>
                        <p>服务状态<i class="col3 fz-16 ml30">服务中/已停止</i></p>
                        <p>服务指标<em class="ml30"><i class="icon pj-icon1 mr5"></i>良好</em><em class="ml20"><i
                                class="icon pj-icon2 mr5"></i>余额不足/即将过期</em><em class="ml20"><i
                                class="icon pj-icon3 mr5"></i>已过期</em></p>
                    </div>
                    <div class="col-md-6 bd-left pl20">
                        <p class="pt10 important"><i class="icon kefu mr5"></i>续约</p>
                        <p class="ml40"><a href="" class="mr20">历史充值</a> | <a href="" class="ml20">消费明细</a></p>
                        <p class="ml40"><span class="appid-btn cp" id="appkid">获取AppId</span></p>
                    </div>
                </dd>
            </dl>
            <!--产品服务 end-->
            <!--tab-->
            <div class="pl40 pr40 pb40">
                <ul class="nav nav-tabs row case-tab mb20" role="tablist">
                    <li role="presentation" class="active col-lg-2 col-sm-2 col-md-2 col-xs-3"><a href="#home"
                                                                                                  aria-controls="home"
                                                                                                  role="tab"
                                                                                                  data-toggle="tab">开发文档</a>
                    </li>
                    <li role="presentation" class="col-lg-2 col-sm-2 col-md-2 col-xs-3"><a href="#profile"
                                                                                           aria-controls="profile"
                                                                                           role="tab" data-toggle="tab">API介绍</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="development-nav p0 important">
                            <div id="voice1">
                                <div class="msghoverbg">
                                    <h1>1.语音接口地址与示例</h1>
                                    通用接口地址：http://client.movek.net:8888<br>
                                </div>
                                <div class="msghoverbg">
                                    <p>1.1 语音平台接口地址</p>
                                    通用接口地址：http://client.movek.net:8888
                                </div>
                                <div class="msghoverbg">
                                    <p>1.2 快速应用示例</p>
                                    <p>发送语音</p>
                                    http://client.movek.net:8888/sendvms.aspx?action=send&account=序列号&password=密码&userid=特服号&title=标题&mobile=手机号1,手机号2,手机号&Vmsmsg=内容
                                </div>
                            </div>
                            <div id="voice2">
                                <div class="msghoverbg">
                                    <h1>2.语音发送接口</h1>
                                    <p>2.1 HTTP 发送接口</p>
                                    发送接口地址：http://client.movek.net:8888/sendvms.aspx<br>
                                </div>
                                <div class="msghoverbg">
                                    <p>2.2 语音示例</p>
                                    <div>请求方式：<i>POST、GET</i>,数据编码：UTF-8</div>
                                    http://client.movek.net:8888/sendvms.aspx?action=send&userid=12&account=zhouyang&password=123456&mobile=138********,135********&title=abc&Vmsmsg
                                    =内容<br>
                                </div>
                                <div class="msghoverbg">
                                    <p>2.3发送返回值</p>
                                    在接收到客户端发送的http请求后，返回以xml的方式返回处理结果（JSON返回一致）。格式为：<br>
                                    &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&gt;<br>
                                    &lt;returnvms&gt;<br>
                                    &lt;returnstatus&gt;返回状态值：成功返回Success 失败返回：Faild&lt;/returnstatus&gt;<br>
                                    &lt;message&gt;返回信息&lt;/message&gt;<br>
                                    &lt;remainpoint&gt; 返回余额&lt;/remainpoint&gt; <br>
                                    &lt;taskID&gt;返回本次任务的序列ID &lt;/taskID&gt;<br>
                                    &lt;successCounts&gt;成功短信数：当成功后返回提交成功短信数&lt;/successCounts&gt; <br>
                                    &lt;/returnvms&gt;<br>
                                    JSON返回值：<br>
                                    {"code":"Success","data":{"returnstatus":"返回状态值：成功返回Success
                                    失败返回：Faild","message":"返回信息","remainpoint":返回余额,"taskID":"返回本次任务的ID","successCounts":"成功短信数"},"msg":"ok"}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                            TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                    </div>
                </div>
            </div>
            <!--tab-->
        </div>
        <!--right end-->

    </div>


</div>
<!--内容 end-->

<!--footer-->
<footer class="footer">
    <div class="container ">
        <ul class="mpFooterLinks">
            <li><a href="https://www.antgroup.com/introduction.htm" target="_blank" seed="mpFooterLinks-linkT14"
                   smartracker="on">关于蚂蚁</a></li>
            <li><a href="https://www.antgroup.com" target="_blank" seed="mpFooterLinks-linkT15"
                   smartracker="on">蚂蚁金服</a></li>
            <li><a href="https://www.alipay.com" target="_blank" seed="mpFooterLinks-linkT16" smartracker="on">支付宝</a>
            </li>
            <li><a href="https://www.koubei.com" target="_blank" seed="mpFooterLinks-linkT17" smartracker="on">口碑</a>
            </li>
            <li><a href="https://www.zmxy.com.cn" target="_blank" seed="mpFooterLinks-linkT18" smartracker="on">芝麻信用</a>
            </li>
        </ul>
        <ul class="mpFooterLinks">
            <li><a href="http://www.alibabagroup.com/cn/global/home" target="_blank" seed="mpFooterLinks-linkT19"
                   smartracker="on">阿里巴巴集团</a></li>
            <li><a href="https://www.alibaba.com" target="_blank" seed="mpFooterLinks-linkT20"
                   smartracker="on">阿里巴巴国际站</a></li>
            <li><a href="https://www.1688.com/" target="_blank" seed="mpFooterLinks-linkT21" smartracker="on">1688</a>
            </li>
            <li><a href="https://www.taobao.com/" target="_blank" seed="mpFooterLinks-linkT22" smartracker="on">淘宝</a>
            </li>
            <li><a href="https://www.tmall.com/" target="_blank" seed="mpFooterLinks-linkT23" smartracker="on">天猫</a>
            </li>
            <li><a href="https://ju.taobao.com/" target="_blank" seed="mpFooterLinks-linkT24" smartracker="on">聚划算</a>
            </li>
            <li><a href="http://www.alimama.com/" target="_blank" seed="mpFooterLinks-linkT25" smartracker="on">阿里妈妈</a>
            </li>
            <li><a href="https://www.aliyun.com/" target="_blank" seed="mpFooterLinks-linkT26"
                   smartracker="on">阿里云计算</a></li>
        </ul>
        <span class="mpCopyRight">Copyright © 2017 蚂蚁金融服务集团 | ICP证: 沪ICP备15027489号-2</span>
    </div>
</footer>
<!--在线客服-->
<div class="fixedBox">
    <ul class="fixedBoxList">
        <li class="fixeBoxLi Service">
            <i></i>
            <div class="ServiceBox">
                <em></em>
                <div class="bjfff"></div>
                <P class="p2"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2885540004&site=qq&menu=yes"><img
                        border="0" src="../images/icon/qq-sq.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></P>
                <P class="p2 mt5"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2885540001&site=qq&menu=yes"><img
                        border="0" src="../images/icon/qq-sh.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></P>
                <p class="p2 mt5"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2885539934&site=qq&menu=yes"><img
                        border="0" src="../images/icon/qq-js.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
                <p><img border="0" src="images/icon/400.png"/></p>
            </div>
        </li>
        <li class="fixeBoxLi Service">
            <i class="weixin-icon"><img src="../images/icon/weixin.png"></i>
            <div class="ServiceBox weixin-icon-nav">
                <div class="bjfff"></div>
                <P class="p2"><img src="../images/ewm.png" style="width: 121px;"></P>
                <p class="tc weixin-title">微信公众号</p>
            </div>
        </li>
        <li class="fixeBoxLi Service">
            <i class="sina-icon"><a
                    href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=真实的appkey',u=z||d.location,p=['&url=',e(u),'&title=',e(t||d.title),'&source=',e(r),'&sourceUrl=',e(l),'&content=',c||'gb2312','&pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','图片链接|默认为空','标题|默认当前页标题','内容链接|默认当前页location','页面编码gb2312|utf-8默认gb2312'));"
                    target="_blank"><img src="../images/icon/sina.png"></a></i>
        </li>
    </ul>
</div>
<!--在线客服 end-->
<!--获取Appid 提示层-->
<div id="appkid-modal" style="display: none">
    <!--form-->
    <div id="mode_app_id_1">
        <div class="layui-layer-title">获取Appid</div>
        <div class="mb30">
            <div class="margin-auto">
                <div class="clearfix tc mt20" style="margin-left: 128px;">
                    <span class="step fl w30"><i class="icon-01 icon mr10"></i><br>密码验证</span>
                    <span class="fl w30"><i class="icon-02-1 icon mr10"></i><br>获取Appid</span>
                </div>
            </div>
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号：</label>
                    <div class="layui-input-block">
                        admin
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col1">*</i>密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="username" placeholder="请输入" class="layui-input w80">
                    </div>
                </div>
            </div>
            <div class="layui-form-item tc">
                <button class="layui-btn" id="appkid-step2">下一步</button>
            </div>
        </div>
    </div>
    <!--form end-->
    <!--form-->
    <div id="mode_app_id_2" style="display:none;">
        <div class="layui-layer-title">获取Appid</div>
        <div class="mb30">
            <div class="margin-auto">
                <div class="clearfix tc mt20" style="margin-left: 128px;">
                    <span class="step fl w30"><i class="icon-01 icon mr10"></i><br>密码验证</span>
                    <span class="fl w30"><i class="icon-02 icon mr10"></i><br>获取Appid</span>
                </div>
            </div>
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">Appid：</label>
                    <div class="layui-input-block w60 pt10">
                        2349-1234-huas-1232-s8sd
                        <span class="add-button ml10 cp">复制</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Appkey：</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" placeholder="请输入" class="layui-input w60"
                               style="display: inline-block;">
                        <span class="add-button ml10 cp">生成</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">请求IP：</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" placeholder="请输入" class="layui-input w80">
                    </div>
                </div>
            </div>
            <div class="layui-form-item tc">
                <button class="layui-btn">保存</button>
            </div>
            <div class="layui-form-item tc col1">设置完成后请保存以便接口调用</div>
        </div>
    </div>
    <!--form end-->
</div>
<!--获取Appid 提示层 end-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.unveil.min.js"></script>
<script src="../js/jquery.scrollUp.min.js"></script>
<script src="../js/jquery.matchHeight-min.js"></script>
<script src="../js/site.min.js"></script>
<script src="../js/bootstrap-touch-slider.js"></script>
<script src="../js/lanrenzhijia.js"></script>
<script src="../js/public.js"></script>
<script src="../js/toc.min.js"></script>
<script src="../plugins/layui/layui.js"></script>
<script>
    var message;
    layui.config({
        base: '../build/js/'
    }).use(['app', 'message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#appkid').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: $('#appkid-modal'),
                area: ['600px'],
                shadeClose: true
            });
        });
        $('#appkid-step2').on('click', function() {
            $("#mode_app_id_1").hide();
            $("#mode_app_id_2").show();
        });
    });
</script>
</body>
</body>
</html>
  