<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css"
          href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/monitor/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="monitor/common :: top"></div>

    <div th:include="monitor/common :: left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="p20">
            <div class="public-title3">已处理警报信息</div>
            <div class="layui-row layui-col-space10 mt15">
                <!--left-->
                <div class="layui-col-md10">
                    <!--请求趋势-->
                    <dl class="grid-demo grid-demo-bg1  public-warp1">
                        <dt><em>全部警报</em></dt>
                        <dd>
                            <!--搜索-->
                            <ul class="search-list clearfix pb25 layui-form">
                                <li>
                                    <input type="text" id="select-time" placeholder="点击选择时间" class="layui-input"/>
                                    <input type="hidden" name="fromDate" id="fromDate" value=""/>
                                    <input type="hidden" name="toDate" id="toDate" value=""/>
                                </li>
                                <li>
                                    <select name="disposeManagerId" lay-search="">
                                        <option value="">选择处理人</option>
                                        <option th:each="o : ${list}" th:value="${o.id}" th:text="${o.name}"></option>
                                    </select>
                                </li>
                                <li style="margin-top: 7px;">
                                    <a href="javascript:;" class="check-button cp" lay-submit=""
                                       lay-filter="search" style="padding: 11px 21px">查询</a>
                                </li>
                                <input type="hidden" name="warningType" id="warningType" value=""/>
                            </ul>
                            <!--搜索 end-->
                            <table class="layui-hide" id="data-table"></table>

                            <script type="text/html" id="barDemo">
                                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"
                                   href="detail.html">查看</a>
                            </script>
                        </dd>
                    </dl>
                    <!--请求趋势 end-->
                </div>
                <!--left end-->
                <!--right-->
                <div class="layui-col-md2">
                    <dl class="grid-demo grid-demo-bg1  public-warp1">
                        <dd>
                            <ul class="stay-meunu-list select-type">
                                <li class="cp active" attData="">全部报警</li>
                                <li class="cp" attData="1">产品警报</li>
                                <li class="cp" attData="2">客户警报</li>
                                <!--<li class="cp" attData="3">第三方警报<i>5</i></li>-->
                            </ul>
                        </dd>
                    </dl>
                </div>
                <!--right end-->
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/monitor-common.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/business/alarm-already.js"></script>
<script type="text/html" id="operation-bar">
    <a href="/alarm/already/detail.html?id={{d.id}}" class="col6">查看</a>
</script>
</body>

</html>