<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css"
          href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/monitor/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="monitor/common :: top"></div>

    <div th:include="monitor/common :: left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="p20">
            <div class="public-title3">
                警报信息详情<span class="fr"><a href="javascript:history.back(-1);" class="return-btn ml10">返回</a></span>
            </div>
            <input type="hidden" id="manageId" th:value="${id}"/>
            <input type="hidden" id="warningType" th:value="${type}"/>
            <div class="layui-row layui-col-space10 mt15">
                <!--请求趋势-->
                <dl class="grid-demo grid-demo-bg1  public-warp1">
                    <dt><em>基本信息</em></dt>
                    <dd>
                        <!--基本信息-->
                        <div class="layui-row">
                            <div class="layui-col-md8">
                                <div class="layui-form from1 w60 col6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">警报类型：</label>
                                        <div class="layui-input-block">
                                            <span th:text="${warningName}"></span>
                                        </div>
                                    </div>
                                    <div class="layui-form-item" th:if="${type == 2}">
                                        <label class="layui-form-label">客户：</label>
                                        <div class="layui-input-block">
                                            <span th:text="${corpName}"></span>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">产品：</label>
                                        <div class="layui-input-block">
                                            <span th:text="${productName}"></span>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">报警时间：</label>
                                        <div class="layui-input-block">
                                            <span th:text="${warningAt}"></span>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">处理状态：</label>
                                        <div class="layui-input-block">
                                            <span th:if="${dispose == 1}">已处理</span>
                                            <span th:if="${dispose == 0}">未处理</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="w80" th:if="${dispose == 0}">
                                    <div><span class="return-btn cp" id="addclass">标记为已处理</span></div>
                                    <div class="stay-detail p30 mt30">系统会自动从告警恢复正常。但是产生的警告信息不会自动消失，需要工作人员进行标记处理；</div>
                                </div>
                                <div class="w80 layui-row stay-detail p30" th:if="${dispose == 1}">
                                    <div class="layui-col-md3 tc mt40">
                                        <i class="layui-icon fz-70 col4">&#xe616;</i>
                                    </div>
                                    <div class="layui-col-md9 col6">
                                        <p class="fz-18 col3">已处理</p>
                                        <p class="mt10">处理人：<span th:text="${managerName}"></span></p>
                                        <p class="mt10">处理时间：<span th:text="${warningDisposeTime}"></span></p>
                                        <p>备注：<span th:text="${remark}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--基本信息 end-->

                        <!--触发记录-->
                        <div class="fz-18 col6 mt30 mb20 pl30 pr30">触发记录<span class="fr" id="total"></span></div>
                        <table class="layui-hide" id="data-table"></table>
                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                        </script>
                        <!--触发记录 end-->
                    </dd>
                </dl>
                <!--请求趋势 end-->
            </div>
        </div>
    </div>

</div>


<!--新增 提示层-->
<div id="add-manage" class="modal">
    <!--form-->
    <div class="layui-layer-title">填写信息</div>
    <div class="mb30">
        <div class="m30">
            <label class="layui-form-label tl p0">备注说明：</label>
            <div class="layui-form-item pt15">
                <textarea id="remark" placeholder="请输入内容" class="layui-textarea" maxlength="120"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="tc">
                <a href="javascript:;" class="layui-btn" onclick="doDispose()">确认已处理</a>
                <p class="fz-12 col3 tc mt10">标记后无法更改</p>
            </div>
        </div>
    </div>
    <!--form end-->
</div>

<!--提示层 end-->

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/monitor-common.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/business/alarm-detail.js"></script>
</body>

</html>