<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/monitor/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="monitor/common :: top"></div>

    <div th:include="monitor/common :: left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="p20">
            <div class="public-title3">待处理警报信息</div>
            <div class="layui-row layui-col-space10 mt15">
                <!--left-->
                <div class="layui-col-md10">
                    <!--请求趋势-->
                    <dl class="grid-demo grid-demo-bg1  public-warp1">
                        <dt><em>全部警报</em></dt>
                        <dd>
                            <!-- <table class="public-table1">
                                <tr>
                                    <th>警报类型</th>
                                    <th>接口名称</th>
                                    <th>预警内容</th>
                                    <th>警报时间</th>
                                    <th>处理状态</th>
                                    <th>错误码</th>
                                    <th>操作</th>
                                </tr>
                                <tbody>
                                    <tr>
                                        <td>请求超时</td>
                                        <td>身份验证</td>
                                        <td>请求超时</td>
                                        <td>身份验证</td>
                                        <td>请求超时</td>
                                        <td>02/20 15:15:15</td>
                                        <td><a href="#">查看</a></td>
                                    </tr>
                                </tbody>
                            </table> -->
                            <table class="public-table1" id="data-table" ></table>
                        </dd>
                    </dl>
                    <!--请求趋势 end-->
                </div>
                <!--left end-->
                <!--right-->
                <div class="layui-col-md2">
                    <dl class="grid-demo grid-demo-bg1  public-warp1">
                        <dd>
                            <ul class="stay-meunu-list select-type">
                                <li class="cp active" attData="">全部报警</li>
                                <li class="cp" attData="1">产品警报</li>
                                <li class="cp" attData="2">客户警报</li>
                                <!--<li class="cp" attData="3">第三方警报<i>5</i></li>-->
                            </ul>
                            <input type="hidden" id="warningType" value=""/>
                        </dd>
                    </dl>
                </div>
                <!--right end-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/monitor-common.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/business/alarm-wait.js"></script>
<script type="text/html" id="operation-bar">
    <a href="/alarm/wait/detail.html?id={{d.id}}" class="col6">查看</a>
</script>
</body>
</html>