<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/monitor/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="monitor/common :: top"></div>

    <div th:include="monitor/common :: left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="p20">
            <div class="public-title3">待处理警报信息<span class="fr">2018年2月10日   18:20</span></div>
            <div class="layui-row layui-col-space10 mt15">
                <!--left-->
                <div class="layui-col-md10">
                    <!--请求趋势-->
                    <dl class="grid-demo grid-demo-bg1  public-warp1">
                        <dt><em>全部警报</em></dt>
                        <dd>
                            <!-- <table class="public-table1">
                                <tr>
                                    <th>警报类型</th>
                                    <th>接口名称</th>
                                    <th>预警内容</th>
                                    <th>警报时间</th>
                                    <th>处理状态</th>
                                    <th>错误码</th>
                                    <th>操作</th>
                                </tr>
                                <tbody>
                                    <tr>
                                        <td>请求超时</td>
                                        <td>身份验证</td>
                                        <td>请求超时</td>
                                        <td>身份验证</td>
                                        <td>请求超时</td>
                                        <td>02/20 15:15:15</td>
                                        <td><a href="#">查看</a></td>
                                    </tr>
                                </tbody>
                            </table> -->
                            <table class="layui-hide" id="test" lay-filter="demo"></table>

                            <script type="text/html" id="barDemo">
                                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                            </script>
                        </dd>
                    </dl>
                    <!--请求趋势 end-->
                </div>
                <!--left end-->
                <!--right-->
                <div class="layui-col-md2">
                    <dl class="grid-demo grid-demo-bg1  public-warp1">
                        <dd>
                            <ul class="stay-meunu-list">
                                <li class="active">全部报警</li>
                                <li>第三方警报<i>5</i></li>
                                <li>产品警报</li>
                                <li>客户警报</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <!--right end-->
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/monitor-common.js"></script>
<script>
    layui.config({
        base: '../../static/build/js/'
    }).use(['laydate', 'laypage', 'layer', 'table'], function() {
        var laydate = layui.laydate; //日期
        laypage = layui.laypage; //分页
        layer = layui.layer; //弹层
        table = layui.table;//表格
        //执行一个 table 实例
        table.render({
            elem: '#test'
            , height: 332
            , url: './../../js/demo.json' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: '警报类型', width: '10%', sort: true, fixed: 'left'}
                , {field: 'username', title: '接口名称', width: '10%'}
                , {field: 'sex', title: '预警内容', width: '40%', sort: true}
                , {field: 'city', title: '警报时间', width: '10%'}
                , {field: 'sign', title: '处理状态', width: '10%'}
                , {field: 'experience', title: '错误码', width: '10%', sort: true}
                , {field: 'score', title: '操作', width: '10%', sort: true}
            ]]
        });
        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            , count: 100 //总页数
            , skin: '#1E9FFF' //自定义选中色值
            //,skip: true //开启跳页
            , jump: function(obj, first) {
                if(!first) {
                    layer.msg('第' + obj.curr + '页');
                }
            }
        });
    });
</script>
</body>

</html>