<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="../../static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/style.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/base.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" media="all"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">

    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="customer::left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--面包屑-->
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/client/index.html">客户管理<span class="layui-box">&gt;</span></a>
            <a href="/client/index.html">客户管理<span class="layui-box">&gt;</span></a>
            <a><cite>账户充值记录</cite></a>
        </div>
        <!--面包屑 end-->
        <div class="p20">
            <!--搜索-->
            <input type="hidden" id="client-id" th:value="${clientId}"/>
            <ul class="search-list clearfix border-b2 pb25">
                <li>时间：
                    <em style="display: inline-block;">
                        <input type="text" name="date" id="start-time" placeholder="yyyy-MM-dd" autocomplete="off"
                               class="layui-input search-input date"/></em>
                    -
                    <em style="display: inline-block;">
                        <input type="text" name="date" id="end-time" placeholder="yyyy-MM-dd" autocomplete="off"
                               class="layui-input search-input date"/></em>
                   <!-- <em class="fr"><input type="text" name="date" id="date1" lay-verify="date"
                                          placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input search-input"/></em>-->
                </li>
                <li>
                    <button class="check-button" onclick="searchAccoRechargeList();">查询</button>
                </li>
            </ul>
            <!--搜索 end-->
            <!--功能操作-->
            <div class="clearfix mt30 mb40">
                    <span class="fr">
                        一次最多导出1000条
                        <a href="customer-add.html" class="add-button">导出</a>
                    </span>
            </div>
            <!--功能操作 end-->
            <!--table-->
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>充值单号</th>
                        <th>公司名称</th>
                        <th>公司简称</th>
                        <th>账号</th>
                        <th>金额(元)</th>
                        <th>充值类型</th>
                        <th>账户余额(不包含服务)</th>
                        <th>经人手</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody id="dataBody">

                    </tbody>
                </table>
            </div>
            <!--table end-->
            <!--page-->
            <div class="layui-table-tool mt20">
                <div class="layui-inline layui-table-page" id="layui-table-page1">
                    <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
                        <a id="prevPage" href="javascript:gotoPrev();" class="layui-laypage-prev layui-disabled">
                            <i class="layui-icon">&#xe603;</i>
                        </a>
                        <span id="frontPages"></span>
                        <span class="layui-laypage-curr">
                            <em class="layui-laypage-em"></em>
                            <em id="currentPage">1</em>
                        </span>
                        <span id="nextPages"></span>
                        <a id="nextPage" href="javascript:gotoNext();" class="layui-laypage-next layui-disabled">
                            <i class="layui-icon">&#xe602;</i>
                        </a>
                        <span id="total" class="layui-laypage-count">共 0 条</span>
                        <span id="pages" class="layui-laypage-count">共 0 页</span>
                        <input type="hidden" id="pageNum" value="1"/>
                        <input type="hidden" id="totalPage" value="0"/>
                        <span class="layui-laypage-limits">
                            <select id="pageSize" lay-ignore="" onchange="searchAccoRechargeList()">
                                <option value="15" selected="selected">15 条/页</option>
                                <option value="30">30 条/页</option>
                                <option value="50">50 条/页</option>
                            </select>
                        </span>
                        <span class="layui-laypage-skip">
                            到第<input type="text" id="userPageNum" min="1" value="1" class="layui-input"/>页
                        </span>
                        <span class="layui-laypage-skip">
                            <button type="button" class="layui-laypage-btn" onclick="gotoPage()">确定</button>
                        </span>
                    </div>
                </div>
            </div>
            <!--page end-->
        </div>
    </div>

    <div class="layui-footer" th:include="common :: copyright"></div>
</div>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1264021086'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264021086%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="../../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/account.recharge.list.js}"></script>
<script>
    var message;
    layui.config({
        base: '../../static/build/js/'
    }).use(['app', 'message', 'laydate'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        laydate = layui.laydate;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#pay').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: '<img src="../../static/build/images/pay.png" />',
                area: ['500px', '250px'],
                shadeClose: true
            });
        });
        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
    });
</script>
</body>
</html>