<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/style.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/base.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" media="all"/>
    <link th:href="@{/plugins/paging/css/paging.css}" rel="stylesheet"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="customer::left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/client/index.html">客户管理<span class="layui-box">&gt;</span></a>
            <a href="/client/index.html">客户管理<span class="layui-box">&gt;</span></a>
            <a><cite>客户管理</cite></a>
        </div>
        <div class="p20">
            <ul class="search-list clearfix border-b2 pb25">
                <li>
                    公司名称：<input type="text" id="corpName" name="corpName" placeholder="请输入" class="search-input"/>
                </li>
                <li>
                    公司简称：
                    <input type="text" id="shortName" name="shortName" placeholder="请输入" class="search-input"/>
                </li>
                <li>
                    账号：<input type="text" id="username" name="username" placeholder="请输入" class="search-input"/>
                </li>
                <li>
                    所在行业：
                    <select id="parentIndustryId" name="parentIndustryId" class="select-list"
                            onchange="getSubIndustry()">
                        <option value="">全部</option>
                        <option th:each="industry:${industryList}" th:value="${industry.id}"
                                th:text="${industry.name}"></option>
                    </select>
                    <select id="industryId" name="industryId" class="select-list">
                        <option value="">全部</option>
                    </select>
                </li>
                <li>账号状态：
                    <select id="enabled" name="enabled" class="select-list">
                        <option value="" selectd="selected">全部</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </li>
                <li>
                    <button type="button" class="check-button" onclick="clientListInit()">查询</button>
                </li>
            </ul>
            <div class="clearfix mt20">
                <a href="#" class="cz-button ml5" onclick="batchChangeStatus(0)"
                   th:if="${#lists.contains(i_privilege, '31104')}">冻结账号</a>
                <a href="#" class="cz-button ml10 mr10" onclick="batchChangeStatus(1)"
                   th:if="${#lists.contains(i_privilege, '31105')}">解冻账号</a>
                <a href="#" class="cz-button mr10" onclick="batchDeleted()"
                   th:if="${#lists.contains(i_privilege, '31106')}">停用</a>
                <a href="#" class="cz-button" onclick="batchResetPwd()"
                   th:if="${#lists.contains(i_privilege, '31107')}">重置密码</a>
                <a th:href="@{/client/addition.html}" class="fr add-button"
                   th:if="${#lists.contains(i_privilege, '31102')}">添加客户</a>
            </div>
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"/>
                        </th>
                        <th>编号</th>
                        <th>客户账号</th>
                        <th>公司名称</th>
                        <th>公司简称</th>
                        <th>所在行业</th>
                        <th>联系人</th>
                        <th>联系电话</th>
                        <th>商务经理</th>
                        <th>子账号(个)</th>
                        <th>注册日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="dataBody"></tbody>
                </table>
            </div>
            <!--table end-->
            <!--page-->
            <div class="box mt30" id="pagination"></div>
        </div>
    </div>

    <div class="layui-footer" th:include="common :: copyright"></div>
</div>

<div id="child-account" class="modal">
    <div class="layui-layer-title" id="child-account-title">子账号列表</div>
    <div class="mb30">
        <div class="m30">
            <div class="tc fz-14" id="thisCorpName"></div>
            <div class="col2 mt20" id="sameTotal"></div>
            <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                <thead>
                <tr>
                    <th>账号</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="child-account-body">
                </tbody>
            </table>
        </div>
        <div class="layui-form-item tc">
            <button class="layui-btn" onclick="layer.closeAll()">关闭</button>
        </div>
    </div>
</div>
<!--提示层 end-->

<!-- 冻结/解冻账号提示层 -->
<div id="ban-div" class="modal">
    <div class="layui-layer-title" id="ban-title">冻结/解冻账号</div>
    <div class="mb30 layui-form">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label">原因：</label>
                <div class="layui-input-block">
                    <textarea id="ban-reason" placeholder="请输入原因" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" id="ban-client-id"/>
                <input type="hidden" id="ban-client-enabled"/>
                <input type="hidden" id="ban-type"/>
                <button class="layui-btn" onclick="banClient()">确定</button>
            </div>
        </div>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="resetPoint :: point"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/js/logout.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script type="text/javascript" th:src="@{/js/password.js}"></script>
<script type="text/javascript" th:src="@{/plugins/paging/js/paging.js}"></script>
<script type="text/javascript" th:src="@{/js/customer.index.js}"></script>
<script>
    var message;
    layui.config({
        base: '../../static/build/js/'
    }).use(['app', 'message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#chridAccount').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: $('#chrid-account'),
                area: ['700px'],
                shadeClose: true
            });
        });
    });
    layui.use(['form', 'layer', 'jquery', 'laypage'], function() {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : parent.layer,
            laypage = layui.laypage,
            $ = layui.jquery;
        //全选
        form.on('checkbox(allChoose)', function(data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([corpName="show"])');
            child.each(function(index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
        //通过判断文章是否全部选中来确定全选按钮是否选中
        form.on("checkbox(choose)", function(data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([corpName="show"])');
            var childChecked =
                $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([corpName="show"]):checked');
            if(childChecked.length === child.length) {
                $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
            }
            else {
                $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
            }
            form.render('checkbox');
        })
    });
</script>
</body>
</html>