<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="../../static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/style.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/base.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" media="all"/>
    <link rel="stylesheet" href="../../static/plugins/paging/css/paging.css" media="all"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="customer::left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--面包屑-->
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/client/index.html">客户管理<span class="layui-box">&gt;</span></a>
            <a href="/client/index.html">客户管理<span class="layui-box">&gt;</span></a>
            <a><cite>客户详情</cite></a>
        </div>
        <!--面包屑 end-->
        <div class="p20">
            <!--form-->
            <form class="layui-form" action="">
                <div class="form-title mb20">基础信息<input type="hidden" id="client-id" th:value="${clientId}"/></div>
                <div class="m30 clearfix">
                    <div class="w30 fl">
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">客户编号：</label>
                            <div class="layui-input-block col2" th:text="${clientId}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">账号：</label>
                            <div class="layui-input-block col2" th:text="${username}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">公司简称：</label>
                            <div class="layui-input-block col2" th:text="${shortName}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">社会信用代码：</label>
                            <div class="layui-input-block col2" th:text="${license}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">联系电话：</label>
                            <div class="layui-input-block col2" th:text="${phone}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">商务经理：</label>
                            <div class="layui-input-block col2" th:text="${managerName}"></div>
                        </div>
                    </div>
                    <div class="w30 fl">
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">账号状态：</label>
                            <div class="layui-input-block col2 show-log"
                                 th:text="${userEnabled} eq '1' ? '启用':'禁用'"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">公司名称：</label>
                            <div class="layui-input-block col2" th:text="${corpName}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">类型：</label>
                            <div class="layui-input-block col2" th:text="${industryName}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">联系人：</label>
                            <div class="layui-input-block col2" th:text="${name}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">邮箱：</label>
                            <div class="layui-input-block col2" th:text="${email}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">注册时间：</label>
                            <div class="layui-input-block col2" th:text="${registerDate}"></div>
                        </div>
                    </div>
                </div>
                <div class="form-title mb20">产品服务</div>

                <div class="m30">
                    <ul class="customer-detail clearfix">

                        <li th:each="cp : ${opened}">
                            <p class="clearfix mb40" th:if="${cp.billPlan == 1}">
                                <span th:text="${cp.startDate} + ' - ' + ${cp.endDate}"></span>
                                <span class="fb fr" th:text="'充值：' + ${cp.amount} + '元'"></span>
                            </p>
                            <p class="clearfix mb40" th:if="${cp.billPlan != 1}">
                                <span th:text="'账户余额：' + ${cp.balance} + '元'"></span>
                                <span class="fb fr" th:text="'单价：' + ${cp.unitAmt} + '元/次'"></span>
                            </p>
                            <p class="mt40 tc mb40">
                                <a href="#" class="add-button mr30" th:text="${cp.productName}"></a>
                                <span class="key-button cp app-id"
                                      th:attr="app-id=${cp.appId}, app-name=${cp.productName}">
                                    AppID</span>
                            </p>
                            <p class="mt40 customer-detail-menu">
                                <a th:href="'/client/product/recharge.html?id=' + ${cp.clientProductId}">历史充值</a>
                                <a th:href="'/client/product/consume.html?id=' + ${cp.clientProductId}" class="tc">
                                    消费记录</a>
                                <a class="cp">
                                    <span class="renew" th:attr="client-product-id=${cp.clientProductId}">续签</span>
                                </a>
                            </p>
                        </li>

                        <li th:each="prod : ${toOpen}">
                            <p class="tc mt15"><img src="../../static/images/icon/check-icon.png"/></p>
                            <p class="tc mt5" th:text="${prod.productName}"></p>
                            <p class="mt40 tr">
                                <span class="cp open-product" th:attr="data-product-id = ${prod.productId}">开通</span>
                            </p>
                        </li>

                    </ul>
                </div>

                <div class="form-title mb20">账户余额</div>
                <div class="m30 clearfix">
                    <div class="w30 fl">
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">账户状态：</label>
                            <div class="layui-input-block col2" th:text="${accountEnabled} eq '1' ? '正常':'禁用'">正常</div>
                        </div>
                    </div>

                    <div class="w40 fl">
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">账户余额：</label>
                            <div class="layui-input-block col2">
                                <span th:text="${balance} + '元'">0.00元</span>
                                <span class="add-button ml30 cp" id="recharge">账户充值</span>
                                <a th:href="'/client/account/recharge.html?id=' + ${clientId}" class="mr30 ml20 link1">充值记录</a>
                                <a th:href="'/client/account/consume.html?id=' + ${clientId}" class="mr30 ml20 link1">
                                    消费记录</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-title mb20">子账号</div>
                <div class="m30 clearfix">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>账号</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user:${userList}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.phone}"></td>
                            <td><span><a href="customer-edit.html" class="edit">查看消费详情</a></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <!--form end-->
        </div>
    </div>
    <div class="layui-footer" th:include="common :: copyright"></div>
</div>

<!--修改密码  提示层-->
<div id="editpwd-manage" class="modal" th:include="resetPoint :: point"></div>

<!-- 冻结解冻提示层 -->
<div id="ban-div" class="modal">
    <div class="layui-layer-title">账号操作记录</div>
    <div class="mb30">
        <div class="mb30 ml30 mr30" id="ban-data-body">
            <ul class="log">
                <li>
                    <div class="title-log pt10 pb10 clearfix">
                        <span class="w50 tl">#{type}</span>
                        <span class="w25 tr">#{managerName}</span>
                        <span class="w25 tr">#{operateTime}</span>
                    </div>
                    <div class="lh25 tl col2">#{reason}</div>
                </li>
            </ul>
        </div>
        <div class="layui-form-item tc">
            <div class="box" id="pagination"></div>
        </div>
    </div>
</div>
<!-- 冻结解冻提示层 -->

<!--app-id  提示层-->
<div id="key-modal" class="modal">
    <!--form-->
    <div class="layui-layer-title" id="app-id-prod"></div>
    <div class="mb30">
        <form class="layui-form" action="">
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">当前AppID：</label>
                    <div class="layui-input-block" id="app-id-val"></div>
                </div>
            </div>
        </form>
    </div>
    <!--form end-->
</div>
<!--提示层 end-->

<!--续签  提示层-->
<div id="renew-modal" class="modal">
    <!--form-->
    <div class="layui-layer-title">续费服务</div>
    <div class="mb30">
        <ul class="renew-inf-list clearfix" id="renew-info"></ul>
        <!--<form class="layui-form" action="">-->
        <div class="m30 mt0 mr40">
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>选择计费模式：</label>
                <div class="layui-input-block renew-input-block tl">
                    <select name="modules" id="renew-bill-plan" onchange="change()" class="select-list"
                            onblur="checkSelectBill()">
                        <option value="1">包年</option>
                        <option value="2">请求计费</option>
                        <option value="3">请求成功计费</option>
                    </select>
                    <i class="col3 pl10" id="selectBillTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item" id="serviceTime">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>服务时间：</label>
                <div class="layui-input-inline" style="width: 150px;">
                    <input type="text" id="renew-start" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input date" onchange="checkStartTime()"/>
                    <i class="col3 pl10" id="startTimeTip" style="display: none"></i>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 150px;">
                    <input type="text" id="renew-end" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input date" onchange="checkEndTime()"/>
                    <i class="col3 pl10" id="endTimeTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item" style="display: none" id="priceIput">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>单价：</label>
                <div class="layui-input-block renew-input-block tl">
                    <input type="text" id="renew-unit" placeholder="请输入" autocomplete="off"
                           class="layui-input" style="width:70%; display: inline;" onblur="checkUnitPrice()"/> 元/次
                    <i class="col3 pl10" id="unitPriceTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值金额：</label>
                <div class="layui-input-block renew-input-block tl">
                    <input type="text" id="renew-amt" placeholder="请输入" autocomplete="off"
                           class="layui-input" style="width:60%; display: inline;" onblur="checkRecharge()"/> 元
                    <i class="col3 pl10" id="rechargeTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值类型：</label>
                <div class="layui-input-block renew-input-block tl">
                    <select id="renew-recharge-type" class="select-list" onblur="checkRechargeType()">
                        <option th:each="rt : ${rechargeDict}" th:value="${rt.id}" th:text="${rt.name}"></option>
                    </select>
                    <i class="col3 pl10" id="rechargeTypeTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>合同编号：</label>
                <div class="layui-input-block renew-input-block">
                    <input type="text" id="renew-contract" placeholder="请输入" autocomplete="off" class="layui-input"
                           onblur="checkContNumber()"/>
                    <i class="col3 pl10" id="contNumberTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label">备注：</label>
                <div class="layui-input-block renew-input-block">
                    <textarea id="renew-remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" id="renew-client-product-id"/>
                    <button class="layui-btn" onclick="renewProduct()">保存</button>
                </div>
            </div>
        </div>
        <!--</form>-->
    </div>
    <!--form end-->
</div>

<!--提示层 end-->

<!--开通服务  提示层-->
<div id="openServe-modal" class="modal">
    <!--form-->
    <div class="layui-layer-title">开通服务</div>
    <div class="m30">
        <!--<form class="layui-form" action="">-->
        <div class="m30 mt0 mr40">
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>选择计费模式：</label>
                <div class="layui-input-block renew-input-block tl">
                    <select id="open-charge" class="select-list" onchange="change()">
                        <option value="1">包年</option>
                        <option value="2">请求计费</option>
                        <option value="3">请求成功计费</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" id="year-div">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>服务时间：</label>
                <div class="layui-input-inline">
                    <input type="text" id="open-start" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input date" onchange="checkOpenStart()"/>
                    <i class="col3 pl10" id="openStartTip" style="display: none"></i>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline">
                    <input type="text" id="open-end" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input date" onchange="checkOpenEnd()"/>
                    <i class="col3 pl10" id="openEndTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item" id="times-div" style="display: none;">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>单价：</label>
                <div class="layui-input-block renew-input-block tl">
                    <input type="text" id="open-unit" lay-verify="required" placeholder="请输入" autocomplete="off"
                           class="layui-input" style="width:50%; display:inline;" onblur="checkOpenUnit()"/> 元/次
                    <i class="col3 pl10" id="openUnitTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值金额：</label>
                <div class="layui-input-block renew-input-block tl">
                    <input type="text" id="open-amt" lay-verify="required" placeholder="请输入" autocomplete="off"
                           class="layui-input" style="width:60%; display:inline;" onblur="checkOpenAmt()"/> 元
                    <i class="col3 pl10" id="openAmtTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值类型：</label>
                <div class="layui-input-block renew-input-block tl">
                    <select id="open-recharge-type" lay-verify="required" lay-search="" class="select-list">
                        <option th:each="rt : ${rechargeDict}" th:value="${rt.id}" th:text="${rt.name}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>合同编号：</label>
                <div class="layui-input-block renew-input-block">
                    <input type="text" id="open-contract" lay-verify="required" placeholder="请输入" autocomplete="off"
                           class="layui-input" onblur="checkOpenContract()"/>
                    <i class="col3 pl10" id="openContractTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label">备注：</label>
                <div class="layui-input-block renew-input-block">
                    <textarea id="open-remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" id="open-product-id"/>
                    <button class="layui-btn" onclick="openProduct()">保存</button>
                </div>
            </div>
        </div>
        <!--</form>-->
    </div>
    <!--form end-->
</div>
<!--提示层 end-->


<!--账户充值  提示层-->
<div id="recharge-modal" class="modal">
    <!--form-->
    <div class="layui-layer-title">账户充值</div>
    <div class="m30">
        <form class="layui-form" action="">
            <div class="m30 mt0 mr40">
                <div class="layui-form-item">
                    <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值金额：</label>
                    <div class="layui-input-block renew-input-block">
                        <input type="text" id="account-recharge-amt" name="username" lay-verify="required"
                               placeholder="请输入" autocomplete="off"
                               class="layui-input" style="width:65%; display: inline; float: left;"
                               onblur="checkRechargeAmt()"/> 元
                        <i class="col3 pl10" id="rechargeAmtTip" style="display: none"></i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值类型：</label>
                    <div class="layui-input-block renew-input-block">
                        <select name="modules" id="account-recharge-type" lay-verify="required" lay-search=""
                                class="select-list">
                            <option value="1">代客户充值</option>
                            <option value="2">赔偿</option>
                            <option value="3">借用</option>
                            <option value="4">返还</option>
                            <option value="5">活动赠送</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label renew-form-label">备注：</label>
                    <div class="layui-input-block renew-input-block">
                        <textarea name="desc" id="account-recharge-remark" placeholder="请输入内容"
                                  class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1" onclick="accountRecharge()">保存
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--form end-->
</div>

<!--提示层 end-->

<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1264021086'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264021086%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="../../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script type="text/javascript" th:src="@{/js/password.js}"></script>
<script type="text/javascript" th:src="@{/js/customer.detail.js}"></script>
<script type="text/javascript" th:src="@{/plugins/paging/js/paging.js}"></script>
<script>
    $(".date").datepicker({dateFormat: "yy-mm-dd"});
    var message;
    layui.config({
        base: '../../static/build/js/'
    }).use(['app', 'message', 'laydate'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        laydate = layui.laydate;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#pay').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                /*content: '<img src="../../static/build/images/pay.png" />',*/
                content: $('#key-modal'),
                /*area: ['500px', '250px'],*/
                area: ['700px'],
                shadeClose: true
            });
        });
        $('.app-id').on('click', function() {
            var appId = $(this).attr("app-id");
            var appName = $(this).attr("app-name");
            $("#app-id-prod").text(appName);
            $("#app-id-val").text(appId);
            layer.open({
                title: false,
                type: 1,
                content: $('#key-modal'),
                area: ['700px'],
                shadeClose: true
            });
        });
        $('.renew').on('click', function() {
            var clientProductId = $(this).attr("client-product-id");
            $.get(
                "/client/product/renewInfo",
                {"clientProductId": clientProductId},
                function(res) {
                    $("#renew-client-product-id").val(clientProductId);
                    $("#renew-info").empty();
                    var row1 =
                        '<li>服务时间：#{startDate} - #{endDate}</li><li>客户价：#{amount}元</li><li>总充值：#{totalAmt}元</li>';
                    var row2 =
                        '<li>当前余额：#{balance}元</li><li>客价：#{unitAmt}元/次</li><li>总充值：#{totalAmt}元</li>';
                    var row;
                    if(res.billPlan === 1) {
                        row = row1.replace("#{startDate}", res.startDate).replace("#{endDate}", res.endDate)
                        .replace("#{amount}", res.amount).replace("#{totalAmt}", res.totalAmt);
                    }
                    else {
                        row = row2.replace("#{balance}", res.balance).replace("#{unitAmt}", res.unitAmt)
                        .replace("#{totalAmt}", res.totalAmt);
                    }
                    $("#renew-info").append(row);
                    layer.open({
                        title: false,
                        type: 1,
                        content: $('#renew-modal'),
                        area: ['700px'],
                        shadeClose: true
                    });
                }
            );
        });
        $('.open-product').on('click', function() {
            var productId = $(this).attr("data-product-id");
            $("#open-product-id").val(productId);
            layer.open({
                title: false,
                type: 1,
                content: $('#openServe-modal'),
                area: ['700px'],
                shadeClose: true
            });
        });
        $('#recharge').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: $('#recharge-modal'),
                area: ['700px'],
                shadeClose: true
            });
        });
    });
</script>
</body>
</html>