<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">

    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="customer::left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/client/index.html">客户管理</a>
            <a class="cp" th:href="'/client/detail.html?id=' + ${clientId}" th:text="${corpName}"></a>
            <a><cite>消费明细</cite></a>
        </div>
        <div class="p20 layui-form">
            <ul class="search-list clearfix border-b2 pb25">
                <li>产品名称：
                    <div class="inline-flex" style="width: 180px">
                    <select name="product" lay-verify="required" lay-search="" class="select-list" id="product">
                        <option value="">全部</option>
                        <option th:each="p : ${productDict}" th:value="${p.id}" th:text="${p.name}"
                                th:selected="${p.id eq productId}"></option>
                    </select>
                    </div>
                </li>
                <li>时间：
                    <input type="hidden" name="client-id" id="client-id" th:value="${clientId}"/>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" name="start-time" id="start-time" placeholder="yyyy-MM-dd"/>
                    </div>
                    -
                    <div class="layui-inline">
                        <input type="text" class="layui-input" name="end-time" id="end-time" placeholder="yyyy-MM-dd"/>
                    </div>
                </li>
                <li>
                    <a class="layui-btn" lay-submit="" lay-filter="search">查询</a>
                </li>
            </ul>
            <div class="clearfix mt20">
                    <span class="fr">
                        一次最多导出1000条
                        <a href="javascript:" class="add-button" onclick="consumeOutPrint()">导出</a>
                    </span>
            </div>
            <table class="layui-table" id="data-table"></table>
        </div>
    </div>
    <div class="layui-footer" th:include="common :: copyright"></div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/js/product.consume.list.js"></script>
</body>
</html>












