<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="../../static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/style.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/base.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" media="all"/>
    <link th:href="@{/plugins/paging/css/paging.css}" rel="stylesheet"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">

    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="customer::left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--面包屑-->
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/client/index.html">客户管理<span class="layui-box">&gt;</span></a>
            <a class="cp" th:href="'/client/detail.html?clientId=' + ${clientId}" th:text="${corpName}">
            </a>
            <a><span class="layui-box mr5">&gt;</span><cite>消费明细</cite></a>
        </div>
        <!--面包屑 end-->
        <div class="p20">
            <!--搜索-->
            <ul class="search-list clearfix border-b2 pb25">
                <li>产品名称：
                    <select name="modules" lay-verify="required" lay-search="" class="select-list" id="product">
                        <option value="">全部</option>
                        <option th:each="p : ${productDict}" th:value="${p.id}" th:text="${p.name}"
                                th:selected="${p.id eq productId}"></option>
                    </select>
                </li>
                <li>时间：
                    <input type="hidden" id="client-id" th:value="${clientId}"/>
                    <em style="display: inline-block;">
                        <input type="text" id="start-time" lay-verify="date" placeholder="yyyy-MM-dd"
                               autocomplete="off" class="layui-input search-input"/></em>
                    -
                    <em style="display: inline-block;">
                        <input type="text" id="end-time" lay-verify="date" placeholder="yyyy-MM-dd"
                               autocomplete="off" class="layui-input search-input"/></em>
                </li>
                <li>
                    <button class="check-button" onclick="prodConsumeListInit();">查询</button>
                </li>
            </ul>
            <!--搜索 end-->
            <!--功能操作-->
            <div class="clearfix mt30 mb40">
                    <span class="fr">
                        一次最多导出1000条
                        <a href="javascript:" class="add-button" onclick="consumeOutPrint()">导出</a>
                    </span>
            </div>
            <!--功能操作 end-->
            <!--table-->
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>消费单号</th>
                        <th>公司</th>
                        <th>公司简称</th>
                        <th>账号</th>
                        <th>产品服务</th>
                        <th>计费方式</th>
                        <th>是否成功</th>
                        <th>消费(元)</th>
                        <th>金额(元)</th>
                    </tr>
                    </thead>
                    <tbody id="dataBody">

                    </tbody>
                </table>
            </div>
            <!--table end-->
            <!--page-->
            <div class="box mt30" id="pagination"></div>
            <!--page end-->
        </div>
    </div>
    <div class="layui-footer" th:include="common :: copyright"></div>
</div>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1264021086'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264021086%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="../../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/plugins/paging/js/paging.js}"></script>
<script type="text/javascript" th:src="@{/js/product.consume.list.js}"></script>
</body>
</html>












