<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8"/>
    <title>客户中心 - 元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="../css/font-awesome.min.css" rel="stylesheet"/>-->
    <link href="../css/site.min.css" rel="stylesheet"/>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/base.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../plugins/paging/css/paging.css" rel="stylesheet"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
<div th:include="common :: top"></div>
<div class="masthead pb0"></div>
<div class="container mt45 mb20">
    位置：<a href=""> 主页</a> > <span class="col2">全部服务</span>
</div>
<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <div class="pl40 pr40 pb40">
            <div class="row mt15 ml5 mr15">
                <ul class="clearfix checkbox-list mt15 pl10 col-md-10">
                    <em class="fl mt5">服务分类：</em>
                    <li class="active" id="all-type">不限</li>
                    <li th:each="o : ${productTypeList}" class="c-product-type" th:attr="data-id=${o.key}">
                        <span th:text="${o.value}"></span>
                    </li>
                </ul>
                <div class="col-md-2 mt15 tr checkbox" style="left: 92px;">
                    <input type='checkbox' id='include-opened' />
                    <label for='include-opened'>已开通服务</label>
                </div>
            </div>
            <dl class="serve-list development-nav p0 important">
                <dd id="dataBody"></dd>
            </dl>
            <div class="box" id="pagination"></div>
        </div>
    </div>
</div>
<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>
<div id="change-password" style="display: none" th:include="common :: password"></div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.unveil.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.matchHeight-min.js}"></script>
<script type="text/javascript" th:src="@{/js/site.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-touch-slider.js}"></script>
<script type="text/javascript" th:src="@{/js/lanrenzhijia.js}"></script>
<script type="text/javascript" th:src="@{/js/public.js}"></script>
<script type="text/javascript" th:src="@{/js/toc.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script type="text/javascript" th:src="@{/plugins/paging/js/paging.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>
</body>
</html>
  