<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/site.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/plugins/paging/css/paging.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/images/icon/favicon.png"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">

<div th:include="common :: top"></div>

<div class="masthead pb0"></div>

<div class="container mt45 mb20">
    位置：<a href="/home.html"> 主页</a> > <span class="col2">全部服务</span>
</div>

<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <div class="pl40 pr40 pb40">
            <div class="row mt15 ml5 mr15">
                <ul class="clearfix checkbox-list mt15 pl10 col-md-10">
                    <em class="fl mt5">服务分类：</em>
                    <li class="active" id="all-type">不限</li>
                    <li th:each="o : ${productTypeDict}" class="c-product-type" th:attr="data-id=${o.key}">
                        <span th:text="${o.value}"></span>
                    </li>
                </ul>
                <div class="col-md-2 mt15 tr checkbox" style="left: 92px;">
                    <input type='checkbox' id='include-opened' checked="checked"/>
                    <label for='include-opened'>已开通服务</label>
                </div>
            </div>
            <dl class="serve-list development-nav p0 important">
                <dd id="dataBody"></dd>
            </dl>
            <div class="box pt30" id="pagination"></div>
        </div>
    </div>
</div>

<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>


<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/static/js/site.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/static/js/lanrenzhijia.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/plugins/paging/js/paging.js"></script>
<script type="text/javascript" src="/static/business/product-all.js"></script>
</body>
</html>
  