<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>明动科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../css/site.min.css" rel="stylesheet"/>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/base.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-precomposed.png"/>
    <link rel="shortcut icon" href="images/icon/favicon.png"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">

<div th:include="common :: top"></div>

<div class="masthead pb0"></div>

<div class="container mt45 mb20">
    位置：<a href=""> 主页</a> > <a href="">我的服务</a> > <span class="col2">服务详情</span>
</div>

<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <div th:include="product-common :: left"></div>
        <div class="col-lg-10 col-sm-10 col-md-10 bd-left">
            <dl class="development-nav sever-detail">
                <dt th:text="${productName}"></dt>
                <dd class="row ml0 mr0">
                    <div class="col-md-6">
                        <p class="pt10 important" th:if="${billPlan == 1}">
                            服务时间<em class="ml30" th:text="${fromDate} + ' - ' + ${toDate}"></em>
                            <i class="col1 fz-16 ml40" th:text="'剩' + ${remainDays} + '天'"></i></p>
                        <p class="pt10 important" th:if="${billPlan != 1}">
                            账户余额<em class="ml30" th:text="'￥ ' + ${balance}"></em>
                            <i class="col1 fz-16 ml40" th:text="${unitAmt} + '元/次'"></i></p>
                        <p>服务状态
                            <i class="col3 fz-16 ml30"
                               th:text="${status == 0 || status == 2 || status == 4} ? '服务中' : '已停止'"></i></p>
                        <p>
                            服务指标
                            <em class="ml30" th:if="${status == 0}"><i class="icon pj-icon1 mr5"></i>良好</em>
                            <em class="ml20" th:if="${status == 1}"><i class="icon pj-icon3 mr5"></i>未开始</em>
                            <em class="ml20" th:if="${status == 2}"><i class="icon pj-icon2 mr5"></i>即将过期</em>
                            <em class="ml20" th:if="${status == 3}"><i class="icon pj-icon3 mr5"></i>已过期</em>
                            <em class="ml20" th:if="${status == 4}"><i class="icon pj-icon2 mr5"></i>余额不足</em>
                            <em class="ml20" th:if="${status == 5}"><i class="icon pj-icon3 mr5"></i>已欠费</em>
                        </p>
                    </div>
                    <div class="col-md-6 bd-left pl20">
                        <p class="pt10 important"><i class="icon kefu mr5"></i>续约</p>
                        <p class="ml40"><a href="" class="mr20">历史充值</a> | <a href="" class="ml20">消费明细</a></p>
                        <p class="ml40"><span class="appid-btn cp" id="appkid">获取AppId</span></p>
                    </div>
                </dd>
            </dl>
            <div class="pl40 pr40 pb40">
                <ul class="nav nav-tabs row case-tab mb20" role="tablist">
                    <li role="presentation" class="active col-lg-2 col-sm-2 col-md-2 col-xs-3">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">开发文档</a></li>
                    <li role="presentation" class="col-lg-2 col-sm-2 col-md-2 col-xs-3">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">API介绍</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="development-nav p0 important">
                            <div id="voice1">
                                <div class="msghoverbg">
                                    <h1>1.语音接口地址与示例</h1>
                                    通用接口地址：http://client.movek.net:8888<br/>
                                </div>
                                <div class="msghoverbg">
                                    <p>1.1 语音平台接口地址</p>
                                    通用接口地址：http://client.movek.net:8888
                                </div>
                                <div class="msghoverbg">
                                    <p>1.2 快速应用示例</p>
                                    <p>发送语音</p>
                                    http://client.movek.net:8888/sendvms.aspx?action=send&amp;account=序列号&amp;password=密码&amp;userid=特服号&amp;title=标题&amp;mobile=手机号1,手机号2,手机号&amp;Vmsmsg=内容
                                </div>
                            </div>
                            <div id="voice2">
                                <div class="msghoverbg">
                                    <h1>2.语音发送接口</h1>
                                    <p>2.1 HTTP 发送接口</p>
                                    发送接口地址：http://client.movek.net:8888/sendvms.aspx<br/>
                                </div>
                                <div class="msghoverbg">
                                    <p>2.2 语音示例</p>
                                    <div>请求方式：<i>POST、GET</i>,数据编码：UTF-8</div>
                                    http://client.movek.net:8888/sendvms.aspx?action=send&amp;userid=12&amp;account=zhouyang&amp;password=123456&amp;mobile=138********,135********&amp;title=abc&amp;Vmsmsg
                                    =内容<br/>
                                </div>
                                <div class="msghoverbg">
                                    <p>2.3发送返回值</p>
                                    在接收到客户端发送的http请求后，返回以xml的方式返回处理结果（JSON返回一致）。格式为：<br/>
                                    &amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;utf-8&amp;quot; ?&amp;gt;<br/>
                                    &amp;lt;returnvms&amp;gt;<br/>
                                    &amp;lt;returnstatus&amp;gt;返回状态值：成功返回Success 失败返回：Faild&amp;lt;/returnstatus&amp;gt;
                                </div>
                                >
                                &amp;lt;message&amp;gt;返回信息&amp;lt;/message&amp;gt;<br/>
                                &amp;lt;remainpoint&amp;gt; 返回余额&amp;lt;/remainpoint&amp;gt; <br/>
                                &amp;lt;taskID&amp;gt;返回本次任务的序列ID &amp;lt;/taskID&amp;gt;<br/>
                                &amp;lt;successCounts&amp;gt;成功短信数：当成功后返回提交成功短信数&amp;lt;/successCounts&amp;gt; <br/>
                                &amp;lt;/returnvms&amp;gt;<br/>
                                JSON返回值：<br/>
                                {"code":"Success","data":{"returnstatus":"返回状态值：成功返回Success
                                失败返回：Faild","message":"返回信息","remainpoint":返回余额,"taskID":"返回本次任务的ID","successCounts":"成功短信数"},"msg":"ok"}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile">
                    <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                </div>
            </div>
        </div>
        <!--tab-->
    </div>
    <!--right end-->
</div>
<!--内容 end-->

<!--footer-->
<div th:include="common :: footer"></div>
<!--在线客服-->
<div th:include="common :: right"></div>
<!--在线客服 end-->
<div id="change-password" style="display: none" th:include="common :: password"></div>

<div id="appkid-modal" style="display: none">
    <div id="mode_app_id_1">
        <div class="layui-layer-title">获取AppKey</div>
        <div class="mb30">
            <div class="margin-auto">
                <div class="clearfix tc mt20" style="margin-left: 128px;">
                    <span class="step fl w30"><i class="icon-01 icon mr10"></i><br/>密码验证</span>
                    <span class="fl w30"><i class="icon-02-1 icon mr10"></i><br/>获取AppKey</span>
                </div>
            </div>
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号：</label>
                    <div class="layui-input-block" th:text="${username}"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col1">*</i>密码：</label>
                    <div class="layui-input-block">
                        <input type="password" id="password" placeholder="请输入" class="layui-input w80"/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item tc">
                <button class="layui-btn" id="next-step" th:attr="obj-id=${productId}">下一步</button>
            </div>
        </div>
    </div>
    <div id="mode_app_id_2" style="display:none;">
        <div class="layui-layer-title">获取AppKey</div>
        <div class="mb30">
            <div class="margin-auto">
                <div class="clearfix tc mt20" style="margin-left: 128px;">
                    <span class="step fl w30"><i class="icon-01 icon mr10"></i><br/>密码验证</span>
                    <span class="fl w30"><i class="icon-02 icon mr10"></i><br/>获取AppKey</span>
                </div>
            </div>
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">AppID：</label>
                    <div class="layui-input-block">
                        <md id="app-id"></md>
                        <span class="add-button ml10 cp" id="cp-app-id">复制</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">AppKey：</label>
                    <div class="layui-input-block">
                        <input type="text" id="app-key" placeholder="未设置" class="layui-input w60"
                               style="display: inline-block;"/>
                        <span class="add-button ml10 cp">生成</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">请求IP：</label>
                    <div class="layui-input-block">
                        <input type="text" id="req-host" placeholder="未设置" class="layui-input w80"/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item tc">
                <button class="layui-btn">保存</button>
            </div>
            <!--<div class="layui-form-item tc col1">设置完成后请保存以便接口调用</div>-->
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.unveil.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.matchHeight-min.js}"></script>
<script type="text/javascript" th:src="@{/js/site.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-touch-slider.js}"></script>
<script type="text/javascript" th:src="@{/js/lanrenzhijia.}"></script>
<script type="text/javascript" th:src="@{/js/public.js}"></script>
<script type="text/javascript" th:src="@{/js/toc.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script>
    var message;
    layui.config({
        base: '../build/js/'
    }).use(['app', 'message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#appkid').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: $('#appkid-modal'),
                area: ['600px'],
                shadeClose: true
            });
        });
        $("#cp-app-id").on('click',function() {
            
        });
        $('#next-step').on('click', function() {
            var password = $("#password").val();
            if(password === '') {
                layer.msg("请输入您的登陆密码已完成验证！");
                return;
            }
            var productId = $(this).attr("obj-id");
            $.ajax({
                type: "POST",
                url: "/client/user/credential",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "productId": productId,
                    "password": MD5(password)
                }),
                success: function(res) {
                    if(res.errCode === '000000') {
                        var data = res.dataMap;
                        $("#app-id").text(data.appId);
                        $("#app-key").val(data.appKey);
                        $("#req-host").val(data.reqHost);
                        $("#mode_app_id_1").hide();
                        $("#mode_app_id_2").show();
                    }
                    else {
                        layer.msg("认证失败：" + res.errMsg);
                    }
                }
            });
        });
    });
</script>
</body>
</html>
  