<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>客户中心 - 元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/site.min.css" rel="stylesheet"/>
    <link href="/static/css/animate.min.css" rel="stylesheet"/>
    <link href="/static/css/base.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-precomposed.png"/>
    <link rel="shortcut icon" href="images/icon/favicon.png"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">

<div th:include="common :: top"></div>

<div class="masthead pb0"></div>

<div class="container mt45 mb20">
    位置：<a href="/home.html"> 主页</a> > <a href="/product/mine.html">我的服务</a> > <span class="col2">服务详情</span>
</div>

<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <div th:include="product-common :: left"></div>
        <div class="col-lg-10 col-sm-10 col-md-10 bd-left">
            <dl class="development-nav sever-detail">
                <dt th:text="${productName}"></dt>
                <dd class="row ml0 mr0">
                    <div class="col-md-6">
                        <p class="pt10 important" th:if="${billPlan == 1}">
                            服务时间<em class="ml30" th:text="${fromDate} + ' - ' + ${toDate}"></em>
                            <i class="col1 fz-16 ml40" th:text="'剩' + ${remainDays} + '天'"></i></p>
                        <p class="pt10 important" th:if="${billPlan != 1}">
                            账户余额<em class="ml30" th:text="'￥ ' + ${balance}"></em>
                            <i class="col1 fz-16 ml40" th:text="${unitAmt} + '元/次'"></i></p>
                        <p>服务状态
                            <i class="col3 fz-16 ml30"
                               th:text="${status == 0 || status == 2 || status == 4} ? '服务中' : '已停止'"></i></p>
                        <p>
                            服务指标
                            <em class="ml30" th:if="${status == 0}"><i class="icon pj-icon1 mr5"></i>正常</em>
                            <em class="ml20" th:if="${status == 1}"><i class="icon pj-icon3 mr5"></i>未开始</em>
                            <em class="ml20" th:if="${status == 2}"><i class="icon pj-icon2 mr5"></i>即将过期</em>
                            <em class="ml20" th:if="${status == 3}"><i class="icon pj-icon3 mr5"></i>已过期</em>
                            <em class="ml20" th:if="${status == 4}"><i class="icon pj-icon2 mr5"></i>余额不足</em>
                            <em class="ml20" th:if="${status == 5}"><i class="icon pj-icon3 mr5"></i>已欠费</em>
                        </p>
                    </div>
                    <div class="col-md-6 bd-left pl20">
                        <p class="pt10 important"><a
                                target="_blank" class="setting-qq-class" href="javascript:"><i
                                class="icon kefu mr5"></i>续约</a></p>
                        <p class="ml40">
                            <a th:href="'/product/recharge.html?productId=' + ${productId}" class="mr20">历史充值</a>
                            | <a th:href="'/product/request.html?productId=' + ${productId}" class="ml20">消费明细</a>
                        </p>

                        <p class="ml40"><span class="appid-btn cp" id="appkid">获取AppId</span></p>
                    </div>
                </dd>
            </dl>
            <div class="pl40 pr40 pb40">
                <ul class="nav nav-tabs row case-tab mb20" role="tablist">
                    <li role="presentation" class="active col-lg-2 col-sm-2 col-md-2 col-xs-3">
                        <a href="#content" aria-controls="content" role="tab" data-toggle="tab">API介绍</a></li>
                </ul>
                <div class="tab-content" id="content">
                </div>
                <div id="none-content-id" style="margin-top: 130px; margin-bottom: 130px;display: none;">
                    <img src="/images/article-null-img.png" class="w15 margin-auto"/>
                    <p class="tc col2 mt20 fz-14">暂无内容介绍</p>
                </div>
                <p class="p30"><span class="fr return-button" onclick="history.back(-1);">返回</span></p>
            </div>
        </div>
    </div>
</div>

<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>



<div id="appkid-modal" style="display: none">
    <div id="mode_app_id_1">
        <div class="layui-layer-title">获取AppKey</div>
        <div class="mb30">
            <div class="margin-auto">
                <div class="clearfix tc mt20" style="margin-left: 167px;">
                    <span class="step fl w30"><i

                            class="icon-01 icon mr10"></i><br/>密码验证</span>
                    <span class="fl w30"><i class="icon-02-1 icon mr10"></i><br/>获取AppKey</span>
                </div>
            </div>
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号：</label>
                    <div class="layui-input-block" th:text="${username}"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col1">*</i>密码：</label>
                    <div class="layui-input-block">
                        <input type="password" id="password" placeholder="请输入" class="layui-input w80"/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item tc">
                <button class="layui-btn" id="next-step" th:attr="obj-id=${productId}">下一步</button>
            </div>
        </div>
    </div>
    <div id="mode_app_id_2" style="display:none;">
        <div class="layui-layer-title">获取AppKey</div>
        <div class="mb30">
            <div class="margin-auto">
                <div class="clearfix tc mt20" style="margin-left: 167px;">
                    <span class="step fl w30"><i class="icon-01 icon mr10"></i><br/>密码验证</span>
                    <span class="fl w30"><i class="icon-02 icon mr10"></i><br/>获取AppKey</span>
                </div>
            </div>
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">AppID：</label>
                    <div class="layui-input-block">
                        <em class="mt5" id="app-id"></em>
                        <span class="add-button ml10 cp" id="cp-app-id">复制</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">请求IP：</label>
                    <div class="layui-input-block">
                        <input type="text" id="req-host" placeholder="未设置" class="layui-input w80"/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item tc">
                <button class="layui-btn" id="save-credential" th:attr="obj-id=${productId}">保存</button>
            </div>
            <!--<div class="layui-form-item tc col1">设置完成后请保存以便接口调用</div>-->
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/static/js/site.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/static/js/lanrenzhijia.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/uuid.js"></script>
<script type="text/javascript" src="/static/business/detail.js"></script>
<script th:inline="javascript">
    $(function() {
        var content = [[${content}]];
        if(content === "" || content === null){
            $("#none-content-id").show();
        }else{
            $("#content").html(content);
        }
    });
</script>
</body>
</html>
  