<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>客户中心 - 元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/site.min.css" rel="stylesheet"/>
    <link href="/static/css/animate.min.css" rel="stylesheet"/>
    <link href="/static/css/base.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/common.css" rel="stylesheet"/>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-precomposed.png"/>
    <link rel="shortcut icon" href="images/icon/favicon.png"/>

</head>

<body data-spy="scroll" data-target="#myScrollspy">
<div th:include="common :: top"></div>
<div class="masthead pb0"></div>
<div class="container mt45 mb20">
    位置：<a href="/home.html"> 主页</a> > <a href="/product/mine.html">我的服务</a> > <span class="col2">服务详情</span>
</div>
<div class="container mt20 mb20 bg-white">
    <div class="fz-16 bd-bottom pb15 pt15 fb pl5"><span th:text="${name}"></span></div>
    <div class="row development">
        <div class="col-lg-10 col-sm-10 col-md-10" >
            <div class="tab-pane fade in active tab-content" id="content">
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2 pl0 pr0 important mt15" style="position: fixed; right: 9%;">
            <a target="_blank"
               href="http://wpa.qq.com/msgrd?v=3&amp;uin=3415212827&amp;site=qq&amp;menu=yes"><img
                    src="/images/lxkf.png" style="width: 79px;"/></a>
        </div>
    </div>

</div>
<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>
<div id="change-password" style="display: none" th:include="common :: password"></div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/static/js/site.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/static/js/lanrenzhijia.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script th:inline="javascript">
    var form;
    layui.use('form', function() {
        form = layui.form;
    });
    $(function (){
        var content = [[${content}]];
        $("#content").html(content);
    });
</script>
</body>
</html>
  