<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8"/>
    <title>明动科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="../css/font-awesome.min.css" rel="stylesheet"/>-->
    <link href="../css/site.min.css" rel="stylesheet"/>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/base.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-precomposed.png"/>
    <link rel="shortcut icon" href="images/icon/favicon.png"/>

</head>

<body data-spy="scroll" data-target="#myScrollspy">
<!--header-->
<div th:include="common :: top"></div>
<!--header end-->
<!--advimg-->
<div class="masthead pb0"></div>
<!--advimg end-->
<!--面包屑-->
<div class="container mt45 mb20">
    位置：<a href=""> 主页</a> > <a href="">我的服务</a> > <span class="col2">服务详情</span>
</div>
<!--面包屑 end-->
<!--内容-->
<div class="container mt20 mb20 bg-white">
    <div class="fz-16 bd-bottom pb15 pt15 fb pl5">金融预期常欠客</div>
    <div class="row development">
        <!--right-->
        <div class="col-lg-10 col-sm-10 col-md-10">
            <div class="tab-pane fade in active tab-content">
                <div class="development-nav p0 important">
                    <div id="voice1">
                        <div class="msghoverbg">
                            <h1>1.语音接口地址与示例</h1>
                            通用接口地址：http://client.movek.net:8888<br/>
                        </div>
                        <div class="msghoverbg">
                            <p>1.1 语音平台接口地址</p>
                            通用接口地址：http://client.movek.net:8888
                        </div>
                        <div class="msghoverbg">
                            <p>1.2 快速应用示例</p>
                            <p>发送语音</p>
                            http://client.movek.net:8888/sendvms.aspx?action=send&amp;account=序列号&amp;password=密码&amp;userid=特服号&amp;title=标题&amp;mobile=手机号1,手机号2,手机号&amp;Vmsmsg=内容
                        </div>
                    </div>
                    <div id="voice2">
                        <div class="msghoverbg">
                            <h1>2.语音发送接口</h1>
                            <p>2.1 HTTP 发送接口</p>
                            发送接口地址：http://client.movek.net:8888/sendvms.aspx<br/>
                        </div>
                        <div class="msghoverbg">
                            <p>2.2 语音示例</p>
                            <div>请求方式：<i>POST、GET</i>,数据编码：UTF-8</div>
                            http://client.movek.net:8888/sendvms.aspx?action=send&amp;userid=12&amp;account=zhouyang&amp;password=123456&amp;mobile=138********,135********&amp;title=abc&amp;Vmsmsg
                            =内容<br/>
                        </div>
                        <div class="msghoverbg">
                            <p>2.3发送返回值</p>
                            在接收到客户端发送的http请求后，返回以xml的方式返回处理结果（JSON返回一致）。格式为：<br/>
                            &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&gt;<br/>
                            &lt;returnvms&gt;<br/>
                            &lt;returnstatus&gt;返回状态值：成功返回Success 失败返回：Faild&lt;/returnstatus&gt;<br/>
                            &lt;message&gt;返回信息&lt;/message&gt;<br/>
                            &lt;remainpoint&gt; 返回余额&lt;/remainpoint&gt; <br/>
                            &lt;taskID&gt;返回本次任务的序列ID &lt;/taskID&gt;<br/>
                            &lt;successCounts&gt;成功短信数：当成功后返回提交成功短信数&lt;/successCounts&gt; <br/>
                            &lt;/returnvms&gt;<br/>
                            JSON返回值：<br/>
                            {"code":"Success","data":{"returnstatus":"返回状态值：成功返回Success
                            失败返回：Faild","message":"返回信息","remainpoint":返回余额,"taskID":"返回本次任务的ID","successCounts":"成功短信数"},"msg":"ok"}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--right end-->
        <!--left-->
        <div class="col-lg-2 col-sm-2 col-md-2 pl0 pr0 important mt15" style="position: fixed; right: 9%;">
            <img src="../images/lxkf.png" style="width: 79px;"/>
        </div>
        <!--left end-->
    </div>

</div>
<!--内容 end-->

<!--footer-->
<div th:include="common :: footer"></div>
<!--在线客服-->
<div th:include="common :: right"></div>
<!--在线客服 end-->
<div id="change-password" style="display: none" th:include="common :: password"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.unveil.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.matchHeight-min.js}"></script>
<script type="text/javascript" th:src="@{/js/site.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-touch-slider.js}"></script>
<script type="text/javascript" th:src="@{/js/lanrenzhijia.js}"></script>
<script type="text/javascript" th:src="@{/js/public.js}"></script>
<script type="text/javascript" th:src="@{/js/toc.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script>
    //点击加背景色
    /*$(function(){
      $(".development-menu li").click(function(){
        $(this).hasClass('active');
        if($(this).hasClass('active')){
          var index = $(this).attr('data');
          $("#mms"+index).css({ "background": "#e3e5e6", "padding-left": "15px" }); 
        }else{
        var index = $(this).attr('data');
        $("#mms"+index).css({ "background": "#fff", "padding-left": "0px" });
        }  
      })
    })*/

    //滚动加背景色
    /* $(window).scroll(function () {
       $(".development-menu li").each(function(){
         if($(this).hasClass('active')){
         var index = $(this).attr('data');
         $("#mms"+index).css({ "background": "#e3e5e6", "padding-left": "15px" });
         }else{
         var index = $(this).attr('data');
         $("#mms"+index).css({ "background": "#fff", "padding-left": "0px" });
         }
       });
     })*/
</script>
</body>
</html>
  