<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>客户中心 - 元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>
    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/site.min.css" rel="stylesheet"/>
    <link href="/static/css/animate.min.css" rel="stylesheet"/>
    <link href="/static/css/base.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/common.css" rel="stylesheet"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
<div th:include="common :: top"></div>
<div class="masthead pb0"></div>
<div class="container mt45 mb20">
    位置：<a href="/home.html"> 主页</a> > <span class="col2">我的服务</span>
</div>
<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <div class="col-lg-2 col-sm-2 col-md-2 pl0 pr0 important" id="myScrollspy">
            <ul class="new-center-left development-menu nav-stacked nav nav-tabs nav-stacked" data-spy="affix"
                data-offset-top="125" th:style="${trashList.size() != 0} ? '':'bottom:75%'">
                <li><a href="#mms1">我的服务</a></li>
                <li><a href="#mms2">服务提醒</a></li>
                <li th:if="${trashList.size() != 0}"><a href="#mms3">回收站</a></li>
            </ul>
        </div>
        <div class="col-lg-10 col-sm-10 col-md-10 bd-left">
            <div class="development-nav">
                <dl id="mms1" class="serve-list">
                    <dt>我的服务</dt>
                    <dd>
                        <md th:each="o : ${normalList}">
                            <p th:text="${o.typeName}"></p>
                            <ul class="row mr0 ml0">
                                <li th:each="t : ${o.productList}">
                                    <div class="serve-list-title">
                                        <md th:text="${t.productName}"></md>
                                        <span class="fr" th:if="${t.status == 0}">服务中</span>
                                        <i class="wks-icon icon" th:if="${t.status == 1}"></i>
                                        <i class="jjgq-icon icon" th:if="${t.status == 2}"></i>
                                        <i class="ygq-icon icon" th:if="${t.status == 3}"></i>
                                        <i class="yebz-icon icon" th:if="${t.status == 4}"></i>
                                        <i class="yqf-icon icon" th:if="${t.status == 5}"></i>
                                    </div>
                                    <p class="col2 tc fz-14 important" th:if="${t.billPlan == 1}"
                                       th:text="${t.fromDate} + ' - ' + ${t.toDate}"></p>
                                    <p class="fz-20 col5 tc important" th:if="${t.billPlan == 1}"
                                       th:text="'剩余' + ${t.remainDays} + '天'"></p>
                                    <p class="col2 tc fz-14 important" th:if="${t.billPlan != 1}"
                                       th:text="'当前余额：￥' + ${t.balance}"></p>
                                    <p class="fz-20 col5 tc important" th:if="${t.billPlan != 1}"
                                       th:text="${t.unitAmt} + '元/次'"></p>
                                    <p class="tc mb15 mt10">
                                        <a target="_blank"
                                                href="http://wpa.qq.com/msgrd?v=3&amp;uin=3415212827&amp;site=qq&amp;menu=yes"><i
                                                class="icon kefu mr5"></i>续约</a> ｜
                                        <a th:href="'/product/detail.html?id=' + ${t.productId}">查看服务</a>
                                    </p>
                                </li>
                            </ul>
                        </md>
                    </dd>
                </dl>
                <dl id="mms2" class="serve-list">
                    <dt>服务提醒</dt>
                    <div th:if="${remindList.size() == 0}" class="tc col2">
                        <img src="/images/serve-null.png" style="width: 7%;margin: auto;"/>您当前的服务状态良好，请放心使用~
                    </div>
                    <dd>
                        <ul class="row mr0 ml0">
                            <li th:each="o : ${remindList}">
                                <div class="serve-list-title">
                                    <md th:text="${o.productName}"></md>
                                    <span class="fr" th:if="${o.status == 0}">服务中</span>
                                    <i class="wks-icon icon" th:if="${o.status == 1}"></i>
                                    <i class="jjgq-icon icon" th:if="${o.status == 2}"></i>
                                    <i class="ygq-icon icon" th:if="${o.status == 3}"></i>
                                    <i class="yebz-icon icon" th:if="${o.status == 4}"></i>
                                    <i class="yqf-icon icon" th:if="${o.status == 5}"></i>
                                </div>
                                <p class="col2 tc fz-14 important" th:if="${o.billPlan == 1}"
                                   th:text="${o.fromDate} + ' - ' + ${o.toDate}"></p>
                                <p class="fz-20 col5 tc important" th:if="${o.billPlan == 1}"
                                   th:text="'剩余' + ${o.remainDays} + '天'"></p>
                                <p class="col2 tc fz-14 important" th:if="${o.billPlan != 1}"
                                   th:text="'当前余额：￥' + ${o.balance}"></p>
                                <p class="fz-20 col5 tc important" th:if="${o.billPlan != 1}"
                                   th:text="${o.unitAmt} + '元/次'"></p>
                                <p class="tc mb15 mt10">
                                    <a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=3415212827&amp;site=qq&amp;menu=yes"><i
                                            class="icon kefu mr5"></i>续约</a> ｜
                                    <a th:href="'/product/detail.html?id=' + ${o.productId}">查看服务</a></p>

                            </li>
                        </ul>
                    </dd>
                </dl>
                <dl id="mms3" class="serve-list" th:if="${trashList.size() != 0}">
                    <dt>回收站</dt>
                    <dd>
                        <ul class="row mr0 ml0">
                            <li th:each="o : ${trashList}">
                                <div class="serve-list-title">
                                    <md th:text="${o.productName}"></md>
                                    <span class="fr" th:if="${o.status == 0}">服务中</span>
                                    <i class="wks-icon icon" th:if="${o.status == 1}"></i>
                                    <i class="jjgq-icon icon" th:if="${o.status == 2}"></i>
                                    <i class="ygq-icon icon" th:if="${o.status == 3}"></i>
                                    <i class="yebz-icon icon" th:if="${o.status == 4}"></i>
                                    <i class="yqf-icon icon" th:if="${o.status == 5}"></i>
                                </div>
                                <p class="col2 tc fz-14 important" th:if="${o.billPlan == 1}"
                                   th:text="${o.fromDate} + ' - ' + ${o.toDate}"></p>
                                <p class="fz-20 col5 tc important" th:if="${o.billPlan == 1}"
                                   th:text="'剩余' + ${o.remainDays} + '天'"></p>
                                <p class="col2 tc fz-14 important" th:if="${o.billPlan != 1}"
                                   th:text="'当前余额：￥' + ${o.balance}"></p>
                                <p class="fz-20 col5 tc important" th:if="${o.billPlan != 1}"
                                   th:text="${o.unitAmt} + '元/次'"></p>
                                <p class="tc mb15 mt10">
                                    <a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=3415212827&amp;site=qq&amp;menu=yes"><i
                                            class="icon kefu mr5"></i>再次开通</a> ｜
                                    <a th:href="'/product/detail.html?id=' + ${o.productId}">查看服务</a></p>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>
<div id="change-password" style="display: none" th:include="common :: password"></div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/static/js/site.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/static/js/lanrenzhijia.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script>
    var form;
    layui.use('form', function() {
        form = layui.form;
    });
</script>
</body>
</html>
  