<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>明动科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>
    <!-- Site CSS -->
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="../css/font-awesome.min.css" rel="stylesheet"/>-->
    <link href="../css/site.min.css" rel="stylesheet"/>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/base.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/picker-date-range/dateRange.css"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
<div th:include="common :: top"></div>
<div class="masthead pb0"></div>
<div class="container mt45 mb20">
    位置：<a href="">主页</a> > <a href="">我的服务</a> > <a href="">服务详情</a> > <span class="col2">历史充值</span>
</div>

<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <div th:include="product-common :: left"></div>
        <div class="col-lg-10 col-sm-10 col-md-10 bd-left">
            <div class="mt30 pl10 pr10 pb30">
                <div class="border-title">服务充值记录</div>
                <ul class="search-list clearfix border-b2 pb15 mt20">
                    <li>服务名称：
                        <select id="product-sel" class="select-list">
                            <option value="">全部</option>
                            <option th:each="o : ${productList}" th:value="${o.id}" th:text="${o.name}"
                                    th:selected="${o.id} eq ${productId}"></option>
                        </select>
                    </li>
                    <li>
                        统计时间：
                        <div class="ta_date" id="div_date1">
                            <span class="date_title" id="date"></span>
                            <a class="opt_sel" id="input_trigger" href="#">
                                <i class="i_orderd"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <input type="hidden" id="page-num"/>
                        <input type="hidden" id="page-size"/>
                        <input type="hidden" id="from-date" th:value="${fromDate}"/>
                        <input type="hidden" id="to-date" th:value="${toDate}"/>
                        <button class="check-button" id="search">查询</button>
                    </li>
                </ul>
                <div class="clearfix mt30">
                    <em class="fz-14 pl15 col4 pt15">
                        共
                        <md id="total-qty">0</md>
                        条
                    </em>
                    <span class="fr mb10">
                        一次最多导出1000条<a href="customer-add.html" class="add-button ml10">导出</a>
                    </span>
                </div>
                <table class="layui-table mt10">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>充值单号</th>
                        <th>产品服务</th>
                        <th>充值类型</th>
                        <th>充值金额</th>
                        <th>产品服务余额</th>
                        <th>合同编号</th>
                    </tr>
                    </thead>
                    <tbody id="data-list">
                    </tbody>
                </table>
                <!--page-->
                <div class="layui-table-tool mt20">
                    <div class="layui-inline layui-table-page" id="layui-table-page1">
                        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
                            <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">
                                <i class="layui-icon"></i>
                            </a>
                            <span class="layui-laypage-curr">
                                <em class="layui-laypage-em"></em>
                                <em>1</em>
                            </span>
                            <a href="javascript:;" data-page="2">2</a>
                            <a href="javascript:;" data-page="3">3</a>
                            <span class="layui-laypage-spr">…</span>
                            <a href="javascript:;" class="layui-laypage-last" title="尾页" data-page="34">34</a>
                            <a href="javascript:;" class="layui-laypage-next" data-page="2">
                                <i class="layui-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>
<div id="change-password" style="display: none" th:include="common :: password"></div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.unveil.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.matchHeight-min.js}"></script>
<script type="text/javascript" th:src="@{/js/site.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-touch-slider.js}"></script>
<script type="text/javascript" th:src="@{/js/lanrenzhijia.js}"></script>
<script type="text/javascript" th:src="@{/js/public.js}"></script>
<script type="text/javascript" th:src="@{/js/toc.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script type="text/javascript" th:src="@{/picker-date-range/dateRange.js}"></script>
<script type="text/javascript" th:src="@{/js/recharge.js}"></script>
</body>
</html>
  