<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css"
          href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://oss.matedata.net/resource/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link href="/static/css/site.min.css" rel="stylesheet"/>
    <link href="/static/css/animate.min.css" rel="stylesheet"/>
    <link href="/static/css/base.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/common.css" rel="stylesheet"/>
    <link href="/static/plugins/paging/css/paging.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/picker-date-range/dateRange.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/images/icon/favicon.png"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
<div th:include="common :: top"></div>
<div class="masthead pb0"></div>
<div class="container mt45 mb20">
    位置：<a href="/home.html">主页</a> > <a href="/product/mine.html">我的服务</a> > <span class="col2">历史消费</span>
</div>
<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <div th:include="product :: left"></div>
        <div class="col-lg-10 col-sm-10 col-md-10 bd-left">
            <div class="mt30 pl10 pr10 pb30 layui-form">
                <div class="border-title">历史消费记录</div>
                <ul class="search-list clearfix border-b2 pb15 mt20">
                    <li style="display: flex; width: 28%;">
                        <span style="margin-top: 9px;">产品服务：</span>
                        <div style="width: 60%;">
                            <select id="product-sel" name="product" class="select-list" lay-search="">
                                <option value="">全部</option>
                                <option th:each="o : ${productDict}" th:value="${o.key}" th:text="${o.value}"
                                        th:selected="${o.key} eq ${productId}"></option>
                            </select>
                        </div>
                    </li>
                    <li style="display: flex; width: 28%">
                        <span style="margin-top: 9px;">是否击中：</span>
                        <div style="width: 60%;">
                            <select name="hit" id="hit" title="是否击中" class="select-list" lay-search="">
                                <option value="">全部</option>
                                <option value="0">未击中</option>
                                <option value="1">击中</option>
                            </select>
                        </div>
                    </li>
                    <li style="display: flex; width: 32%">
                        <span style="margin-top: 9px;">统计时间：</span>
                        <div style="width: 70%">
                            <input type="text" class="layui-input" id="dateRange" readonly="readonly"/>
                        </div>
                    </li>
                    <li>
                        <input type="hidden" id="startDate" name="start-date" th:value="${fromDate}"/>
                        <input type="hidden" id="endDate" name="end-date" th:value="${toDate}"/>
                        <button class="layui-btn" lay-submit="" lay-filter="search">查询</button>
                    </li>
                </ul>
                <div class="clearfix mt30">
                    <span class="fr mb10">
                        <i class="col2 mr10">一次最多导出<em>1000</em>条</i>
                        <button class="layui-btn layui-btn-normal" onclick="requestExport()" id="exportOcx">导出</button>
                    </span>
                </div>
                <table class="layui-table" id="dataTable"></table>
            </div>
        </div>
    </div>
</div>
<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/static/js/site.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/business/request.js"></script>
</body>
</html>
  