<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>客户中心 - 元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/site.min.css" rel="stylesheet"/>
    <link href="/static/css/animate.min.css" rel="stylesheet"/>
    <link href="/static/css/base.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/common.css" rel="stylesheet"/>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-precomposed.png"/>
    <link rel="shortcut icon" href="images/icon/favicon.png"/>

</head>

<body data-spy="scroll" data-target="#myScrollspy">
<!--header-->
<div th:include="common :: top"></div>
<!--header end-->
<!--advimg-->
<div class="masthead pb0"></div>
<!--advimg end-->
<!--面包屑-->
<div class="container mt45 mb20">
    位置：<a href=""> 主页</a> > <span class="col2">设置中心</span>
</div>
<!--面包屑 end-->
<!--内容-->
<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <!--left-->
        <div th:include="system-common :: left"></div>
        <!--left end-->
        <!--right-->
        <div class="col-lg-10 col-sm-10 col-md-10 bd-left">
            <!--tab-->
            <div class="mt30 pl10 pr10 pb30">
                <div class="border-title">安全设置</div>

                <ul class="account-set-list mt20">
                    <li class="clearfix row">
                        <span class="w25">登录密码</span>
                        <span class="w65">当前为初始密码，为确保安全，请修改</span>
                        <span class="edit w10 cp" id="editpwd">修改</span>
                    </li>
                </ul>
            </div>
            <!--tab-->
        </div>
        <!--right end-->

    </div>


</div>
<!--内容 end-->

<!--footer-->
<div th:include="common :: footer"></div>
<!--在线客服-->
<div th:include="common :: right"></div>
<!--在线客服 end-->
<div id="change-password" style="display: none" th:include="common :: password"></div>

<!--修改密码 提示层-->
<div id="edit-pwd" style="display: none">
    <!--form-->
    <div class="layui-layer-title">修改密码</div>
    <div class="mb30">
        <form class="layui-form">
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col1">*</i>旧密码：</label>
                    <div class="layui-input-block" id="oldpwd1">
                        <input type="password" name="username" placeholder="请输入" class="layui-input position-r"/>
                        <i class="close-eye icon" id="oldpwd-close"></i>
                    </div>
                    <div class="layui-input-block" id="oldpwd2" style="display: none">
                        <input type="text" name="username" placeholder="请输入" class="layui-input position-r"/>
                        <i class="open-eye icon" id="oldpwd-open"></i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col1">*</i>新密码：</label>
                    <div class="layui-input-block" id="newpwd1">
                        <input type="password" name="username" placeholder="请输入" class="layui-input position-r"/>
                        <i class="close-eye icon" id="newpwd-close"></i>
                    </div>
                    <div class="layui-input-block" id="newpwd2" style="display: none">
                        <input type="text" name="username" placeholder="请输入" class="layui-input position-r"/>
                        <i class="open-eye icon" id="newpwd-open"></i>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/static/js/site.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/static/js/lanrenzhijia.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script>
    var message;
    layui.config({
        base: '../build/js/'
    }).use(['app', 'message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        //app.set({
        //    type: 'iframe'
        //}).init();
        $('#editpwd').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: $('#edit-pwd'),
                area: ['500px'],
                shadeClose: true
            });
        });
    });
    $(document).ready(function() {
        $("#oldpwd-open").click(function() {
            $("#oldpwd1").show();
            $("#oldpwd2").hide();
        });
        $("#oldpwd-close").click(function() {
            $("#oldpwd1").hide();
            $("#oldpwd2").show();
        });
        $("#newpwd-open").click(function() {
            $("#newpwd1").show();
            $("#newpwd2").hide();
        });
        $("#newpwd-close").click(function() {
            $("#newpwd1").hide();
            $("#newpwd2").show();
        });
    });
</script>
</body>
</html>
  