<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>客户中心 - 元数据</title>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/site.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/plugins/paging/css/paging.css"/>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
<div th:include="common :: top"></div>
<div class="masthead pb0"></div>
<div class="container mt45 mb20">
    位置：<a href="/home.html"> 主页</a> > <span class="col2">设置中心</span>
</div>
<div class="container mt20 mb20 bg-white">
    <div class="row development">
        <div th:include="system :: left"></div>
        <div class="col-lg-10 col-sm-10 col-md-10 bd-left" style="height: 600px;">
            <div class="mt30 pl10 pr10 pb30">
                <div class="border-title">消息通知</div>
                <table class="layui-table mt20">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>类型</th>
                        <th>内容</th>
                    </tr>
                    </thead>
                    <tbody id="dataBody">

                    </tbody>
                </table>
            </div>
            <div class="box" id="pagination"></div>
        </div>
    </div>
</div>

<div th:include="common :: footer"></div>
<div th:include="common :: right"></div>


<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/static/js/site.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/static/js/lanrenzhijia.js"></script>
<script type="text/javascript" src="/static/plugins/paging/js/paging.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/business/message.js"></script>
</body>
</html>
  