<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="../../static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/style.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/base.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="system::left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--面包屑-->
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/manager/index.html">系统管理<span class="layui-box">&gt;</span></a>
            <a href="/manager/index.html">账户管理<span class="layui-box">&gt;</span></a>
            <a><cite>添加分组</cite></a>
        </div>
        <!--面包屑 end-->
        <div class="p20">
            <!--form-->
            <!--<form class="layui-form" action="">-->
            <div class="form-title mb20">分组名称</div>
            <div class="w40 m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">分组名称：</label>
                    <div class="layui-input-block">
                        <input type="text" id="name" lay-verify="required" placeholder="请输入" autocomplete="off"
                               class="layui-input" onblur="checkName()"/>
                        <i class="col3 pl10" id="nameTip" style="display: none"></i>
                    </div>
                </div>
            </div>
            <div class="form-title mb20">设置权限</div>
            <div class="m30">
                <!--table-->
                <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                    <thead>
                    <tr>
                        <th>一级栏目</th>
                        <th>二级栏目</th>
                        <th>三级栏目</th>
                        <th>具体权限</th>
                    </tr>
                    </thead>
                    <tbody id="dataBody">
                    <tr>
                        <td rowspan="6">系统管理</td>
                        <td rowspan="2">账户管理</td>
                        <td>后台账号管理</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p11100"/>全选
                            <input type="checkbox" class="privilege p11100" id="11101" p-id="p11100" checked=""/>添加
                            <input type="checkbox" class="privilege p11100" id="11102" p-id="p11100" checked=""/>编辑
                            <input type="checkbox" class="privilege p11100" id="11103" p-id="p11100" checked=""/>停用
                        </td>
                    </tr>
                    <tr>
                        <td>分组管理</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p11200"/>全选
                            <input type="checkbox" class="privilege p11200" id="11201" p-id="p11200" checked=""/>添加
                            <input type="checkbox" class="privilege p11200" id="11202" p-id="p11200" checked=""/>编辑
                            <input type="checkbox" class="privilege p11200" id="11203" p-id="p11200" checked=""/>停用
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">系统设置</td>
                        <td>栏目管理</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p12100"/>全选
                            <input type="checkbox" class="privilege p12100" id="12101" p-id="p12100" checked=""/>修改图标
                            <input type="checkbox" class="privilege p12100" id="12102" p-id="p12100" checked=""/>是否显示
                            <input type="checkbox" class="privilege p12100" id="12103" p-id="p12100" checked=""/>编辑
                            <input type="checkbox" class="privilege p12100" id="12104" p-id="p12100" checked=""/>删除
                        </td>
                    </tr>
                    <tr>
                        <td>充值类型</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p12200"/>全选
                            <input type="checkbox" class="privilege p12200" id="12201" p-id="p12200" checked=""/>添加类型
                            <input type="checkbox" class="privilege p12200" id="12202" p-id="p12200" checked=""/>是否显示
                            <input type="checkbox" class="privilege p12200" id="12203" p-id="p12200" checked=""/>编辑
                            <input type="checkbox" class="privilege p12200" id="12204" p-id="p12200" checked=""/>删除
                        </td>
                    </tr>
                    <tr>
                        <td>行业分类</td>
                        <td class="tl important">
                            <!-- 具体权限 -->
                            <input type="checkbox" class="parent-privilege" id="p12300"/>全选
                            <input type="checkbox" class="privilege p12300" id="12301" p-id="p12300" checked=""/>添加行业
                            <input type="checkbox" class="privilege p12300" id="12302" p-id="p12300" checked=""/>是否显示
                            <input type="checkbox" class="privilege p12300" id="12303" p-id="p12300" checked=""/>编辑
                            <input type="checkbox" class="privilege p12300" id="12304" p-id="p12300" checked=""/>删除
                            <input type="checkbox" class="privilege p12300" id="12305" p-id="p12300" checked=""/>增加子行业
                        </td>
                    </tr>
                    <tr>
                        <td>其他设置</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p12400"/>全选
                            <input type="checkbox" class="privilege p12400" id="12401" p-id="p12400" checked=""/>设置客服
                            <input type="checkbox" class="privilege p12400" id="12402" p-id="p12400" checked=""/>设置子账号数量
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">产品管理</td>
                        <td rowspan="2">产品管理</td>
                        <td>产品类别管理</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p21100"/>全选
                            <input type="checkbox" class="privilege p21100" id="21101" p-id="p21100" checked=""/>添加
                            <input type="checkbox" class="privilege p21100" id="21102" p-id="p21100" checked=""/>编辑
                            <input type="checkbox" class="privilege p21100" id="21103" p-id="p21100" checked=""/>停用
                        </td>
                    </tr>
                    <tr>
                        <td>产品列表</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p21200"/>全选
                            <input type="checkbox" class="privilege p21200" id="21201" p-id="p21200" checked=""/>添加
                            <input type="checkbox" class="privilege p21200" id="21202" p-id="p21200" checked=""/>编辑
                            <input type="checkbox" class="privilege p21200" id="21203" p-id="p21200" checked=""/>停用
                        </td>
                    </tr>
                    <tr>
                        <td>
                            客户管理
                        </td>
                        <td>客户管理</td>
                        <td>客户管理
                        </td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p31100"/>全选
                            <input type="checkbox" class="privilege p31100" id="31101" p-id="p31100" checked=""/>查看
                            <input type="checkbox" class="privilege p31100" id="31102" p-id="p31100" checked=""/>添加
                            <input type="checkbox" class="privilege p31100" id="31103" p-id="p31100" checked=""/>编辑
                            <input type="checkbox" class="privilege p31100" id="31104" p-id="p31100" checked=""/>冻结
                            <input type="checkbox" class="privilege p31100" id="31105" p-id="p31100" checked=""/>解冻
                            <input type="checkbox" class="privilege p31100" id="31106" p-id="p31100" checked=""/>删除
                            <input type="checkbox" class="privilege p31100" id="31107" p-id="p31100" checked=""/>重置
                            <input type="checkbox" class="privilege p31100" id="31108" p-id="p31100" checked=""/>开通服务
                            <input type="checkbox" class="privilege p31100" id="31109" p-id="p31100" checked=""/>续签
                            <input type="checkbox" class="privilege p31100" id="31110" p-id="p31100" checked=""/>账户充值
                            <input type="checkbox" class="privilege p31100" id="31111" p-id="p31100" checked=""/>产品历史充值记录导出
                            <input type="checkbox" class="privilege p31100" id="31112" p-id="p31100" checked=""/>产品消费明细导出
                            <input type="checkbox" class="privilege p31100" id="31113" p-id="p31100" checked=""/>子账号消费明细导出
                            <input type="checkbox" class="privilege p31100" id="31114" p-id="p31100" checked=""/>重置密钥
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5">运营数据管理</td>
                        <td rowspan="5">运营数据管理</td>
                        <td>运营数据汇总</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41100"/>全选
                            <input type="checkbox" class="privilege p41100" id="41101" p-id="p41100" checked=""/>查看
                        </td>
                    </tr>
                    <tr>
                        <td>客户数据</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41200"/>全选
                            <input type="checkbox" class="privilege p41200" id="41201" p-id="p41200" checked=""/>查看
                            <input type="checkbox" class="privilege p41200" id="41202" p-id="p41200" checked=""/>导出
                        </td>
                    </tr>
                    <tr>
                        <td>充值数据</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41300"/>全选
                            <input type="checkbox" class="privilege p41300" id="41301" p-id="p41300" checked=""/>查看
                            <input type="checkbox" class="privilege p41300" id="41302" p-id="p41300" checked=""/>导出
                        </td>
                    </tr>
                    <tr>
                        <td>营收列表</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41400"/>全选
                            <input type="checkbox" class="privilege p41400" id="41401" p-id="p41400" checked=""/>查看
                            <input type="checkbox" class="privilege p41400" id="41402" p-id="p41400" checked=""/>导出
                        </td>
                    </tr>
                    <tr>
                        <td>产品请求数据</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p41500"/>全选
                            <input type="checkbox" class="privilege p41500" id="41501" p-id="p41500" checked=""/>查看
                            <input type="checkbox" class="privilege p41500" id="41502" p-id="p41500" checked=""/>导出
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">财务管理</td>
                        <td rowspan="2">核对管理</td>
                        <td>充值记录</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p51100"/>全选
                            <input type="checkbox" class="privilege p51100" id="51101" p-id="p51100" checked=""/>查询
                            <input type="checkbox" class="privilege p51100" id="51102" p-id="p51100" checked=""/>导出
                        </td>
                    </tr>
                    <tr>
                        <td>账单核对</td>
                        <td class="tl important">
                            <input type="checkbox" class="parent-privilege" id="p51200"/>全选
                            <input type="checkbox" class="privilege p51200" id="51201" p-id="p51200" checked=""/>查看
                            <input type="checkbox" class="privilege p51200" id="51202" p-id="p51200" checked=""/>导出
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--table end-->
            </div>
            <div class="layui-form-item mt40">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1" onclick="saveRole()">保存</button>
                </div>
            </div>
            <!--</form>-->
            <!--form end-->
        </div>
    </div>

    <div class="layui-footer" th:include="common :: copyright"></div>
</div>

<!--修改密码  提示层-->
<div id="editpwd-manage" class="modal" th:include = "resetPoint :: point"></div>

<script src="../../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script type="text/javascript" th:src="@{/js/password.js}"></script>
<script type="text/javascript" th:src="@{/js/group.add.js}"></script>
</body>
</html>