<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="../../static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/style.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/base.css" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="system::left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/manager/index.html">系统管理<span class="layui-box">&gt;</span></a>
            <a href="/privilege/index.html">系统配置<span class="layui-box">&gt;</span></a>
            <a><cite>充值类型</cite></a>
        </div>
        <div class="p20">
            <div class="clearfix mt20"><span href="account-add.html" class="fr add-button cp" id="addclass">添加类型</span>
            </div>
            <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>类型名称</th>
                    <th>备注说明</th>
                    <th>是否显示</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="dataBody">
                <tr th:each="o : ${list}">
                    <td th:text="${o.id}"></td>
                    <td th:text="${o.name}"></td>
                    <td th:text="${o.remark}"></td>
                    <td>
                        <div class="layui-form" th:attr="obj-id=${o.id}">
                            <input type="checkbox" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF"
                                   th:checked="${o.enabled == 1}"/>
                        </div>
                    </td>
                    <td>
                        <span class="mr30">
                            <em href="#" class="edit cp edit-recharge" th:attr="recharge-id=${o.id}">编辑</em>
                        </span>
                        <a href="#" class="del drop-recharge" th:attr="recharge-id=${o.id}">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="layui-table-tool mt20">
                <div class="layui-inline layui-table-page" id="layui-table-page1">
                    <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
                        <span id="totalTxt" class="layui-laypage-count" th:text="'共 ' + ${total} + '条'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer" th:include="common :: copyright"></div>
</div>

<div id="add-manage" class="modal">
    <div class="layui-layer-title">新增类型</div>
    <div class="mb30 layui-form">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label">类型名称：</label>
                <div class="layui-input-block">
                    <input type="text" id="newName" name="username" placeholder="请输入类型名称" autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注说明：</label>
                <div class="layui-input-block">
                    <textarea name="desc" id="newRemark" placeholder="请输入备注说明" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="saveNewRechargeType()">添加</button>
            </div>
        </div>
    </div>
</div>

<div id="edit-manage" class="modal">
    <div class="layui-layer-title">编辑类型</div>
    <div class="mb30">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label">类型名称：</label>
                <div class="layui-input-block">
                    <input type="text" id="editName" placeholder="请输入类型名称" autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注说明：</label>
                <div class="layui-input-block">
                    <textarea id="editRemark" placeholder="请输入备注说明" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" id="editId"/>
                <button class="layui-btn" onclick="updateRechargeType()">保存</button>
            </div>
        </div>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="resetPoint :: point"></div>

<script src="../../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script type="text/javascript" th:src="@{/js/password.js}"></script>
<script type="text/javascript" th:src="@{/js/recharge.list.js}"></script>
<script>
    var message;
    layui.config({
        base: '../../static/build/js/'
    }).use(['form', 'app', 'message'], function() {
        var form = layui.form,
            app = layui.app,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#addclass').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: $('#add-manage'),
                area: ['500px'],
                shadeClose: true
            });
        });
        form.on('switch(switchTest)', function() {
            var id = $(this).parent().attr("obj-id");
            enable_recharge_type(id, this.checked);
        });
    });

    function enable_recharge_type(id, enabled) {
        $.ajax({
            type: "post",
            url: "/config/recharge/status",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                "id": id,
                "enabled": enabled ? 1 : 0
            })
        });
    }
</script>
</body>
</html>