#login-wrapper #login-content .notification {
    border: 0;
    background-color: #122753;
    color: #fff !important;
    height: 40px;
}

/********************************      Login Page      ********************************/

body#login {
    color: #333;
    background-image: linear-gradient(to right, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    background-color: rgb(0, 0, 0) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

/*header */

.navbar-inverse .navbar-toggle {
    border-color: #245285;
    margin-top: 22px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #245285;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
    background: none;
}

.navbar-inverse {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    margin-top: 10px;
}

.navbar-nav {
    margin-top: 10px;
}

.navbar-inverse .navbar-nav > li {
    margin: 0px 5px;
}

.nav > li > a {
    padding: 10px 23px;
}

.header1 .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
}

.header2 .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #627fc9;
    color: #fff;
    border-radius: 3px;
}

/*.navbar-inverse .navbar-nav>li>a:visited{color: #245285}*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background: #627fc9;
    border-radius: 3px;
}

.login {
    border: solid 1px #245285;
    color: #245285;
    padding: 0px 6px;
}

.login:hover {
    background: #245285;
    color: #fff;
}

.navbar-header {
    padding-right: 0%;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: initial;
    max-width: initial;
    height: initial;
}

.header1 a i {
    background: url(../images/login-logo.png) no-repeat;
    background-size: contain;
    width: 250px;
    height: 77px;
    display: inline-block;
}

.header2 a i {
    background: url(../images/logo-1.png) no-repeat;
    background-size: contain;
    width: 214px;
    height: 77px;
    display: inline-block;
}

.header2 {
    color: #fff;
    background: #000;
}

.navbar-right li {
    color: #fff;
}

.navbar-right li span {
    margin-right: 10px;
}

#login-wrapper #login-top {
    height: 60px;
    text-align: center;
    margin: auto;
    width: 374px;
    margin-right: 27%;
    font-size: 40px;
    margin-top: 140px;
}

#login-wrapper #login-content {
    text-align: left;
    width: 445px;
    margin: 0 auto;
    background: #fff;
    padding: 50px 60px 5px;
    border-radius: 5px;
}

#login-wrapper #login-content label {
    line-height: 30px;
    font-weight: normal;
    font-size: 14px;
    font-family: Arial, sans-serif;
    float: left;
    width: 68px;
    padding: 0;
}

#login-wrapper #login-content input {
    width: 256px;
    float: left;
    font-family: Arial;
    border: solid 1px #c1c2c3;
    font-size: 16px;
    padding: 8px;
    border-radius: 3px;
}

#login-wrapper #login-content input.button {
    margin: 0 10px 0 0;
}

#login-wrapper #login-content .text_auth {
    width: 120px;
    float: left
}

#login-wrapper #login-content .img_auth {
    float: left;
    margin-left: 10px;
    padding-top: 0px;
}

#login-wrapper #login-content .img_auth img {
    width: 120px;
    height: 40px;
}

#login-wrapper #login-content p {
    padding: 0;
}

#login-wrapper #login-content p#remember-password {
    float: right;
}

#login-wrapper #login-content p#remember-password input {
    float: none;
    width: auto;
    border: 0;
    background: none;
    margin: 0 10px 0 0;
}

#login-wrapper #login-content p .button {
    width: auto;
}

/************ Button ************/
.button {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    background: #579fe9;
    border: 1px solid #579fe9 !important;
    padding: 4px 7px 4px 7px;
    _padding: 4px 2px 4px 2px !important;
    color: #fff !important;
    font-size: 12px !important;
    cursor: pointer;
}

form input.text-input {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.clear {
    clear: both;
    height: 5px;
    _height: 1px;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #579fe9 !important;
    background-color: #579fe9 !important;
    color: #fff;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}
.kefu {
    background: url(../images/server.png) no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}

.lxkf{color:#ef6c38; border: solid 1px #ef6c38; border-radius: 4px; padding: 4px 10px;}
a,a:hover,a:active,a:link{text-decoration: none}