
@charset "utf-8";
/**
* Description: Base style
* Developers: chenjiwei
**/
/*reset */
body,*{ "Arial Unicode MS",'Arial', 'Helvetica', 'sans-serif','Microsoft YaHei' !important;text-shadow:none;}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form,ul,li{margin:0;}
ul{padding:0;}
ol,li{margin:0; padding:0;}
table{border-collapse: collapse; border-spacing: 0;}
fieldset, img{border: 0;}
address, caption, cite, code, dfn, em, strong, th, var,i{font-style: normal; font-weight: normal;}
ol, ul {list-style: none;}
del, ins{text-decoration: none;}
caption, th{text-align: left;}
h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: normal;}
input, button, textarea, select{font-size: 100%;}
select {background: #fff;}
q:before, q:after{content: '';}
acronym{border: 0; font-variant: normal;}
sub, sup{font-size: 75%; line-height: 0; position: relative;}
sub{top: -0.5em;}
sup{bottom: -0.25em;}
a {color: #000;}
a:hover,a:link{text-decoration: none;}
html{font-size: 62.5%; }
body{color: #484848}
input{outline:none;}


/*index*/
.index-body{background: #f2f2f2;}
.jumbotron{box-shadow:none;-webkit-box-shadow:none; background: #063a76}
@media screen and (min-width: 768px)
{
	.masthead {margin-bottom: 0; color: #fff;padding: 55px 0 110px}
}

.masthead {padding: 55px 0 0px; margin-bottom: 0; color: #fff;}

/**轮播**/
.slide-text {position: initial!important;}
.indicators-line > .carousel-indicators{width: 100%!important; right: initial!important; padding: 0px; margin:auto; text-align: center!important;}


/*****index********/
.slide{width: 100%; min-width: 1000px;  height: 484px;}
.slide-banner1{ background:#0f0e1e; background-size: 100%; height: 484px;overflow: hidden; position: relative;}
.slide-banner-img1{background: url(../images/banner1.png) no-repeat center; min-width: 1188px; height: 100%; padding-left: 80px;}
.slide-banner-font1{font-size: 46px; color: #fff; margin-top: 80px;}
.slide-banner-font2{font-size: 30px; color: #fff; margin-top: 20px;}
.slide-banner-font3{font-size: 24px; color: #fff; margin-top: 20px;}
.slide-banner-font4 span{font-size: 20px; color: #fff; border:solid 1px #fff; border-radius: 15px; padding: 14px 57px;}
.slide-banner-img2{background: url(../images/banner2.png) no-repeat center; min-width: 1188px; height: 100%; padding-left: 80px;}
.slide-banner-img3{background: url(../images/banner3.png) no-repeat center; min-width: 1188px; height: 100%; padding-left: 80px;}
.slide-banner-img4{background: url(../images/banner4.png) no-repeat center; min-width: 1188px; height: 100%; padding-left: 80px;}




.lj-product-bg{background: url(../images/produt-bg.png) no-repeat; background-size: 100%;}
.lj-product li{float: left; width: 33.3333%;display: flex; color: #fff; margin: 50px 0px;}
.lj-product li i{ width: 28%;}
.lj-product li div{padding-left: 20px;}
.lj-product li h1{ font-size: 20px; margin-top: 14px;}
.lj-product li p{font-size: 16px; margin-top: 7px;}

.login-btn{border-radius: 3px; background:#4aa0f5; color: #fff; padding: 8px 15px;}
a.login-btn:hover{color: #fff; text-decoration: none;}
.indextab-name{margin-top: 60px;}
.indextab-name span{color: #333; font-size: 18px; width: 10%; float: left; margin-top: 5px;}
.indextab-name em{float: right;width: 10%;  margin-top: 5px; font-size: 16px; color: #333}
.indextab li{padding:0 10px; display:inline-block;  cursor: pointer;  width: 25%; float: left; text-align: center;}
.indextab li span{background: #979797;border-radius:50%; width: 120px; height: 120px; padding-top: 21px; margin-left: 25%;}
.indextab li img{width: 65%; margin:auto;}
.indextab li.active span,.indextab li span:hover{text-decoration: none;background: #49a0f5;border-radius:50%; width: 120px; height: 120px; }
.indextab-list li:first-child{display: block;}
.indextab-list li{display: none;}
.indextab-nav{margin: 20px 80px;}
.indextab-nav h1{color: #565f70; font-size: 40px; margin-top: 50px;}
.indextab-nav p{color: #5b5b5b; font-size: 18px; margin-top: 25px;}
.index-new-bg{background: url(../images/new-bg.png) no-repeat; background-size: 100%;}
.index-new li{float: left; width: 31.333%; margin: 1%;}
.index-button a{color: #fff; border-radius: 20px; padding: 12px 60px; border:solid 1px #fff; font-size: 16px;}

/*****产品中心******/
.sbg_top{width: 100%; min-width: 1000px;  height: 400px;}
.product-banner{ background:#1e2a44; background-size: 100%; height: 400px;overflow: hidden; position: relative;}
.product-banner-img{background: url(../images/product-banner.png) no-repeat center; min-width: 1188px; height: 100%;}

.product-banner-bg{ background:#354365; background-size: 100%; height: 400px;overflow: hidden; position: relative;}
.product-img2{background: url(../images/product1.png) no-repeat center; min-width: 1188px; height: 100%;}
.product-banner-font1{font-size: 44px; color: #fff; margin-top: 80px;}
.product-banner-font2{font-size: 28px; color: #fff; margin-top: 20px;}
.product-banner-font3{font-size: 18px; color: #fff; margin-top: 20px;}
.product-list-name{border-left: solid 2px #49a0f5; color: #3a3a3a; font-size: 20px; padding-left: 20px; font-weight: bold;}
.blist-name span{color: #333; font-size: 18px; width: 10%; float: left; margin-top: 5px;}
.blist-name em{float: right;width: 10%;  margin-top: 5px; font-size: 16px; color: #333}
.blist{width: 80%; float: left;}
.blist-height{max-height: 42px; overflow: hidden;}
.blist li{padding:0 10px; display:inline-block; padding: 5px 20px; font-size: 16px; margin: 0px 7px; margin-bottom: 10px; cursor: pointer;}
.blist li.active,.blist li:hover{text-decoration: none;background:#49a0f5; border-radius: 20px;color: #fff; padding: 5px 20px; }
.blsit-list li:first-child{display: block;}
.blsit-list li{display: none;}
.product-list dl{float: left; width: 23%; margin: 1%}
.product-list dt{border-left: solid 2px #49a0f5; font-size: 16px; font-weight: normal; padding: 20px; background: #fff;}
.product-style{color: #747474;}
.product-list dd{background: #eeeeee; padding: 20px; font-size: 14px; color: #747474;}
/*.product-list dd .more{color: #49a0f5; border-radius: 20px; border:solid 1px #49a0f5; text-align: center; width: 40%; margin: auto; margin-top: 15px; padding: 5px 0px;}*/
a.more{color: #49a0f5;border-radius: 20px;border:solid 1px #49a0f5;text-align: center;width: 100%;margin: auto;margin-top: 15px;padding: 7px 33px;text-align:  center;}
.product-list dd .more a{color:#49a0f5; }
.product-list dd .more a:hover{color:#49a0f5; text-decoration: none;}
/*****page****/
.pagination>li>a, .pagination>li>span{color:#777;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{color: #777; background-color: #fff; border-color: #ddd; border-top:solid 3px #49a0f5; padding-bottom: 4px;}


/******新闻*******/
.new-list-left{background: #2fa8e6; padding: 20px; font-size: 16px; }
.new-list-left p{background: #fff; color: #2fa8e6; padding: 5px 20px;}
.new-list-left ul{margin-top: 5px;}
.new-list-left ul li{color: #fff; padding: 10px 30px 5px; cursor: pointer; position: relative;}
.new-list-left ul li a{color: #fff;}
.new-list-left ul li a:hover{text-decoration: none;}
.new-list-left ul li.active:after,.new-list-left ul li:hover:after{ position: absolute; right: -35px; background: url(../images/icon/jt-icon.png) no-repeat; width: 15px; height: 15px; content: ""; text-decoration: none;}
.new-list-right h1{border-left: solid 6px #2fa8e6; padding-left: 15px; font-size: 18px; font-weight: 500;}
.new-list-right ul li{margin-bottom: 30px; margin-left: 8px; padding-top: 10px;}
.new-list-right ul li .title{color: #252525; font-size: 18px; font-weight: 500;}
.new-list-right ul li .time{color: #909090; font-size: 16px;}
.new-list-right{font-size: 16px; color: #504f4f; line-height: 28px;}
.new-list-right a{color: #2fa8e6}
.new-list-right h2{ font-size: 18px; margin-top: 10px;  font-weight: 600; color: #3e3e3e}
.new-inf{line-height: 30px; font-size: 16px; color: #3e3e3e; margin-top: 15px; padding-bottom: 50px;}
.new-inf p{text-indent: 4%;}


/***关于我们****/
.about-banner{ background-size: 100%; height: 400px;overflow: hidden; position: relative;}
.about-banner-img{ min-width: 1188px; height: 100%;}
.about-form{background: #58a2eb; color: #fff; padding: 20px;}
.about-form-list{background: #fff; padding: 20px;}
.about-form-list input{border-radius: 20px; background: #e0e0e0; color: #afafaf; border:0px; padding: 8px 15px; width: 100%; font-size: 14px;}
.about-form-list button{position: absolute; right: 0px; border: 0px; background: #49a0f5; padding: 8px 20px; border-radius: 0px 20px 20px 0px;}
.about-title{font-size: 32px;}
.about-title:after{border-bottom: solid 5px #49a0f5; content: ""; display: block; width:9%; margin: auto; padding-top: 15px;}
.about-team-bg{background: url(../images/about-team.png) no-repeat center; background-size: 100%; height: 800px;overflow: hidden; position: relative;}
.team-title{font-size: 28px; text-align: center;}
.team-list li{float: left; width: 31.3333%; margin: 1%; margin-top: 40px;}
.team-list li p{text-align: center; font-size: 16px; color: #000; margin-top: 2px;}



/*******解决方案******/

.programme-notice{background: #e8e8e8;}
.programme-list{margin-top: 60px;}
.programme-list li{float: left; width: 25%; text-align: center;}
.programme-list li img{width: 30%; margin: auto;}
.programme-list li h1{color: #343944; font-size: 18px; margin-top: 40px;}
.programme-list li p{color: #838383; margin-top: 10px;}
.programme-bg{background: url(../images/programme-bg1.png) no-repeat; background-size: 100%;}
.programme-bg2{background: url(../images/programme-bg2.png) no-repeat; background-size: 100%;}
.programme-help{margin: 60px 0px;}
.programme-help li{float: left; width:23%; margin: 1%; text-align: center;}
.programme-help li .img-title{background: #fff; padding: 25px 20px;}
.programme-help li .img-title img{width: 35%; margin: auto; margin-top: 20px;}
.programme-help li .img-inf{background: #efefef; padding: 25px 20px;}
.programme-help li .img-inf a{color: #459bf0; border-radius: 20px; padding: 8px 20px; border:solid 1px #459bf0; font-size: 14px;}


/*****public****/
.public-title{border-left: solid 5px #fff; padding-left: 20px; font-size: 30px; color: #fff;}
.public-title2{border-left: solid 5px #459bf0; padding-left: 20px; font-size: 30px; color: #459bf0;}
.public-button a{color: #459bf0; border-radius: 20px; padding: 12px 60px; border:solid 1px #459bf0; font-size: 16px;}

a.return-button{width: 8%; border: solid 1px #999; border-radius: 20px; text-align: center; padding: 8px 12px; cursor: pointer; color: #999;}


/***地图**/
.left,.right {width: 100%;height: 500px;box-sizing: border-box;}
.left {height: 400px;}
.container-map {width: 100%;height: 100%;float: left;}

.xy-nav-warp h2{font-weight:n; font-size: 16px; padding: 15px 0px;}
.xy-nav-warp p{text-indent: 4%; line-height: 35px; color:#3e3e3e; font-size: 16px;}