<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/website/images/icon/favicon.png"/>
</head>

<body>

<div th:include="website/common :: top"></div>

<div class="pb0 sbg_top about-banner left">
    <div class="container-map container" id="container1" style="position: relative; z-index: 9;">
    </div>
    <div class="container">
        <div class="about-form w25" style="position: absolute; top: 0px; right: 11.4%;">
            <div class="fz-16 lh30 important">
                <p class="clearfix fz-14 important">
                    <i class="fl pr10"><img src="/static/website/images/icon/qq-icon.png"
                                            style="width: 22px;"/></i><span th:text="${serviceQq}"
                ></span>
                </p>
                <p class="clearfix fz-14 important mt5">
                    <i class="fl pr10"><img src="/static/website/images/icon/tel-icon-mix.png"
                                            style="width: 22px;"/></i>0571-8795 5351
                </p>
                <p class="clearfix fz-14 important mt5">
                    <i class="fl pr10"><img src="/static/website/images/icon/email-icon-mix.png" style="width: 22px;"/></i>contact@matedata.net
                </p>
                <p class="clearfix fz-14 important mt5"><i class="fl pr10">
                    <img src="/static/website/images/icon/address-icon.png" style="width: 22px;"/></i>杭州市拱墅区祥园路108号
                </p>
            </div>
            <!--  <div class="about-form-list mt15">
               <p class="col3 fz-16">让客服联系您</p>
               <p class="mt15"><input type="text" name="" placeholder="请输入姓名"></p>
               <p class="mt15 position-r"><input type="text" name="" placeholder="请输入手机号"><button>提交</button></p>
               <p class="col2 fz-14 mt10 tc">提交后会有专属客服为您服务</p>
             </div> -->
        </div>
    </div>
</div>
<div class="container mt40">
    <div class="about-title tc">关于元数据</div>
    <div class="new-inf fz-18 lh35 mt40 important about-inf">
        <p>元数据，源于数据的发现。总部位于杭州，专业从事于大数据分析研究。元数据致力于把大数据智能化研究成果服务于全国的客户，为企业提供专业、智能的大数据解决方案。</p>
        <p>元数据基于海量精准数据的智能挖掘清洗，结合行业当前的现状，发现数据价值，经过机器智能抽取、分析、处理把数据图形化、可视化，同时不断完善用户画像，建人工智能研究中心，为更多行业提供人性化的精准智能体验。</p>

        <p>未来，我们将把数据图形化、可视化，同时不断完善用户画像，建人工智能研究中心，为更多行业提供人性化的精准智能体验；</p>

        <p>我们将坚持做到：</p>
        <p>聆听客户的需求，为客户定制大数据专业解决方案；</p>
        <p>不断探索前行，为更多行业带来大数据智能体验；</p>

        <p>行业产品：金融天境，帮助金融借贷行业快速识别不良客户，降低行业骗贷情况发生概率。</p>


        <!--<p class="tc mt40">查看品牌历程》</p>-->
    </div>
</div>
<div class="pb0 sbg_top about-team-bg">
    <div class="container p20">
        <div class="tc team-title mt20">团队风采</div>
        <div class="tc fz-20 mt15">非常优秀、专业、高效，您的不二选择</div>
        <ul class="team-list mt5">
            <li>
                <img src="/static/website/images/photo/ceo.png"/>
                <p class="mt10 important">刘勇</p>
                <p class="col2 fz-14 important">CEO</p>
            </li>
            <li>
                <img src="/static/website/images/photo/cto.png"/>
                <p class="mt10 important">祝俊</p>
                <p class="col2 fz-14 important">CTO</p>
            </li>
            <li>
                <img src="/static/website/images/photo/sw.png"/>
                <p class="mt10 important">青丘</p>
                <p class="col2 fz-14 important">CMO</p>
            </li>
            <li>
                <img src="/static/website/images/photo/sj-sy.png"/>
                <p class="mt10 important">军团</p>
                <p class="col2 fz-14 important">大数据总监</p>
            </li>
            <li>
                <img src="/static/website/images/photo/sj-tj.png"/>
                <p class="mt10 important">天剑</p>
                <p class="col2 fz-14 important">资深大数据工程师</p>
            </li>
            <li>
                <img src="/static/website/images/photo/cp.png"/>
                <p class="mt10 important">星海</p>
                <p class="col2 fz-14 important">CPO</p>
            </li>
        </ul>
    </div>
</div>

<div th:include="website/common :: footer"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script src="/static/website/js/jquery.baiduMap.min.js"></script>
<script src="https://api.map.baidu.com/api?v=2.0&amp;ak=A1LU7iHS0avqQwPLAxbhKn0UYSQCuRVH"></script>
<script>
    $(function() {
        $("#page-about").addClass("active");
    });
    new BaiduMap({
        id: "container1",
        title: {
            text: "智慧信息产业园",
            className: "title"
        },
        content: {
            className: "content",
            text: ["地址：杭州市拱墅区智慧信息产业园G座5层", "电话：0571-8795 5351"]
        },
        point: {
            lng: 120.124427,
            lat: 30.342194
        }
    });
</script>
</body>
</html>
