<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link href="/static/website/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/website/images/icon/favicon.png"/>
</head>

<body>

<div th:include="website/common :: top"></div>

<div class="pb0 sbg_top about-banner left">
    <div class="container-map container" id="container1" style="position: relative; z-index: 9;">
    </div>
    <div class="container">
        <div class="about-form w25" style="position: absolute; top: 0px; right: 11.4%;">
            <div class="fz-16 lh30 important">
                <p class="clearfix fz-14 important">
                    <i class="fl pr10"><img src="/static/website/images/icon/qq-icon.png"
                                            style="width: 22px;"/></i><span th:text="'客服Q Q：'+${serviceQq}"
                ></span>
                </p>
                <p class="clearfix fz-14 important mt5">
                    <i class="fl pr10"><img src="/static/website/images/icon/tel-icon-mix.png"
                                            style="width: 22px;"/></i>0571-2513 886
                </p>
                <p class="clearfix fz-14 important mt5">
                    <i class="fl pr10"><img src="/static/website/images/icon/email-icon-mix.png" style="width: 22px;"/></i>Matedata@mingdong.com
                </p>
                <p class="clearfix fz-14 important mt5"><i class="fl pr10">
                    <img src="/static/website/images/icon/address-icon.png" style="width: 22px;"/></i>杭州市拱墅区祥园路108号
                </p>
            </div>
            <!--  <div class="about-form-list mt15">
               <p class="col3 fz-16">让客服联系您</p>
               <p class="mt15"><input type="text" name="" placeholder="请输入姓名"></p>
               <p class="mt15 position-r"><input type="text" name="" placeholder="请输入手机号"><button>提交</button></p>
               <p class="col2 fz-14 mt10 tc">提交后会有专属客服为您服务</p>
             </div> -->
        </div>
    </div>
</div>
<div class="container mt40">
    <div class="about-title tc">关于元数据</div>
    <div class="new-inf fz-18 lh35 mt40 important">
        <p>元数据是描述数据的数据，是管理数据的数据，我们基于对数据的挖掘，不断优化人物画像，同时挖掘数据价值。我们利用人工
            智能不断的进行决策树（Decision Tree）的模型学习；对行业问题，运用博弈论（Game Theroy）给出最佳解决方案；</p>
        <p>同时保护隐私是公司不变的宗旨；</p>
        <p>未来，我们将把整个世界数据化，可视化，可沟通化，同时建人工智能研究中心，实现人工智能，为各行各业带来全新和精准的智能体验；</p>
        <p>我们愿聆听您的需求，为您定制大数据解决方案；</p>
        <p>我们愿不断探索前行，为更多行业带来智能体验；</p>
        <p>永远不忘保障用户隐私。</p>
        <p>行业产品：金融天境 帮助金融借贷行业快速识别不良客户，降低行业骗贷情况发生概率；</p>
        <!--<p class="tc mt40">查看品牌历程》</p>-->
        <p class="tr mt40 fz-12 col2">元数据隶属于杭州明动科技有限公司</p>
    </div>
</div>
<div class="pb0 sbg_top about-team-bg">
    <div class="container p20">
        <div class="tc team-title mt20">团队风采</div>
        <div class="tc fz-20 mt15">非常优秀、专业、高效，您的不二选择</div>
        <ul class="team-list mt5">
            <li>
                <img src="/static/website/images/photo/ceo.png"/>
                <p class="mt10 important">刘勇</p>
                <p class="col2 fz-14 important">CEO</p>
            </li>
            <li>
                <img src="/static/website/images/photo/cto.png"/>
                <p class="mt10 important">祝俊</p>
                <p class="col2 fz-14 important">CTO</p>
            </li>
            <li>
                <img src="/static/website/images/photo/sw.png"/>
                <p class="mt10 important">青丘</p>
                <p class="col2 fz-14 important">商务总监</p>
            </li>
            <li>
                <img src="/static/website/images/photo/sj-sy.png"/>
                <p class="mt10 important">军团</p>
                <p class="col2 fz-14 important">大数据总监</p>
            </li>
            <li>
                <img src="/static/website/images/photo/sj-tj.png"/>
                <p class="mt10 important">天剑</p>
                <p class="col2 fz-14 important">资深大数据工程师</p>
            </li>
            <li>
                <img src="/static/website/images/photo/cp.png"/>
                <p class="mt10 important">星海</p>
                <p class="col2 fz-14 important">产品总监</p>
            </li>
        </ul>
    </div>
</div>

<div th:include="website/common :: footer"></div>

<script src="/static/website/js/jquery.min.js"></script>
<script src="/static/website/js/jquery.baiduMap.min.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&amp;ak=A1LU7iHS0avqQwPLAxbhKn0UYSQCuRVH"></script>
<script>
    $(function() {
        $("#page-about").addClass("active");
    });
    new BaiduMap({
        id: "container1",
        title: {
            text: "智慧信息产业园",
            className: "title"
        },
        content: {
            className: "content",
            text: ["地址：杭州市拱墅区智慧信息产业园G座5层", "电话：(010)65131892"]
        },
        point: {
            lng: 120.124427,
            lat: 30.342194
        }
    });
</script>
</body>
</html>
