<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link href="/static/website/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/website/images/icon/favicon.png"/>
</head>

<body>

<div th:include="website/common :: top"></div>

<div class="pb0 sbg_top about-banner">
    <div class="container p20">
        <div class="about-form w30 fr">
            <div class="fz-16 lh30">
                <p>客服Q Q：xxxxxxxxxxx</p>
                <p>热线电话： 0511-8795 5351</p>
                <p>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：contact@matedata.net</p>
                <p>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址： 杭州市拱墅区祥园路108号</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt40">
    <div class="about-title tc">关于元数据</div>
    <div class="new-inf fz-18 lh35 mt40 important">
        <p>元数据是描述数据的数据，是管理数据的数据，我们基于对数据的挖掘，不断优化人物画像，同时挖掘数据价值。我们利用人工
            智能不断的进行决策树（Decision Tree）的模型学习；对行业问题，运用博弈论（Game Theroy）给出最佳解决方案；</p>
        <p>同时保护隐私是公司不变的宗旨；</p>
        <p>未来，我们将把整个世界数据化，可视化，可沟通化，同时建人工智能研究中心，实现人工智能，为各行各业带来全新和精准的智能体验；</p>
        <p>我们愿聆听您的需求，为您定制大数据解决方案；</p>
        <p>我们愿不断探索前行，为更多行业带来智能体验；</p>
        <p>永远不忘保障用户隐私。</p>
        <p>行业产品：金融天境 帮助金融借贷行业快速识别不良客户，降低行业骗贷情况发生概率；</p>
        <!--<p class="tc mt40">查看品牌历程》</p>-->
        <p class="tr mt40">元数据隶属于杭州明动科技有限公司</p>
    </div>
</div>
<div class="pb0 sbg_top about-team-bg">
    <div class="container p20">
        <div class="tc team-title mt20">团队风采</div>
        <div class="tc fz-20 mt15">非常优秀、专业、高效，您的不二选择</div>
        <ul class="team-list mt5">
            <li>
                <img src="/static/website/images/team-img1.png"/>
                <p class="mt10 important">Harry</p>
                <p class="col2 fz-14 important">CEO</p>
            </li>
            <li>
                <img src="/static/website/images/team-img1.png"/>
                <p class="mt10 important">Harry</p>
                <p class="col2 fz-14 important">产品顾问</p>
            </li>
            <li>
                <img src="/static/website/images/team-img1.png"/>
                <p class="mt10 important">Harry</p>
                <p class="col2 fz-14 important">java高级工程师</p>
            </li>
            <li>
                <img src="/static/website/images/team-img1.png"/>
                <p class="mt10 important">Harry</p>
                <p class="col2 fz-14 important">商务总监</p>
            </li>
            <li>
                <img src="/static/website/images/team-img1.png"/>
                <p class="mt10 important">Harry</p>
                <p class="col2 fz-14 important">CEO</p>
            </li>
            <li>
                <img src="/static/website/images/team-img1.png"/>
                <p class="mt10 important">Harry</p>
                <p class="col2 fz-14 important">CEO</p>
            </li>
        </ul>
    </div>
</div>

<div th:include="website/common :: footer"></div>

<script src="/static/website/js/jquery.min.js"></script>
<script>
    $(function() {
        $("#page-about").addClass("active");
    });
</script>
</body>
</html>
