<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!-- top -->
<div th:fragment="top">
    <div class="navbar navbar-inverse mb0 header1"><!--navbar-fixed-top -->
        <div class="container header-mt10">
            <div class="navbar-header">
                <a class="navbar-brand hidden-sm navbar-logo pt0 important" href="index.html"><i
                        class="header-logo"></i></a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li id="page-index"><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                    <li id="page-product"><a href="product.html">热门产品</a></li>
                    <li id="page-programme"><a href="programme.html">解决方案</a></li>
                    <li id="page-news"><a href="news.html">新闻动态</a></li>
                    <li id="page-about"><a href="about.html">关于元数据</a></li>
                </ul>
                <ul class="fr mt15">
                    <a href="login.html" class="login-btn">登录</a>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div th:fragment="footer">
    <!--footer-->
    <footer class="footer-icp">
        <div class="container tc clearfix position-r">
            <a href="javascript:">联系我们</a>|<a href="news-use.html">使用协议</a>|<a href="news-privacy.html">隐私协议</a>|<a
                href="news-law.html"
        >法律申明
        </a>|<a href="about.html">关于元数据</a>
            <div class="footer-ewm"><img src="/static/website/images/ewm.png"/></div>
        </div>

    </footer>
    <!--footer-->
    <footer class="footer">
        <div class="container ">
            <p class="tc">
                <span class="fz-16 mr30"><i class="icon tel-icon mr5"></i>0571-1545451245</span>
                <span class="fz-16"><i class="icon email-icon mr5"></i>mingdonglet@mail.com</span>
            </p>
            <p class="tc mt25"><span class="footer-inf">元数据 · 源于数据的发现</span></p>
            <p class="tc mt25">©明动科技 | 浙ICP备123321号</p>
        </div>
    </footer>
</div>
</body>
</html>