<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>
    <link href="/static/website/css/bootstrap-touch-slider.css" rel="stylesheet" media="all"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/images/icon/favicon.png"/>
</head>

<body class="index-body">

<div th:include="website/common :: top"></div>

<div class="pb0">
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel"
         data-pause="hover" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators carousel-indicators">
            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="pb0 slide" alt="Bootstrap Touch Slider">
                    <div class="slide-banner1">
                        <a target="_blank"
                           th:href="@{'http://wpa.qq.com/msgrd?v=3&amp;uin='+${serviceQq}+'&amp;site=qq&amp;menu=yes'}">
                            <div class="container slide-banner-img1">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pb0 slide" alt="Bootstrap Touch Slider">
                    <div class="slide-banner1">
                        <a href="/product/show.html?code=FIN-CDK">
                            <div class="container slide-banner-img2"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pb0 slide" alt="Bootstrap Touch Slider">
                    <div class="slide-banner1">
                        <a href="/product/show.html?code=FIN-HMD">
                            <div class="container slide-banner-img3"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pb0 slide" alt="Bootstrap Touch Slider">
                    <div class="slide-banner1">
                        <a href="#">
                            <div class="container slide-banner-img4"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg1">
    <div class="container" style="padding: 60px 0px;">
        <!--<div class="about-title tc">产品优势</div>-->
        <p class="mt20 index-product"></p>
    </div>
</div>
<div class="lj-product-bg">
    <div class="container" style="padding: 90px;">
        <div class="about-title tc col4 important">了解我们的产品</div>
        <ul class="clearfix lj-product">
            <li>
                <i><img src="/static/website/images/icon/icon-1.png"/></i>
                <div>
                    <h1>多头客</h1>
                    <p>高效精准的识别多家平台<br/>注册的客户并附详细报告</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-2.png"/></i>
                <div>
                    <h1>通过客</h1>
                    <p>详细的报表反馈已通过平<br/>台注册并放款的客户信息</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-3.png"/></i>
                <div>
                    <h1>拒贷客</h1>
                    <p>识别出被平台拒绝过贷款<br/>的历史记录及其详细信息</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-4.png"/></i>
                <div>
                    <h1>优良客</h1>
                    <p>统计出数据库内信贷中无<br/>不良记录的优质客户报表</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-5.png"/></i>
                <div>
                    <h1>常欠客</h1>
                    <p>详细记录客户借贷历史中<br/>逾期次数时间和逾期天数</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-6.png"/></i>
                <div>
                    <h1>黑名单</h1>
                    <p>挖掘出数据库中逾期天数达<br/>到过90天的客户信息</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="bg1 pt40">
    <div class="container" style="padding: 70px;">
        <div class="about-title tc">技术优势</div>
        <div class="wrap m15 mt25">
            <ul class="indextab-list mt20" style="height: 220px;">
                <li class="clearfix indextab-nav">
                    <span class="fl w40"><img src="/static/website/images/img1.png"/></span>
                    <div class="fr w55">
                        <h1>专业大数据挖掘团队</h1>
                        <p>灵活扩展分析能力，开放平台接口，实时访问数据，
                            无缝对接三方系统，实现企业端到端的深度分析需求。</p>
                    </div>
                </li>
                <li class="clearfix indextab-nav">
                    <span class="fl w40"><img src="/static/website/images/img2.png"/></span>
                    <div class="fr w55">
                        <h1>资深平台架构师</h1>
                        <p>一群经验丰富的架构师保证我们平台服务器负载均衡，为我们的服务提供稳定、安全的保障</p>
                    </div>
                </li>
                <li class="clearfix indextab-nav">
                    <span class="fl w40"><img src="/static/website/images/img3.png"/></span>
                    <div class="fr w55">
                        <h1>团结合作的攻城“狮”</h1>
                        <p>我们极具团队精神，单个可独当一面，合作可横扫八方。个个都是行业的顶尖人才，高效的执行力和优秀的创造力形成了团队精神风貌。</p>
                    </div>
                </li>
                <li class="clearfix indextab-nav">
                    <span class="fl w40"><img src="/static/website/images/img4.png"/></span>
                    <div class="fr w55">
                        <h1>7*24h技术反馈机制</h1>
                        <p>时刻检测，及时发现，快速反馈。形成良好的服务机制，让客户使用的过程中体验100%的产品性能。</p>
                    </div>
                </li>
            </ul>
            <div class="indextab-name clearfix">
                <ul class="indextab clearfix">
                    <li class="active"><span><img src="/static/website/images/icon/icon-7.png"/></span></li>
                    <li><span><img src="/static/website/images/icon/icon-8.png"/></span></li>
                    <li><span><img src="/static/website/images/icon/icon-9.png"/></span></li>
                    <li><span><img src="/static/website/images/icon/icon-10.png"/></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="index-new-bg">
    <div class="container" style="padding: 60px 0px;">
        <div class="about-title tc col4 important">新闻动态</div>
        <ul class="clearfix index-new mt40" id="newsList"></ul>
        <p class="index-button tc mt40"><a href="news.html">更多新闻</a></p>
    </div>
</div>

<div th:include="website/common :: footer"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.unveil.min.js"></script>
<script type="text/javascript" src="/static/business/website-index.js"></script>
<script>
    $(function() {
        $("#page-index").addClass("active");
        $(".indextab").on("mouseover", "li", function() {
            // 设index为当前点击
            var index = $(this).index();
            // 点击添加样式利用siblings清除其他兄弟节点样式
            $(this).addClass("active").siblings().removeClass("active");
            // 同理显示与隐藏
            $(this).parents(".wrap").find(".indextab-list li").eq(index).show().siblings().hide();
        });
    });
</script>
</body>
</html>
