<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>明动官网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="明动官网"/>
    <meta name="keywords" content="明动官网"/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link href="/static/website/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/website/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>
    <link href="/static/website/css/bootstrap-touch-slider.css" rel="stylesheet" media="all"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/static/website/images/icon/apple-touch-icon-precomposed.png"/>
    <link rel="shortcut icon" href="/static/website/images/icon/favicon.png"/>
</head>

<body class="index-body">

<div th:include="website/common :: top"></div>

<div class="pb0">
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel"
         data-pause="hover" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="pb0 slide" alt="Bootstrap Touch Slider">
                    <div class="slide-banner1">
                        <div class="container slide-banner-img1">
                            <p class="slide-banner-font1">金融大数据诚信API</p>
                            <p class="slide-banner-font2">大数据的终极解决方案</p>
                            <p class="slide-banner-font3">分布式大数据分析</p>
                            <p class="slide-banner-font4 mt40"><span>立即查看</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/website/images/banner2.png" alt="Bootstrap Touch Slider" class="slide-image"/>
            </div>
            <div class="item">
                <img src="/static/website/images/banner1.png" alt="Bootstrap Touch Slider" class="slide-image"/>
            </div>
        </div>
    </div>
</div>
<div class="bg1">
    <div class="container" style="padding: 60px;">
        <div class="about-title tc">产品优势</div>
        <p class="mt20"><img src="/static/website/images/produt.png"/></p>
    </div>
</div>
<div class="lj-product-bg">
    <div class="container" style="padding: 90px;">
        <div class="about-title tc col4 important">了解我们的产品</div>
        <ul class="clearfix lj-product">
            <li>
                <i><img src="/static/website/images/icon/icon-1.png"/></i>
                <div>
                    <h1>多头客识别</h1>
                    <p>速贷、高效识别在别<br/>的平台借贷用户</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-2.png"/></i>
                <div>
                    <h1>多方向API</h1>
                    <p>多平台用户数据综合大数据<br/>分析API接口</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-3.png"/></i>
                <div>
                    <h1>数据综合集成</h1>
                    <p>用户数据综合分析统计，<br/>集成数据分析</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-4.png"/></i>
                <div>
                    <h1>分析辅助工具</h1>
                    <p>速贷、高效识别在别<br/>的平台借贷用户</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-5.png"/></i>
                <div>
                    <h1>数据云计算</h1>
                    <p>多平台用户数据综合大数据<br/>分析API接口</p>
                </div>
            </li>
            <li>
                <i><img src="/static/website/images/icon/icon-6.png"/></i>
                <div>
                    <h1>多平台分析集成</h1>
                    <p>多平台用户数据综合大数据<br/>分析API接口</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="bg1 pt40">
    <div class="container" style="padding: 70px;">
        <div class="about-title tc">技术优势</div>
        <div class="wrap m15 mt25">
            <ul class="indextab-list mt20">
                <li class="clearfix indextab-nav">
                    <span class="fl w40"><img src="/static/website/images/img1.png"/></span>
                    <div class="fr w55">
                        <h1>专业大数据挖掘团队</h1>
                        <p>灵活扩展分析能力，开放平台接口，实时访问数据，
                            无缝对接三方系统，实现企业端到端的深度分析需求。</p>
                    </div>
                </li>
                <li class="clearfix indextab-nav">
                    <span class="fl w40"><img src="/static/website/images/img2.png"/></span>
                    <div class="fr w55">
                        <h1>经验丰富架构师</h1>
                        <p>服务器负载均衡提供稳定保障</p>
                    </div>
                </li>
                <li class="clearfix indextab-nav">
                    <span class="fl w40"><img src="/static/website/images/img3.png"/></span>
                    <div class="fr w55">
                        <h1>一群强壮的攻城狮</h1>
                        <p>能攻克一切难题</p>
                    </div>
                </li>
                <li class="clearfix indextab-nav">
                    <span class="fl w40"><img src="/static/website/images/img4.png"/></span>
                    <div class="fr w55">
                        <h1>7*24h技术反馈机制</h1>
                        <p>发现问题及时处理</p>
                    </div>
                </li>
            </ul>
            <div class="indextab-name clearfix">
                <ul class="indextab clearfix">
                    <li class="active"><span><img src="/static/website/images/icon/icon-7.png"/></span></li>
                    <li><span><img src="/static/website/images/icon/icon-8.png"/></span></li>
                    <li><span><img src="/static/website/images/icon/icon-9.png"/></span></li>
                    <li><span><img src="/static/website/images/icon/icon-10.png"/></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="index-new-bg">
    <div class="container" style="padding: 60px 0px;">
        <div class="about-title tc col4 important">新闻动态</div>
        <ul class="clearfix index-new mt40" id="newsList">

        </ul>
        <p class="index-button tc mt40"><a href="news.html">更多新闻</a></p>
    </div>
</div>

<div th:include="website/common :: footer"></div>

<script src="/static/website/js/jquery.min.js"></script>
<script src="/static/website/js/jquery.unveil.min.js"></script>
<script src="/static/website/js/toc.min.js"></script>
<script src="/static/website/js/bootstrap.min.js"></script>
<script src="/static/business/website-index.js"></script>
<script>
    $(function() {
        $("#page-index").addClass("active");
        $(".indextab").on("mouseover","li",function(){
            // 设index为当前点击
            var index = $(this).index();
            // 点击添加样式利用siblings清除其他兄弟节点样式
            $(this).addClass("active").siblings().removeClass("active");
            // 同理显示与隐藏
            $(this).parents(".wrap").find(".indextab-list li").eq(index).show().siblings().hide();
        });
    });
</script>
</body>
</html>
