<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8"/>
    <title>明动官网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="明动官网"/>
    <meta name="keywords" content="明动官网"/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link href="/static/website/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/website/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>
    <link href="/static/website/css/bootstrap-touch-slider.css" rel="stylesheet" media="all"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/static/website/images/icon/apple-touch-icon-precomposed.png"/>
    <link rel="shortcut icon" href="/static/website/images/icon/favicon.png"/>
</head>

<body class="index-body">
<div class="navbar navbar-inverse mb0 header1"><!--navbar-fixed-top -->
    <div class="container header-mt10">
        <div class="navbar-header">
            <a class="navbar-brand hidden-sm navbar-logo" href="index.html"><i class="header-logo"></i></a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                <li><a href="product.html">热门产品</a></li>
                <li><a href="#">解决方案</a></li>
                <li><a href="news.html">新闻动态</a></li>
                <li><a href="about.html">关于元数据</a></li>
            </ul>
            <ul class="fr mt15">
                <a href="login.html" class="login-btn">登录</a>
            </ul>
        </div>
    </div>
</div>
<!--轮播-->
<div class="pb0">
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel"
         data-pause="hover" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper For Slides -->
        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Second Slide -->
            <div class="item active">
                <img src="/static/website/images/banner1.png" alt="Bootstrap Touch Slider" class="slide-image"/>
                <div class="bs-slider-overlay"></div>
            </div>
            <!-- End of Slide -->

            <!-- Third Slide -->
            <div class="item">
                <img src="/static/website/images/banner2.png" alt="Bootstrap Touch Slider" class="slide-image"/>
                <div class="bs-slider-overlay"></div>
            </div>
            <!-- End of Slide -->

            <!-- Third Slide -->
            <div class="item">
                <img src="/static/website/images/banner1.png" alt="Bootstrap Touch Slider" class="slide-image"/>
                <div class="bs-slider-overlay"></div>
            </div>
            <!-- End of Slide -->
            <!-- Third Slide -->
            <!-- <div class="item">
              <img src="images/banner4.png" alt="Bootstrap Touch Slider"  class="slide-image"/>
              <div class="bs-slider-overlay"></div>
            </div> -->
            <!-- End of Slide -->

        </div><!-- End of Wrapper For Slides -->
    </div>
</div>
<!--轮播 end-->

<!--接口下载-->
<div class="api-bg">
    <div class="container pt40 pb30">
        <h3 class="title">API<span>接口下载</span></h3>
        <ul class="row index-api">
            <li class="col-lg-3 col-sm-3 col-md-3 col-xs-6">
                <img src="/static/website/images/msg-api.png"/>
                <p>短信API</p>
                <div class="download">
                    <a href="api-4/短信接口API3.3.rar">
                        <img src="/static/website/images/download.png"/>
                        <p>点击下载</p>
                    </a>
                </div>
            </li>
            <li class="col-lg-3 col-sm-3 col-md-3 col-xs-6">
                <img src="/static/website/images/mms-api.png"/>
                <p>彩信API</p>
                <div class="download">
                    <a href="api-4/彩信接口API3.1.zip">
                        <img src="/static/website/images/download.png"/>
                        <p>点击下载</p>
                    </a>
                </div>
            </li>
            <li class="col-lg-3 col-sm-3 col-md-3 col-xs-6">
                <img src="/static/website/images/voice-api.png"/>
                <p>语音</p>
                <div class="download">
                    <a href="api-4/语音接口API3.1 .zip">
                        <img src="/static/website/images/download.png"/>
                        <p>点击下载</p>
                    </a>
                </div>
            </li>
            <li class="col-lg-3 col-sm-3 col-md-3 col-xs-6">
                <img src="/static/website/images/international-api.png"/>
                <p>国际短信</p>
                <div class="download">
                    <img src="/static/website/images/download.png"/>
                    <p>点击下载</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--接口下载 end-->

<!--footer-->
<footer class="footer">
    <div class="container ">
        <div class="row">
            <div class="f-links col-lg-2 col-sm-2 col-md-2">
                <p>友情连接</p>
                <ul class="mt15">
                    <li><a href="http://www.renrunkeji.com/?fromwdkj" target="_blank">仁润金融系统开发</a></li>
                    <li><a href="http://www.dsdatas.com" target="_blank">大圣数据</a></li>
                    <li><a href="http://www.pptv.com/" target="_blank">PPTV聚力</a></li>
                    <li><a href="http://www.shitouke.cn/" target="_blank">石头客</a></li>
                    <li><a href="http://www.mcsilk.com/" target="_blank">美绸科技</a></li>
                </ul>
            </div>
            <div class="f-links col-lg-4 col-sm-4 col-md-4">
                <p>联系方式</p>
                <ul class="mt15">
                    <li>地址：杭州市拱墅区中国. 智慧信息产业园G座5层</li>
                    <li>E-mail：movek@movek.net</li>
                    <li>http://www.movek.net</li>
                    <li>售前支持：0571-87955351</li>
                    <li>售后支持：0571-86875051</li>
                    <li>邮编：310015</li>
                </ul>
            </div>
            <div class="f-links col-lg-3 col-sm-3 col-md-3 mt25">
                <p class="fw-3 fz-20 important pb20 tc">公司总机：0571-87955351</p>
                <p><img src="/static/website/images/tel.png"/></p>
            </div>
            <div class="f-links col-lg-2 col-sm-2 col-md-2">
                <p class="tc">添加沃动公众号</p>
                <p class="mt10"><img src="/static/website/images/ewm.png"/></p>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-icp">
    <div class="container tc">
        COPYRIGHT 2009 杭州沃动科技有限公司 全网SP证B2-20150887浙ICP备11009817号 版权所有，未经许可，任何个人或者公司都不得翻版镜像复制，违者必究
    </div>
</footer>
<!--在线客服-->
<!--   <div class="fixedBox">
    <ul class="fixedBoxList">
      <li class="fixeBoxLi Service">
      <i></i>
        <div class="ServiceBox">
          <em></em>
          <div class="bjfff"></div>
            <P class="p2"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2885540004&site=qq&menu=yes"><img border="0" src="images/icon/qq-sq.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></P>
            <P class="p2 mt5"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2885540001&site=qq&menu=yes"><img border="0" src="images/icon/qq-sh.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></P>
            <p class="p2 mt5"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2885539934&site=qq&menu=yes"><img border="0" src="images/icon/qq-js.png" alt="点击这里给我发消息" title="点击这里给我发消息" /></a></p>
            <p><img border="0" src="images/icon/400.png"/></p>
        </div>
      </li>
      <li class="fixeBoxLi Service">
        <i class="weixin-icon"><img src="images/icon/weixin.png"></i>
        <div class="ServiceBox weixin-icon-nav">
          <div class="bjfff"></div>
            <P class="p2"><img src="images/ewm.png" style="width: 121px;"></P>
            <p class="tc weixin-title">微信公众号</p>
        </div>
      </li>
      <li class="fixeBoxLi Service">
        <i class="sina-icon"><a href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=真实的appkey',u=z||d.location,p=['&url=',e(u),'&title=',e(t||d.title),'&source=',e(r),'&sourceUrl=',e(l),'&content=',c||'gb2312','&pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','图片链接|默认为空','标题|默认当前页标题','内容链接|默认当前页location','页面编码gb2312|utf-8默认gb2312'));" target="_blank"><img src="images/icon/sina.png"></a></i>
      </li>
    </ul>
  </div> -->
<!--在线客服 end-->
<div style="position:absolute;top:-1000px;left:-1000px;"><a href="http://www.365webcall.com/">在线客服 客服软件</a></div>
<div style="position:absolute;top:-1100px;left:-1100px;"><a href="http://www.365webcall.com/">在线客服系统</a></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/website/js/jquery.min.js"></script>
<script src="/static/website/js/bootstrap.min.js"></script>
</body>
</html>
