<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link href="/static/website/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/website/images/icon/favicon.png"/>
</head>

<body>

<div th:include="website/common :: top"></div>

<div class="bg1 pt40 pb40">
    <div class="container">
        <div class="row">

            <div th:include="website/news-common :: left"></div>

            <div class="col-xs-12 col-sm-6 col-md-10 pl40 pr40 new-list-right" >
                <div class="bg2 p10"><h1 class="head-title">法律申明</h1></div>
                <h2 class="mt20 important pl10" ></h2>
                <p class="col2 fz-16  pl10" ></p>
                <div class="new-inf pl10" >
                    <div class="xy-nav-warp">
                        <p>本网站属于公司网站，任何组织和个人不得非法复制、抄袭，或为任何未经允许的商业目的使用本网站及其内容。如果本网站所有者确定用户行为违法或有损网站利益，则将保留采取相关法律行为的权利。</p>

                        <p>本网站努力确保本网站自身发布的信息、资料等内容的真实性和准确性，
                            本网站可能通过网页上的链接向用户提供来自其它网站的内容及服务。本网站对这些网站及其内容不进行控制，也不负任何责任。请用户在使用该类网站所提供的服务时注意浏览这些网站的相关规定，并自行判断可能带来的结果和风险，以决定是否使用这些网站提供的内容或服务。</p>

                        <h2>1.用户信息</h2>

                        <p>当用户浏览本网站时，本网站的系统将自动收集用户的IP地址及网站浏览信息。这些信息有助于我们在整体基础上评估我们的网站浏览者以及用户如何使用、浏览
                            我们的网站，包括浏览者和用户对每一网页的访问次数、频率和浏览时间。通过收集上述信息，我们将进行流量统计，从而改进网站的管理和服务。</p>

                        <h2>信息安全</h2>

                        <p>本网站将对用户所提供的资料进行严格的管理及保护，并将使用相应的技术措施（例如设置服务器备份数据和对用户密码加密等），防止用户的个人资料丢失、被盗
                            用或遭窜改。如因不可抗力或计算机病毒感染、黑客攻击等特殊原因，导致用户信息被破坏、泄密并受到损失的，本网站将采取必要措施尽力减少用户的损失，但本 网站对此不承担任何责任。</p>

                        <h2>用户权利</h2>

                        <p>用户可通过本网站的相关网页查看、更新并修改提供给本网站的个人信息，也可以要求本网站删除该信息。</p>

                        <h2>2.免责</h2>

                        <p>本网站所发布的信息中可能没有包含与元数据及其业务有关的最新信息，对于本网站所发布的信息，本公司不声明或保证其内容之正确性或完整性；本网站转载的相关文章、资料中表述或暗示的观点不代表元数据的观点。本网站对本网站上所有由第三方提供的信息、内容和服务，不提供明示或暗示的担保；本网站对使用上述信息、内容和服务所造成的任何损失不承担责任，包括直接损失和间接损失。</p>

                        <h2>3.适用法律</h2>

                        <p>网站元数据（网址：www.matedata.net）由杭州明动科技运营和控制，适用中华人民共和国法律。我们保留随时更改我们的网站和上述免责及条款的权利</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:include="website/common :: footer"></div>

<script src="/static/website/js/jquery.min.js"></script>
<script>
    $(function() {
        $("#page-news-law").addClass("active");
        $("#page-news").addClass("active");
    });
</script>
</body>
</html>
