<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/images/icon/favicon.png"/>
</head>

<body>

<div th:include="website/common :: top"></div>

<div class="bg1 pt40 pb40">
    <div class="container">
        <div class="row">

            <div th:include="website/news-common :: left"></div>

            <div class="col-xs-12 col-sm-6 col-md-10 pl40 pr40 new-list-right" >
                <div class="bg2 p10"><h1 class="head-title">隐私协议</h1></div>
                <h2 class="mt20 important pl10" ></h2>
                <p class="col2 fz-16  pl10" ></p>
                <div class="new-inf pl10" >
                    <div class="xy-nav-warp">
                        <p>
                            元数据（以下或称“我们”）尊重并保护您的隐私，您使用我们的产品和服务时，我们将按照本隐私权政策（以下简称“本政策”）收集、使用及分享您的个人信息。同时，我们会通过本政策向您说明，我们如何为您提供访问、更新、控制和保护您的信息。本政策与您使用元数据产品和服务关系紧密，我们建议您仔细阅读并理解本政策全部内容，做出您认为适当的选择。我们努力用通俗易懂、简明扼要的文字表达，并对本政策中与您的权益有重大关系的条款，采用粗体字进行标注，以提示您注意。如您对本政策存在任何疑问，或任何相关的投诉、意见，请联系我们。</p>

                        <p>我们收集、存储、使用、分享您的信息是出于遵守国家法律法规的规定以及向您提供产品和服务及提升产品和服务质量的目的（如支持我们开发新产品或完善已有产品功能，为您提供和推荐更为优质或适合的产品和服务等）。若您向我们提供了本政策中列明的信息，您可享受更优质、更便捷的服务，让我们更好地保护您的账户及资金安全，避免因我们无法及时与您取得联系而产生对您不利的影响等。您可以不向我们提供我们要求的个人信息，但在许多情况下，如果您选择不提供，我们可能无法为您提供产品和服务，或者无法达到既定的产品和服务质量。</p>

                        <h2>我们如何收集个人信息</h2>


                        <p>当您使用元数据产品和服务时，您会主动向我们提供一些信息；我们也会在下列情形下收集和保存您的信息：</p>

                        <p>1、为了遵守法律法规及监管规定，以及向您提供更个性化、更便捷的产品和服务，我们需要收集您的个人信息。例如在您注册元数据账户或使用元数据提供的各项产品和服务时，您可能要向我们提供一些个人信息，或授权我们向合法存有您信息的第三方收集您的个人信息，视适用场景不同,可能包括您的有效身份证件、联系方式、从事职业、通讯地址、姓名、地址、电话号码和电子邮件、生物特征信息中的一项或多项。如果您不使用我们的某些服务，您可以选择不向我们提供相关信息。</p>

                        <p>2、您使用的元数据产品和服务需与您的银行账户或其他支付工具的账户关联方能实现的，您需要向我们提供关联所需的必要信息。</p>

                        <p>3、为便于您查询您的交易状态或历史记录，也为了遵守法律法规及监管规定，我们会保存您使用元数据产品和服务时产生或提交的信息，我们会在向您提供产品和服务所必须的期限或法律法规要求的期限内，对您的信息进行妥善保管。</p>

                        <p>4、为了向您提供产品和服务，并尽可能保证这些产品和服务的安全，我们需要获得提供该产品和服务所必要的个人信息， 并从其他向您提供服务的元数据各公司和合作伙伴处获得您的信息作为补充。</p>

                        <p>5、为了保障您的资金安全、个人信息安全，当您访问元数据的网站、元数据的移动设备客户端或使用元数据提供的产品和服务时，我们可能会记录您使用的服务类别和方式、使用产品和服务时的操作相关信息，如您的IP地址、移动设备所使用的版本和设备识别码、设备标识符、您的位置以及其他与元数据产品和服务相关的日志信息。除上述信息外，我们还可能为了提供产品和服务及改进产品和服务质量的合理需要而收集您的其他信息，与此同时，为提高您使用元数据提供的产品和服务的安全性，更准确地预防钓鱼网站、欺诈和木马病毒，我们可能会通过了解一些您的网络使用习惯、您常用的软件信息等手段来判断风险，并可能会记录一些我们认为有风险的URL、APP或软件。但如果您不提供这些信息，将不会影响使用元数据产品和服务的基本功能，但可能影响您享受这些产品和服务的质量和信息安全。</p>

                        <p>6、当我们要将信息用于本政策未载明的，且超出本政策中列明用途直接或合理关联范围的其他用途时，会事先征求您的同意。</p>

                        <p>7、当我们要将基于特定用途收集而来的信息，超出与原有用途直接或合理关联的范围用于其他目的时，会事先征求您的同意。</p>

                        <h2>我们如何使用Cookie、Beacon、Proxy等技术</h2>


                        <p>为使您获得更轻松的访问体验，您访问元数据的网站或使用元数据提供的产品和服务时，我们可能会通过小型数据文件识别您的身份，这么做可帮您省去重复输入注册信息的步骤，或者帮助判断您的账户安全。这些数据文件可能是Cookie，Flash Cookie，或您的浏览器或关联应用程序提供的其他本地存储（统称“Cookie”）。请您理解，我们的某些产品和服务只能通过使用Cookie才可得到实现。如果您的浏览器或浏览器附加服务允许，您可以修改对Cookie的接受程度或者拒绝我们的Cookie。多数浏览器上工具条中的帮助部分会告诉您怎样防止您的浏览器接受新的Cookies，怎样让您的浏览器在您收到一条新Cookies时通知您或者怎样彻底关闭Cookies。此外，您可以通过改变浏览器附加程序的设置，或通过访问提供商的网页，来关闭或删除浏览器附加程序使用的类似数据（诸如Flash Cookies）。但前述操作在某些情况下可能会影响您安全访问元数据的网站和使用元数据提供的产品和服务。</p>

                        <p>我们网站上还可能包含一些电子图象（称为“单像素GIF文件”或“网络Beacon”），使用网络Beacon可以帮助网站计算浏览网页的用户或访问某些Cookie，我们会通过网络Beacon收集您浏览网页活动的信息，例如您访问的页面地址、您先前访问的援引页面的位置、您的浏览环境以及显示设定。</p>

                        <p>为使您获得更安全的访问体验，如您通过我们的网站或客户端，使用了由第三方而非元数据提供的产品和服务时，我们无法保证这些第三方主体会按照我们的要求采取保护措施，为尽力确保您的账号安全，我们可能会使用专用的网络协议及代理技术（称为“专用网络通道”、“网络代理”）。使用专用网络通道，可以帮助您识别到元数据已知的高风险站点，减少由此引起的钓鱼、账号泄露等风险，同时更有利于保障您和第三方的共同权益，阻止不法分子篡改您和第三方期望的服务内容，例如不安全路由器、非法基站等引起的广告注入、非法内容篡改等。在此过程中，我们也可能会获得和保存关于您计算机的相关信息，比如IP地址、硬件ID等。</p>

                        <h2>我们如何存储和保护个人信息</h2>

                        <p>1、除本政策另有约定外，我们在中华人民共和国境内收集和产生的个人信息，将存储在中华人民共和国境内。为了让您在境外旅游、购物、退税等跨境业务中享受到更便捷、安全、符合各国法律法规的产品和服务，并在符合适用的法律法规及监管政策的前提下，我们可能会将您的个人信息存储在中华人民共和国境外，针对以上情形，我们确保依据本政策对您的个人信息提供保护。</p>

                        <p>2、我们仅在本政策所述目的所必需的期间和法律法规要求的期限内保留您的个人信息，到期后会对您使用元数据产品和服务时产生或提交的个人信息予以删除或匿名化处理。</p>

                        <p>3、我们承诺我们将使信息安全保护达到合理的安全水平。为保障您的信息安全，我们致力于使用各种安全技术及配套的管理体系来防止您的信息被泄露、毁损或者丢失，如通过网络安全层软件（SSL）进行加密传输、信息加密存储、严格限制数据中心的访问、使用专用网络通道及网络代理。</p>

                        <p>4、请您理解，由于技术水平限制及可能存在的各种恶意手段，有可能因我们可控范围外的因素而出现问题。我们将按照法律法规的要求，在不幸发生个人信息安全事件后，及时向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。我们将及时将事件相关情况以邮件、信函、电话或推送通知方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。同时，我们还将按照监管部门要求，主动上报个人信息安全事件的处置情况。</p>

                        <p>5、如我们停止运营，我们将及时停止收集您个人信息的活动，将停止运营的通知以逐一送达或公告的形式通知您，对所持有的个人信息进行删除或匿名化处理。</p>

                        <h2>我们如何使用个人信息</h2>

                        <p>为了遵守国家法律法规及监管规定，以及向您提供产品和服务及提升服务质量，我们会在以下情形使用您的信息：</p>

                        <p>1、向您提供元数据的各项产品和服务，并维护、改进这些产品和服务。</p>

                        <p>2、验证信息的准确性，与第三方进行交叉验证。例如，将您向我们提交的身份信息交与身份验证服务机构进行验证。</p>

                        <p>3、为使您知晓自己使用元数据各项产品和服务的情况或了解元数据的服务，我们会向您发送服务状态的通知及其他商业性电子信息或向您提供与您更加相关的广告。如您不希望接收该等信息，您可通过短信进行退订，或按特定产品和服务中的指引或设置要求我们停止为这样的用途使用您的个人信息。</p>

                        <p>4、为提升您的产品和服务体验，或为防范风险，或者为您推荐更优质或更适合的产品和服务，我们会对您的信息进行汇总、综合统计、分析或加工。为了提升处理效率，降低处理成本，或提高处理准确性，我们可能会寻求专业的公司来提供这方面服务，同时我们会要求该公司遵守严格的保密义务及采取有效的保密措施，禁止其将这些信息用于未经您授权的用途。</p>

                        <p>5、为了安全防范、诈骗监测，对您的信息进行存档和备份。</p>

                        <p>6、经您许可的其他用途。</p>

                        <h2>我们如何分享个人信息</h2>

                        <p>我们承诺对您的信息进行保密。除本政策另有约定外，仅在下列情形下与第三方分享您必要的信息，同时我们将努力督促第三方在使用您的个人信息时遵守法律法规及我们要求其遵守的其他适当的保密义务和采取必要的安全措施：</p>

                        <p>1、向您提供我们的产品和服务。</p>

                        <p>2、实现“我们如何使用个人信息”部分所述目的。</p>

                        <p>3、如果您参与抽奖、竞赛或类似的推广活动，我们会将您提供的信息用于管理此类活动。若该活动是和第三方联合推广的，我们可能与其分享活动过程中产生的、为完成活动所必要的个人信息，如参加活动的用户数、中奖名单、中奖人联系方式等，以便第三方能及时向您发放奖品或为您提供产品和服务。</p>

                        <p>4、为遵守适用的法律法规及监管规定、维护社会公共利益，或保护我们的客户、元数据各公司或雇员的人身和财产安全或合法权益所合理必需的用途。</p>

                        <p>5、根据法律规定及合理商业习惯，在我们计划与其他公司合并或被其收购或进行其他资本市场活动（如IPO，债券发行等）时，以及其他情形下我们需要接受来自其他主体的尽职调查时，我们可能需要把您的信息提供给必要的主体，但我们会通过和这些主体签署保密协议等方式要求 其对您的个人信息采取合理的保密措施，并要求其在完成必要工作后在合理的期限内删除您的信息。</p>

                        <h2>您访问和控制自己的个人信息</h2>

                        <p>1、我们将采取适当的技术手段，保障您可以查询、更新和更正您的注册信息或使用我们产品和服务时向我们提供的其他个人信息。</p>

                        <p>2、在以下情形中，您可以向我们提出删除个人信息的请求：</p>

                        <p>如果我们处理个人信息的行为违反法律法规；</p>
                        <p>如果我们收集、使用您的个人信息，却未征得您的同意；</p>
                        <p>如果我们处理个人信息的行为违反了与您的约定；</p>
                        <p>如果我们不再为您提供产品或服务。</p>
                        <p>3、如您发现我们采集、储存的您的个人信息有错误的，您可以联系我们的客服电话要求更正。</p>

                        <p>4、响应您的上述请求：为保障安全，您可能需要提供书面请求，或以其他方式证明您的身份，然后我们再处理您的请求。</p>

                        <p>5、尽管有上述约定，但在以下情形中，按照法律法规或监管政策要求，我们将无法响应您的请求：</p>

                        <p>与国家安全、国防安全有关的；</p>
                        <p>与公共安全、公共卫生、重大公共利益有关的；</p>
                        <p>与犯罪侦查、起诉和审判等有关的；</p>
                        <p>有充分证据表明您存在主观恶意或滥用权利的；</p>
                        <p>响应您的请求将导致其他个人、组织的合法权益受到严重损害的。</p>


                        <h2>本政策的适用及修订</h2>

                        <p>本政策是元数据统一使用的一般性隐私条款，元数据所有的产品和服务均适用本政策。基于业务功能、使用规则、联络方式、保存地域变更或法律法规及监管要求，我们可能会适时对本政策进行修订。由于元数据的用户群过于庞大和分散，如修订造成重大变更，我们将在元数据官网或元数据旗下其他网站以公告的方式予以公布或向您发送电子邮件或以其他方式通知您。若您在本政策修订后继续使用元数据服务，这表示您已充分阅读、理解并接受修订后的本政策并愿意受修订后的本政策约束。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:include="website/common :: footer"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script>
    $(function() {
        $("#page-news-privacy").addClass("active");
        $("#page-news").addClass("active");
    });
</script>
</body>
</html>
