<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="left">
    <div class="col-xs-6 col-md-2 new-list-left">
        <p>新闻动态</p>
        <ul>
            <li class="new-list-child" id="page-news-business" onclick="window.location.href='news.html'"><a
                    href="javascript:">行业新闻
            </a></li>
            <li class="new-list-child" id="page-news-company" onclick="window.location.href='news-company.html'"><a
                    href="javascript:">公司动态</a></li>
        </ul>
        <p class="mt10">其他文档</p>
        <ul>
            <li class="new-list-child" id="page-news-use" onclick="window.location.href='news-use.html'"><a
                    href="javascript:">使用协议</a></li>
            <li class="new-list-child" id="page-news-privacy" onclick="window.location.href='news-privacy.html'"><a
                    href="javascript:">隐私协议</a></li>
            <li class="new-list-child" id="page-news-law" onclick="window.location.href='news-law.html'"><a
                    href="javascript:">法律声明</a></li>
        </ul>
    </div>
</div>

</body>
</html>