<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/website/images/icon/favicon.png"/>
</head>

<body>

<div th:include="website/common :: top"></div>

<div class="bg1 pt40 pb40">
    <div class="container">
        <div class="row">

            <div th:include="website/news-common :: left"></div>

            <div class="col-xs-12 col-sm-6 col-md-10 pl40 pr40 new-list-right">
                <div class="bg2 p10"><h1 class="head-title">使用协议</h1></div>
                <h2 class="mt20 important pl10" ></h2>
                <p class="col2 fz-16  pl10" ></p>
                <div class="new-inf pl10">
                    <div class="xy-nav-warp">
                        <p>欢迎使用元数据网站及服务。元数据网站指以元数据品牌提供互联网信息、产品和服务的网站（以下简称“网站”或“本网站”）。本网站及其服务是由杭州明动科技基于以下条款和条件提供。当您访问本网站或接受本网站提供的相关服务时，请务必认真阅读和理解本《服务条款》（以下简称“条款”）中规定的所有内容。我们向您（或称“用户”）提供的服务还需要您遵守其他条款及服务准则（包括但不限于使用帮助、隐私政策等），您应同时阅读了解。您访问、浏览本网站内容，或以勾选同意方式注册、登陆本网站，或以任何方式使用本网站提供的服务时，即表示您同意接受本条款以及其他条款和服务准则的约束。</p>

                        <h2>1.服务前提</h2>

                        <p>1.1 本网站及服务仅针对18周岁以上具有完全民事行为能力的自然人及依住所地法律合法登记并有效存续的企业提供。如您不符合资格，请勿继续使用元数据所提供的服务，并且，我们有权随时终止向您提供服务。</p>
                        <p>1.2 如果您使用本网站服务，您应向元数据提供现有的、完整的和准确的注册信息，以获取元数据向您提供的注册账户和密码。在服务使用期间，您承诺随时向元数据更新您的注册信息。元数据不会为错误的、虚假的或不完整的账户信息负责，并有权随时停止提供服务。</p>
                        <p>1.3 为了维护您的账户的保密性，您应采取必要措施限制对您的计算机或移动设备未经授权的使用/访问，并确保您的登陆密码未向任何第三方透露。您同意对在您的账户下或已登录的设备中发生的所有活动承担责任。账户及密码信息如有遗失或泄露，您有义务立刻通知元数据并更改密码，以保证您账户的安全性和正常使用。元数据不会对您账户密码的非授权使用所引起的任何损失、责任和权利主张承担责任。</p>

                        <h2>2.服务内容</h2>

                        <p>2.1 元数据的服务由元数据根据实际情况提供，在某些情况下，元数据许可用户以其元数据账号登录或使用元数据合作方运营的产品或服务。</p>
                        <p>2.2 元数据拥有向用户提供服务过程中所产生并存储于元数据系统中的任何数据（包括但不限于用户账号、IP地址、用户行为模型、设备指纹、高危账户、失信名单、欺诈信息库、地理位置库等数据）的所有权。用户依据本服务条款及元数据相关规定享有其账号的使用权，不得继承、赠与、转让或出租该账号的使用权。</p>
                        <p>2.3元数据仅提供相关的网络服务，除此之外与相关网络服务有关的上网设备（如电脑、调制解调器及其他互联网接入装置）及所需的费用（如为接入互联网而支付的电话费、上网费）均应由用户自行负担。</p>

                        <h2>3.服务形式</h2>

                        <p>3.1 您应当通过元数据提供或认可的方式使用本服务。您依本协议条款所取得的权利不可转让。</p>
                        <p>3.2 您不得使用未经元数据授权的插件、外挂或第三方工具对本协议项下的服务进行干扰、破坏、修改或施加其他影响。</p>

                        <h2>4.服务使用许可范围</h2>

                        <p>当您使用元数据所提供的各项服务时，除非另有约定，元数据在此授予您一项有限的、不可转让的、不可分包的、可撤销的许可，允许您使用由元数据提供的、包含在服务中的软件、平台或报告。除非法律禁止做出如下限制或您已获得元数据的书面许可。您不得：</p>
                        <p>(i) 转让、出售或出租元数据的服务或所含软件、平台或报告的任何部分；</p>
                        <p>(ii) 针对软件、平台和报告进行修改、编辑或创作衍生作品；</p>
                        <p>(iii) 传播或公共场合演示元数据的服务或所含软件、平台或报告；</p>
                        <p>(iv) 反向工程或其他行为试图获取该软件的源代码；</p>
                        <p>(v) 其他非本服务条款或双方书面确定的目的使用。您在此同意授权元数据可以在其网站、市场推广资料和新闻报道中无偿使用您的公司名称、商标、服务标志和/或商业标识进行相关的商业推广活动。</p>

                        <h2>5.服务费用</h2>

                        <p>元数据的服务均为收费服务。收费服务及收费方式详见各个产品页面介绍，并以双方最终达成的书面协议为准。</p>
                        <p>元数据保留随时更改收费方式和收费标准的权利，但对于已签署书面协议确定价格的除外。</p>

                        <h2>6.陈述&amp;保证</h2>

                        <p>您在使用本服务时，向元数据陈述并保证：</p>
                        <p>6.1 您已经获得充分必要的授权以接受本条款并履行本条款规定的义务；</p>
                        <p>6.2 当您使用元数据服务或者根据本服务条款允许元数据收集、存储、处理和使用从您的产品终端用户或您的其他合作伙伴获得的数据时，无论您是处于元数据试用或正式服务阶段，您均已经获得充分必要的授权、同意和许可，不会与您与第三方所签署的协议或文件冲突或构成对第三方权利的侵犯；若您的产品终端用户或您的合作伙伴向您撤销上述授权及许可时，您应当采取必要的技术手段，停止针对上述产品终端用户或合作伙伴使用本服务，并立即书面通知元数据。</p>
                        <p>6.3 您已经遵守并将持续遵守适用的法律、法规和监管要求，包括但不限于有关个人信息保护和隐私保护的相关政策。</p>

                        <h2>7.版权</h2>

                        <p>元数据服务所包含或提供的所有内容诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件都是元数据或其内容提供者的财产，受中国和国际版权法的保护。元数据上所提供使用的所有软件都是元数据或其软件供应商的财产，受中国和国际版权法的保护。同时，元数据尊重他人的知识产权。如果您认为相应信息对您的作品的使用已经构成版权侵犯，请通过公布于元数据的客服电话及时通知我们，我们将按照现行法律法规的规定的版权侵权投诉程序予以处理。</p>

                        <h2>8.商标权利</h2>

                        <p>本网站服务所包含或者提供的图表、标识、网页页眉、按钮图标、文字、服务品名均为元数据的商标、注册商标或商业外观。这些商标或商业外观不得以任何可能引起消费者混淆的方式或任何诋毁或诽谤元数据的方式用于与本网站或其关联公司无关联的任何商品或服务上。未经元数据的书面许可，本网站上的任何内容都不应被解释为以默许或其他方式授予许可或使用本网站上出现的商标的权利。</p>

                        <h2>9.隐私和信息收集</h2>

                        <p>作为您使用元数据服务的前提条件，您同意元数据有权根据其隐私政策收集、保留并以匿名性和不可识别的方式使用本服务所获得的数据。元数据的隐私政策详见"隐私政策" 为本服务条款的重要组成部分。您同意遵守您所在地适用的有关您产品终端用户数据收集和保护的法律和行业标准，并确保您使用我们的服务完全合乎该等法律及行业标准的规定。作为元数据分析服务的使用者，您必须制定、发布您的隐私政策并由您产品终端用户接受。该政策应不低于元数据的隐私保护标准，特别是：</p>
                        <p>(i) 告知您有第三方合作伙伴（即元数据）以及采用一定的技术手段收集、存储、处理和使用您的产品终端使用的数据，并说明该行为的必要性；</p>


                        <p>元数据始终在不断更改和改进其所提供的服务。元数据可能会增加或删除某项服务功能，也可能暂停或彻底停止某项服务。对于免费服务用户，您可以随时停止使用元数据的服务，元数据也可能随时停止向您提供服务，或随时对元数据的服务增加或设置新的限制。但是，对于收费服务用户，如果元数据变更或停止提供某项服务，则在可能的情况下，元数据会向用户发出合理的提前通知，并让用户获知和同意前述变更，并有机会备份和转移其留存在元数据中的数据（若出现服务停止的情形）。如用户违反其在本服务条款中的行为规范的，元数据有权随时终止向用户提供所述服务而无须事先通知。</p>
                        <h2>11.有限责任</h2>

                        <p>元数据负责按"现状"和"可得到"的状态向您提供服务。但元数据服务不作任何明示或暗示的保证，包括但不限于元数据服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，元数据也不对其服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。</p>
                        <p>元数据对由于政府行为譬如政策或法规的变更、自然灾害或战争、通讯线路中断、黑、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的力事件，以及他人蓄意破坏、正常的系统维护、系统升级，或者因网络拥塞而导致本网站不能访问而造成的本网供的信息及数据的延误、停滞或错误，以及使用者由此受到的一切损失不承担任何责任。</p>
                        <p>元数据不对用户信息的保存、修改、删除或储存失败负责。</p>
                        <h2>12.适用法律</h2>

                        <p>您同意本服务条款和使用条件以及您和元数据之间发生的任何争议均适用中华人民共和国法律。</p>

                        <h2>13.争议</h2>

                        <p>如双方就本服务条款以及元数据相关规定的内容和执行发生争议，双方应尽量友好协商解决；协商不成时，双方均有权向元数据（杭州明动科技有限公司）所在地的人民法院提起诉讼。</p>

                        <h2>14.条款修改和可分性</h2>

                        <p>为更好地提供服务并符合相关监管政策，我们可能随时修改上述条款。请您定期查阅本条款。我们会在网页上公布这些条款的修改通知，并列明最近的修改日期。如您不同意我们对相应条款作出的修改，您应立即停止使用元数据所提供的服务。如果本条款中任何一条被视为废止、无效或因任何理由不可执行，该使用条件应视为可分割的且不影响任何其余条款的有效性和可执行性。</p>

                        <h2>15.效力</h2>

                        <p>本服务条款是用户使用元数据相关服务的通用条款，一经用户接受服务即具有法律约束力，也是用户与元数据另行达成并签署的书面协议的重要组成部分。本条款内容与书面协议有冲突时，以书面协议约定为准。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:include="website/common :: footer"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script>
    $(function() {
        $("#page-news-use").addClass("active");
        $("#page-news").addClass("active");
    });
</script>
</body>
</html>
