<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="left">
    <div class="col-xs-6 col-md-2 new-list-left">
        <p>新闻动态</p>
        <ul>
            <li class="new-list-child" id="page-news-business"><a href="news.html">行业新闻</a></li>
            <li class="new-list-child" id="page-news-company"><a href="news-company.html">公司动态</a></li>
        </ul>
        <p class="mt10">其他文档</p>
        <ul>
            <li class="new-list-child" id="page-news-use"><a href="news-use.html">使用协议</a></li>
            <li class="new-list-child" id="page-news-privacy"><a href="news-privacy.html">隐私协议</a></li>
            <li class="new-list-child" id="page-news-law"><a href="news-law.html">法律申明</a></li>
        </ul>
    </div>
</div>

</body>
</html>