<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>
    <link href="/static/plugins/paging/css/paging-website.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/website/images/icon/favicon.png"/>
</head>

<body>

<div th:include="website/common :: top"></div>

<div class="pb0 sbg_top">
    <div class="product-banner-bg">
        <div class="container product-img2">
            <p class="product-banner-font1">热门产品</p>
            <p class="product-banner-font2">适用于 Java c# PHP .NET JSP 等开发的系统</p>
            <p class="product-banner-font3">元数据基于大数据分析出行业增长与行业问题，团队基于行业痛点，<br/>
                有目的的推出API服务。精准、快速、有效的解决行业问题，为客户创造价值！</p>
        </div>
    </div>
</div>
<div class="bg1 pt40">
    <div class="container">
        <div class="product-list-name">产品优势</div>
        <div class="wrap m15 mt25">
            <div class="blist-name clearfix">
                <span>产品类型：</span>
                <ul class="blist clearfix blist-height" id="blistCity">

                </ul>
                <em class="more cp" style="display: none;">更多
                    <i class="glyphicon glyphicon-chevron-down col3 fz-12 ml5"></i>
                </em>
            </div>
            <ul class="blsit-list mt20">
                <li class="product-list clearfix" id="productList"></li>
            </ul>
        </div>
        <div class="box pt40" id="pagination"></div>
    </div>
</div>

<div th:include="website/common :: footer"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/plugins/paging/js/paging-website.js"></script>
<script type="text/javascript" src="/static/business/website-product.js"></script>
<script>
    $(function() {
        $("#page-product").addClass("active");
    });
</script>
</body>
</html>
