<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <title>元数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="application-name" content="bootcss.com"/>
    <meta property="qc:admins" content="1603466166416277433363757477167"/>

    <!-- Site CSS -->
    <link href="/static/website/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/website/css/base.css" rel="stylesheet"/>
    <link href="/static/website/css/style.css" rel="stylesheet"/>
    <link href="/static/website/css/common.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/website/images/icon/favicon.png"/>
</head>

<body>

<div th:include="website/common :: top"></div>

<div class="pb0 sbg_top">
    <div class="product-banner">
        <div class="container product-banner-img">
            <p class="product-banner-font1">金融借贷解决方案</p>
            <p class="product-banner-font2">适用于 Java c# PHP .NET JSP 等开发的系统</p>
            <p class="product-banner-font3 w55">元数据基于大数据分析，利用智能算法对海量的人物行为数据进行分析建模，
                不断的优化和完善金融风控模型，为金融行业提供鉴别不良客户，识别骗贷，
                借款不还人群的工具API。客户接入API，简单一步就可以对借款人进行精准
                识别，防止骗贷发生。</p>
        </div>
    </div>
</div>
<!--<div class="programme-notice">
    <div class="container p10"><i class="icon notice mr10"></i>金融风控系列API优惠开抢</div>
</div>-->
<div class="bg1 pt40 pb40">
    <div class="container pb40">
        <div class="about-title tc">方案特点</div>
        <ul class="programme-list">
            <li>
                <img src="/static/website/images/icon/icon-11.png"/>
                <h1>定位精准</h1>
                <p>基于数据分析行业痛点基于<br/>痛点分析提出解决方案</p>
            </li>
            <li>
                <img src="/static/website/images/icon/icon-12.png"/>
                <h1>反应高速</h1>
                <p>超大带宽，多服务均衡分流，<br/>每一次的请求最快可达0.2s</p>
            </li>
            <li>
                <img src="/static/website/images/icon/icon-13.png"/>
                <h1>请求稳定</h1>
                <p>服务器采用分布式存储的微<br/>服务形式，轻松应对高并发请求。</p>
            </li>
            <li>
                <img src="/static/website/images/icon/icon-14.png"/>
                <h1>接入简单</h1>
                <p>http请求式接口，适用于各<br/>种web系统，调试配置十分简单</p>
            </li>
        </ul>
    </div>
</div>
<div class="programme-bg">
    <div class="container" style="padding: 60px 0px;">
        <ul class="row">
            <li class="col-md-3">
                <div class="public-title">多头借贷怎么办？</div>
                <div class="col4 fz-16 lh30 mt35 pl20">
                    通过数据分析，我们发现有些个人在一个时间段内快速的注册多个借贷平台，并且集中申请贷款，申请完后，逃之夭夭
                </div>
            </li>
            <li class="col-md-6"><img src="/static/website/images/programme-11.png"/></li>
            <li class="col-md-3">
                <div class="col4 fz-16 lh30 pl20" style="margin-top: 96%;">
                    我们为每个人的借贷行为都建立了信用标签，并且通过机器算法，及时地的优化，和标记，及时核对借款人借贷行为
                </div>
                <p class="index-button tc mt40"><a href="">进一步了解</a></p>
            </li>
        </ul>
    </div>
</div>
<div class="bg1 pt30 pb30">
    <div class="container" style="padding: 60px 0px;">
        <div class="row">
        <span class="col-md-5">
          <img src="/static/website/images/programme-22.png"/>
        </span>
            <div class="col-md-5">
                <h1 class="public-title2">只借不还怎么办？</h1>
                <div class="fz-16 col2 pl25 mt40 lh30">
                    <p>多个借款平台目前存在收款难得情况，解决这个问题在于借款时识别这些“老赖”。</p>
                    <p class="mt40">我们通过大数据对借款人的历史还款信息进行建模分析，让您拥有火眼金睛，精准识别老赖。</p>
                    <p class="public-button tl mt40"><a href="">进一步了解</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="programme-bg2">
    <div class="container" style="padding: 60px;">
        <div class="tc col4 important fz-36">还能做什么?</div>
        <ul class="clearfix programme-help">
            <li>
                <div class="img-title">
                    <p class="fz-22">多次被拒贷用户</p>
                    <p><img src="/static/website/images/icon/icon-15.png"/></p>
                </div>
                <div class="img-inf">
                    <p class="tl important">识别多个借款平台都没有给该用户借款</p>
                    <p class="tc mt20"><a href="">进一步了解</a></p>
                </div>
            </li>
            <li>
                <div class="img-title">
                    <p class="fz-22">多平台借款用户</p>
                    <p><img src="/static/website/images/icon/icon-16.png"/></p>
                </div>
                <div class="img-inf">
                    <p class="tl important">检测该用户是否已经被多个平台放款</p>
                    <p class="tc mt20"><a href="">进一步了解</a></p>
                </div>
            </li>
            <li>
                <div class="img-title">
                    <p class="fz-22">优良客户识别</p>
                    <p><img src="/static/website/images/icon/icon-17.png"/></p>
                </div>
                <div class="img-inf">
                    <p class="tl important">帮您识别出优良客户，创造更大价值。</p>
                    <p class="tc mt20"><a href="">进一步了解</a></p>
                </div>
            </li>
            <li>
                <div class="img-title">
                    <p class="fz-22">借款全息报告</p>
                    <p><img src="/static/website/images/icon/icon-18.png"/></p>
                </div>
                <div class="img-inf">
                    <p class="tl important">提供借款人在借贷方面的全息报告。</p>
                    <p class="tc mt20"><a href="">进一步了解</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container pb40">
    <p class="fz-26 tc col2 mt40">如您需了解详细信息或进行商务合作，<a href="" class="col1">请联系我们》</a></p>
    <p class="tc fz-20 col2 mt20">以上信息都进行了隐私保护措施</p>
</div>

<div th:include="website/common :: footer"></div>

<script src="/static/website/js/jquery.min.js"></script>
<script>
    $(function() {
        $("#page-programme").addClass("active");
    });
</script>
</body>
</html>
