<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="setting :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/setting/user.html">系统管理</a>
            <a href="/setting/articles.html">新闻动态</a>
            <a><cite>添加文章</cite></a>
        </div>
        <div class="p20">
            <form id="formData" enctype="multipart/form-data">
                <div class="w60 m30" id="data-div-id">
                    <input type="hidden" name="id" th:value="${id}"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>类别：</label>
                        <div class="layui-input-block w40">
                            <select name="type" class="select-list" style="width: 100%">
                                <option value="1">行业新闻</option>
                                <option value="2">公司动态</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>标题：</label>
                        <div class="layui-input-block w40">
                            <input type="text" id="title" name="title" class="layui-input" datames="标题" notnull="true"
                                   maxlength="16"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>作者：</label>
                        <div class="layui-input-block w40">
                            <input type="text" id="author" name="author" class="layui-input" datames="作者" notnull="true"
                                   maxlength="16"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>缩略图：</label>
                        <div class="layui-input-block w40">
                            <input type="file" id="upfile" name="upfile" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>简要说明：</label>
                        <div class="layui-input-block w40">
                        <textarea id="synopsis" name="synopsis" datames="简要说明" notnull="true"
                                  class="layui-textarea" maxlength="100"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>内容：</label>
                        <div class="layui-input-block">
                            <script id="content" name="content" type="text/plain" style="width:1024px;height:500px;"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>排序号：</label>
                        <div class="layui-input-block w40">
                            <input type="text" id="orderId" name="orderId" class="layui-input" datames="排序号"
                                   notnull="true" maxlength="8" onkeyup="this.value=this.value.replace(/[^\d]/g,'')"
                                   value="0"/><span style="color: blue;">排序号越大表示排在前面</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>发布时间：</label>
                        <div class="layui-input-block w40">
                            <input type="text" class="layui-input" id="publishTime" name="publishTime"
                                   readonly="readonly" placeholder="yyyy-MM-dd" lay-key="1" datames="发布时间"
                                   notnull="true"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>发布：</label>
                        <div class="layui-input-block layui-form">
                            <input type="radio" name="published" value="1" title="是" checked="checked"/>
                            <div class="layui-unselect layui-form-radio layui-form-radioed">
                                <i class="layui-anim layui-icon layui-anim-scaleSpring"></i><span>是</span>
                            </div>
                            <input type="radio" name="published" value="0" title="否"/>
                            <div class="layui-unselect layui-form-radio">
                                <i class="layui-anim layui-icon"></i><span>否</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="layui-form-item mt40">
                <div class="layui-input-block">
                    <a href="javascript:" class="layui-btn" onclick="saveData()">保存</a>
                    <a href="javascript:history.back(-1);" class="layui-btn">返回</a>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/js/validate.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.min.js"></script>
<script type="text/javascript" src="/static/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/plugins/ueditor/ueditor.all.min.js"></script>
<script>
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function(action) {
        if(action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadvideo' || action == 'uploadfile') {
            return '/ueditor/file';
        }
        else {
            return this._bkGetActionUrl.call(this, action);
        }
    }
    var ue = UE.getEditor('content');
</script>
<script type="text/javascript" src="/static/business/articles-add.js"></script>
</body>
</html>