<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
    <link href="/static/plugins/paging/css/paging.css" rel="stylesheet"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="product::top"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/setting/product.html">产品管理<span class="layui-box">&gt;</span></a>
            <a href="/setting/product.html">产品管理<span class="layui-box">&gt;</span></a>
            <a><cite>产品类别管理</cite></a>
        </div>
        <div class="p20">
            <div class="clearfix mt20"><span id="productclass" class="fr add-button cp">产品类别添加</span></div>
            <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                <thead>
                <tr>
                    <th>类别编号</th>
                    <th>产品类别名称</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="dataBody">
                </tbody>
            </table>
            <div class="box mt30" id="pagination"></div>
        </div>
    </div>


</div>

<div id="product-class" class="modal">
    <div class="layui-layer-title">类别添加</div>
    <div class="mb30">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>类型编号：</label>
                <div class="layui-input-block">
                    <input type="text" name="code" lay-verify="required" id="productCode" placeholder="请输入"
                           autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>类型名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" id="productName" placeholder="请输入"
                           autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注说明：</label>
                <div class="layui-input-block">
                        <textarea name="remark" placeholder="请输入内容" id="productRemark"
                                  class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="addProductCategory()">添加</button>
            </div>
        </div>
    </div>
</div>
<div id="edit-class" class="modal">
    <div class="layui-layer-title">类别编辑</div>
    <div class="mb30">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>类型编号：</label>
                <div class="layui-input-block">
                    <input type="text" name="code" value="" id="productCodeU" placeholder="请输入"
                           autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>类型名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="productNameU" placeholder="请输入"
                           autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注说明：</label>
                <div class="layui-input-block">
                        <textarea name="remark" placeholder="请输入内容" id="productRemarkU"
                                  class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" id="editId"/>
                <button class="layui-btn" onclick="updateProductCategory();">保存</button>
            </div>
        </div>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/plugins/paging/js/paging.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/business/product-category.js"></script>
</body>
</html>