<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
    <link rel="stylesheet" href="/static/kindeditor/themes/default/default.css"/>
    <link rel="stylesheet" href="/static/kindeditor/plugins/code/prettify.css"/>
    <script charset="utf-8" src="/static/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="/static/kindeditor/lang/zh-CN.js"></script>
    <script charset="utf-8" src="/static/kindeditor/plugins/code/prettify.js"></script>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="setting :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/">首页</a>
            <a href="/setting/product.html">产品列表</a>
            <a><cite>产品编辑</cite></a>
        </div>
        <div class="p20">
            <div class="w60 m30" id="data-div-id">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>产品分组：</label>
                    <div class="layui-input-block w40">
                        <span th:text="${custom}"></span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>产品类别：</label>
                    <div class="layui-input-block w40">
                        <span th:text="${type}"></span>
                    </div>
                    <input type="hidden" id="product-id" th:value="${id}"/>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>产品名称：</label>
                    <div class="layui-input-block w40">
                        <input type="text" id="product-name" autocomplete="off"
                               class="layui-input" th:value="${name}" datames="产品名称" notnull="true" maxlength="15"/>
                        <i class="col3 pl10" id="prodNameTip" style="display: none"></i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>成本价格（元）：</label>
                    <div class="layui-input-block w40">
                        <input type="text" id="product-cost" th:value="${costAmt}" placeholder="请输入" autocomplete="off"
                               class="layui-input" datatype="double2" datames="成本价格" notnull="true" maxlength="8"
                               style="width: 80%; display: inline-block;"/>
                        <i class="col3 pl10" id="costAmtTip" style="display: none"></i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>是否关闭：</label>
                    <div class="layui-input-block layui-form">
                        <input type="radio" name="product-enabled" value="1" title="开启" th:checked="${enabled} == 1"/>
                        <div class="layui-unselect layui-form-radio layui-form-radioed">
                            <i class="layui-anim layui-icon layui-anim-scaleSpring"></i><span>开启</span></div>
                        <input type="radio" name="product-enabled" value="0" title="关闭" th:checked="${enabled} == 0"/>
                        <div class="layui-unselect layui-form-radio">
                            <i class="layui-anim layui-icon"></i><span>关闭</span>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">产品介绍：</label>
                    <div class="layui-input-block">
                        <textarea id="product-txt" cols="100" rows="8" th:text="${content}"
                                  style="width:700px;height:200px;visibility:hidden;" title="产品介绍"
                                  maxlength="240"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block w40">
                        <textarea id="product-remark" th:text="${remark}" placeholder="请输入内容"
                                  class="layui-textarea" maxlength="20"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item mt40">
                <div class="layui-input-block">
                    <a href="javascript:" class="layui-btn" onclick="editProduct()">保存</a>
                    <a href="/setting/product.html" class="layui-btn" >返回</a>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/js/validate.js"></script>
<script type="text/javascript" src="/static/business/product-edit.js"></script>
</body>
</html>