<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="stats :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/stats/index.html">数据统计管理</a>
            <a href="/stats/index.html">运营数据管理</a>
            <a><cite>客户数据</cite></a>
        </div>
        <div class="p20 layui-form">
            <dl class="public-data">
                <dt class="mt0 important">客户数据</dt>
                <dd>
                    <ul class="public-data-list layui-row public-data-list1">
                        <li class="layui-col-md3">
                            <div class="fz-14">
                                <p class="fz-16 mt10 tc">7日新增（个）</p>
                                <p class="col4 mt20 tc fz-24" th:text="${clientCountByWeek}"></p>
                            </div>
                        </li>
                        <li class="layui-col-md3 ml30 mr30">
                            <div class="fz-14">
                                <p class="fz-16 mt10 tc">当月新增（个）</p>
                                <p class="col4 mt20 tc fz-24" th:text="${clientCountByMonthFrist}"></p>
                            </div>
                        </li>
                        <li class="layui-col-md3">
                            <div class="fz-14">
                                <p class="fz-16 mt10 tc">当前总量（个）</p>
                                <p class="col4 mt20 tc fz-24" th:text="${allClientCount}"></p>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="public-data">
                <dt>客户数据统计</dt>
                <dd class="layui-row">
                    <ul class="clearfix p10 product-fx-warp">
                        <li class="product-fx mt10 clearfix" id="scopeLiId">
                            <span class="active" otherVal="2">近7天</span>
                            <span otherVal="4">近30天</span>
                            <span otherVal="5">本季度</span>
                        </li>
                    </ul>
                    <input type="hidden" id="scopeType" name="scopeType" value="2"/>
                    <p class="tc pt20 pb20 col4 fz-16" id="chartTitleId"></p>
                    <div class="tc mt20 mb20" id="panel" style="height:500px;display: block;"></div>
                    <p class="slide"><a href="javascript:;" class="btn-slide">统计图</a></p>
                </dd>
            </dl>
            <dl class="public-data">
                <dt class="clearfix">
                    <span class="fr mb10">
                        <i class="col2 mr10">一次最多导出<em>1000</em>条</i>
                        <a href="javascript:" class="layui-btn fr layui-btn-normal" onclick="clientOutPrint()">导出</a>
                    </span>
                </dt>
                <table class="layui-table" id="data-table"></table>
            </dl>
        </div>
    </div>


</div>
<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/plugins/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="/static/business/stats-client.js"></script>
</body>

</html>