<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="stats :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/stats/index.html">数据统计管理</a>
            <a href="/stats/index.html">运营数据管理</a>
            <a><cite>产品请求数据</cite></a>
        </div>
        <div class="p20">
            <dl class="public-data">
                <dt class="mt0 important">产品请求数据</dt>
                <dd class="product-check m20 layui-row">
                    <div class="layui-col-xs6 product-data-br">
                        <table width="80%" class="lh50 tc margin-auto">
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="tc">今日</th>
                                <th class="tc">昨日</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>请求次数</td>
                                <td><span th:text="${todayCount}"></span></td>
                                <td><span th:text="${todayMissCount}"></span></td>
                            </tr>
                            <tr>
                                <td>未击中次数</td>
                                <td><span th:text="${yesterdayCount}"></span></td>
                                <td><span th:text="${yesterdayMissCount}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-col-xs6">
                        <table width="60%" class="lh50 tc margin-auto">
                            <thead>
                            <tr>
                                <th class="tc">本月</th>
                                <th class="tc">累计</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span th:text="${monthCount}"></span></td>
                                <td><span th:text="${monthMissCount}"></span></td>
                            </tr>
                            <tr>
                                <td><span th:text="${allCount}"></span></td>
                                <td><span th:text="${allMissCount}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>
            <dl class="public-data layui-form">
                <dt>产品请求数据统计</dt>
                <dd class="layui-row">
                    <ul class="clearfix p10 product-fx-warp">
                        <li class="product-fx mt10 clearfix" id="scopeLiId">
                            <span class="active" otherVal="2">近7天</span>
                            <span otherVal="4">近30天</span>
                            <span otherVal="5">本季度</span>
                        </li>
                    </ul>
                    <input type="hidden" id="scopeType" name="scopeType" value="2"/>
                    <ul class="search-list clearfix pb15 mt20">
                        <li>
                            <input type="text" name="name" id="name" placeholder="请输入：公司名称/公司简称" class="search-input"
                                   style="width: 240px"/>
                        </li>
                        <li>
                            <label class="layui-form-label">产品服务：</label>
                            <div class="layui-inline" style="width: 160px">
                                <select name="product" id="product" title="产品" lay-search="">
                                    <option value="">全部</option>
                                    <option th:each="o : ${productDict}" th:value="${o.key}"
                                            th:text="${o.value}"></option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button class="layui-btn" lay-submit="" lay-filter="search">查询</button>
                        </li>
                    </ul>
                    <div class="layui-row w60 margin-auto mt20 fb fz-16">
                        <span class="layui-col-md6 tc lh25 ">总请求次数：<i class="col3 fz-22" id="query-number"></i></span>
                        <span class="layui-col-md6 tc lh25">未击中次数：<i class="col3 fz-22" id="miss-number"></i></span>
                    </div>
                    <p class="tc pt20 pb20 col4 fz-16" id="chartTitleId"></p>
                    <div class="tc mt20 mb20" id="panel" style="height:500px;display: block;"></div>
                    <p class="slide"><a href="javascript:;" class="btn-slide">统计图</a></p>
                </dd>
            </dl>
            <dl class="public-data">
                <dt class="clearfix">
                    <span class="fr mb10">
                        <i class="col2 mr10">一次最多导出<em>1000</em>条</i>
                        <a href="javascript:" class="add-button" onclick="clientOutPrint()">导出</a>
                    </span>
                </dt>
                <table class="layui-table" id="data-table"></table>
            </dl>
        </div>
    </div>


</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/plugins/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="/static/business/stats-consumption.js"></script>
<script type="text/html" id="hittpl">
    {{# if(d.isHit === 1){ }}
    <div>击中</div>
    {{# } else { }}
    <div>未击中</div>
    {{# } }}
</script>
</body>
</html>