<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
    <link href="/static/plugins/paging/css/paging.css" rel="stylesheet"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="stats :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/stats/index.html">数据统计管理</a>
            <a href="/stats/index.html">运营数据管理</a>
            <a><cite>充值数据</cite></a>
        </div>
        <div class="p20">
            <dl class="public-data">
                <dt class="mt0 important">充值数据</dt>
                <dd>
                    <ul class="public-data-list layui-row public-data-list1">
                        <li class="layui-col-md2 layui-col-list">
                            <div class="fz-14">
                                <p class="fz-16 mt10 tc">今日充值(元)</p>
                                <p class="col4 mt20 tc fz-24" th:text="${clientRechargeByNow}"></p>
                            </div>
                        </li>
                        <li class="layui-col-md2 layui-col-list ml30 mr30">
                            <div class="fz-14">
                                <p class="fz-16 mt10 tc">近7天充值(元)</p>
                                <p class="col4 mt20 tc fz-24" th:text="${clientRechargeByWeek}"></p>
                            </div>
                        </li>
                        <li class="layui-col-md2 layui-col-list mr30">
                            <div class="fz-14">
                                <p class="fz-16 mt10 tc">当月充值(元)</p>
                                <p class="col4 mt20 tc fz-24" th:text="${clientRechargeByMonthFirst}"></p>
                            </div>
                        </li>
                        <li class="layui-col-md2 layui-col-list">
                            <div class="fz-14">
                                <p class="fz-16 mt10 tc">充值总量(元)</p>
                                <p class="col4 mt20 tc fz-24" th:text="${clientRechargeByAll}"></p>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="public-data">
                <dt>充值统计</dt>
                <dd class="layui-row">
                    <ul class="clearfix p10 product-fx-warp">
                        <li class="product-fx mt10 clearfix" id="scopeLiId">
                            <span class="active" otherVal="2">近7天</span>
                            <span otherVal="4">近30天</span>
                            <span otherVal="5">本季度</span>
                        </li>
                    </ul>
                    <input type="hidden" id="scopeType" name="scopeType" value="2"/>
                    <p class="tc pt20 pb20 col4 fz-16" id="chartTitleId"></p>
                    <div class="layui-row tc mt20 mb20" id="panel" style="height:500px;display: block;">
                        <div class="layui-col-md4" id="leftPanel" style="height:500px;">
                        </div>
                        <div class="layui-col-md8 p30 tc" id="rightPanel" style="height:500px;">
                        </div>
                    </div>
                    <p class="slide"><a href="javascript:;" class="btn-slide">统计图</a></p>
                </dd>
            </dl>
            <dl class="public-data">
                <dt class="clearfix">
                    <span class="fr mb10">
                            <a href="javascript:" class="layui-btn fr layui-btn-normal"
                               onclick="clientOutPrint()">导出</a>
                        </span>
                </dt>
                <table class="layui-table" id="data-table"></table>
            </dl>
        </div>
    </div>

    <div class="layui-footer" th:include="common :: copyright"></div>
</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/plugins/paging/js/paging.js"></script>
<script type="text/javascript" src="/static/plugins/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="/static/business/stats-recharge.js"></script>
</body>

</html>