<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css"
          href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/monitor/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="monitor/common :: top"></div>

    <div th:include="monitor/common :: left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="p20">
            <div class="public-title3">2018年2月10日 18:20</div>
            <div class="mt15">
                <!--运营汇总-->
                <dl class="public-data public-warp1">
                    <dt class="mt0 important">客户数据</dt>
                    <dd>
                        <ul class="public-data-list layui-row public-data-list1 col6">
                            <li class="layui-col-md3">
                                <div class="fz-14">
                                    <p class="fz-16 mt10 tc">7日新增（个）</p>
                                    <p class="col4 mt20 tc fz-24" th:text="${clientInc7d}"></p>
                                </div>
                            </li>
                            <li class="layui-col-md3 ml30 mr30">
                                <div class="fz-14">
                                    <p class="fz-16 mt10 tc">当月新增（个）</p>
                                    <p class="col4 mt20 tc fz-24" th:text="${clientIncThisMonth}"></p>
                                </div>
                            </li>
                            <li class="layui-col-md3">
                                <div class="fz-14">
                                    <p class="fz-16 mt10 tc">当前总量（个）</p>
                                    <p class="col4 mt20 tc fz-24" th:text="${clientTotal}"></p>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!--运营汇总 end-->
                <!--客户数据统计-->
                <dl class="public-data public-warp1 mt15">
                    <dd class="layui-row">
                        <ul class="clearfix p10 product-fx-warp col6">
                            <li class="product-fx mt5 clearfix" id="scopeOcx">
                                <span data-scope="4" class="active">近30天</span>
                                <span data-scope="5">近90天</span>
                                <span data-scope="6">近一年</span>
                                <span data-scope="0">自定义</span>
                            </li>
                            <li class="position-r">
                                统计时间：
                                <em class="inline-block">
                                    <input type="text" id="date1" autocomplete="off" class="layui-input"/>
                                    <input type="hidden" id="startDate"/>
                                    <input type="hidden" id="endDate"/>
                                </em>
                                <i class="layui-icon fz-24 date-icon col4">&#xe637;</i>
                            </li>
                            <li class="mt10">
                                <label class="contrast-time2 va"><input type="checkbox" name=""
                                                                        id="contrastDate"/></label>
                                对比时间
                            </li>
                            <li class="position-r time-input2 display-none">
                                <em class="inline-block">
                                    <input type="text" class="layui-input" id="compareFrom"/>
                                </em>
                                <i class="layui-icon fz-24 date-icon col4">&#xe637;</i>
                            </li>
                            <li class="product-fx mt5 clearfix" id="unitOcx">
                                <span data-unit="1">按时</span>
                                <span data-unit="2" class="active">按日</span>
                                <span data-unit="3">按周</span>
                                <span data-unit="4">按月</span>
                            </li>
                        </ul>
                        <div class="tc mt20 mb20" id="panel" style="width:100%; height:480px;"></div>
                    </dd>
                </dl>
                <!--客户数据统计 end-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/monitor-common.js"></script>
<script type="text/javascript" src="/static/plugins/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="/static/plugins/echarts/dark.js"></script>
<script type="text/javascript" src="/static/business/stats-client-new.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script>
    /*layui.config({
        base: '../../js/'
    }).use(['app'], function() {
        var app = layui.app,
            $ = layui.jquery
        //主入口
        app.set({
            type: 'iframe'
        }).init();
    });
    $(function() {
        $(".treebox .level1>a").click(function() {
            $(this).addClass('current')   //给当前元素添加"current"样式
            .find('i').addClass('down')   //小箭头向下样式
            .parent().next().slideDown('slow', 'easeOutQuad')  //下一个元素显示
            .parent().siblings().children('a').removeClass('current')//父元素的兄弟元素的子元素去除"current"样式
            .find('i').removeClass('down').parent().next().slideUp('slow', 'easeOutQuad');//隐藏
            return false; //阻止默认时间
        });
        $(".treebox .menu li").each(function() {
            $(this).find('dl').each(function() {
                if($(this).find('dd').hasClass('layui-this')) {
                    $(this).prev().find('i').addClass('down');
                    $(this).prev().addClass('current');
                    $(this).css("display", "block");
                }
            })
        });
    });*/
</script>
</body>

</html>