<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理后台</title>
    <link rel="stylesheet" href="./../../layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="./../../css/app.css" media="all">
    <link rel="stylesheet" href="./../../css/style.css" media="all">
    <link rel="stylesheet" href="./../../css/base.css" media="all">
    <link rel="stylesheet" href="./../../css/common.css" media="all">
</head>

<body>
    <div class="layui-layout layui-layout-admin kit-layout-admin">
        <div class="layui-header">
            <div class="layui-logo mt10 ml20"><img src="./../../images/logo.png"></div>
            <ul class="layui-nav layui-layout-left kit-nav layui-menu">
                <li class="layui-nav-item bd-right-none tc important" >
                    <a href="javascript:;">
                        <img src="./../../images/icon/menu-icon4.png" style="width: auto;">
                        <p style="line-height: 0px;" class="fz-12 important">欢迎，admin</p>
                    </a>
                </li>
                <li class="layui-nav-item">
               		<a href="javascript:;" class="position-r mt15 important">
               			<img src="./../../images/icon/menu-icon3.png">
                        <i class="top-email">99</i>
               		</a>
                </li>
                <li class="layui-nav-item">
                	<a href="javascript:;" class="mt15 important">
	                	<img src="./../../images/icon/menu-icon2.png">
                	</a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right kit-nav">
                
            </ul>
        </div>

        <div class="layui-side layui-bg-black kit-side">
            <div class="layui-side-scroll treebox">
                <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree menu" lay-filter="kitNavbar" kit-navbar>
                    <li class="layui-nav-item level1">
                        <a class="" href="javascript:;"><span class="icon icon1"></span><em>首页</em><i></i></a>
                    </li>
                    <li class="layui-nav-item level1">
                        <a class="" href="javascript:;"><span class="icon icon2"></span><em>数据监控</em><i></i></a>
                        <dl class="layui-nav-child level2">
                            <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span> 第三方监控</span></a>
                            </dd>
                             <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span> 客户监控</span></a>
                            </dd>
                             <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span> 产品监控</span></a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item level1">
                        <a class="" href="javascript:;"><span class="icon icon3"></span><em>警报系统</em><i></i></a>
                        <dl class="layui-nav-child level2">
                            <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>待处理</span></a>
                            </dd>
                             <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>已处理</span></a>
                            </dd>
                             <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>警报统计</span></a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item level1">
                        <a class="" href="javascript:;"><span class="icon icon4"></span><em>运营统计</em><i></i></a>
                        <dl class="layui-nav-child level2">
                            <dd class="layui-this">
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>客户统计</span></a>
                            </dd>
                            <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>客户请求统计</span></a>
                            </dd>
                            <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>充值统计</span></a>
                            </dd>
                            <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>营收统计</span></a>
                            </dd>
                            <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>产品请求统计</span></a>
                            </dd>
                            <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>请求第三方统计</span></a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item level1">
                        <a class="" href="javascript:;"><span class="icon icon3" ></span><em>系统设置</em><i></i></a>
                        <dl class="layui-nav-child level2">
                            <dd>
                                <a href="customer-index.html">
                                    <i class="layui-icon">&#xe602;</i><span>警报设置</span></a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="p20">
                <div class="public-title3">2018年2月10日   18:20</div>
                <div class="mt15">
                    <!--运营汇总-->
                    <dl class="public-data public-warp1">
                        <dt class="mt0 important">客户数据</dt>
                        <dd>
                            <ul class="public-data-list layui-row public-data-list1 col6">
                                <li class="layui-col-md3">
                                    <div class="fz-14">
                                        <p class="fz-16 mt10 tc">7日新增（个）</p>
                                        <p class="col4 mt20 tc fz-24">500000 </p>
                                    </div>
                                </li>
                               <li class="layui-col-md3 ml30 mr30">
                                    <div class="fz-14">
                                        <p class="fz-16 mt10 tc">当月新增（个）</p>
                                        <p class="col4 mt20 tc fz-24">500000 </p>
                                    </div>
                                </li>
                                <li class="layui-col-md3">
                                    <div class="fz-14">
                                        <p class="fz-16 mt10 tc">当前总量（个）</p>
                                        <p class="col4 mt20 tc fz-24">500000 </p>
                                    </div>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <!--运营汇总 end-->
                    <!--客户数据统计-->
                    <dl class="public-data public-warp1 mt15">
                        <dd class="layui-row">
                            <ul class="clearfix p10 product-fx-warp col6">
                                <li class="product-fx mt5 clearfix">
                                    <span class="active">近30天</span>
                                    <span>近90天</span>
                                    <span>近一年</span>
                                </li>
                                <li class="position-r">统计时间：<em class="inline-block"><input type="text" name="date" id="date1" autocomplete="off" class="layui-input"></em><i class="layui-icon fz-24 date-icon col4">&#xe637;</i></li>
                                <li class="mt10"><label class="contrast-time2 va"><input type="checkbox" name=""></label>对比时间</li>
                                <li class="position-r time-input2 display-none"><em class="inline-block"><input type="text" name="date" id="date1" autocomplete="off" class="layui-input"></em><i class="layui-icon fz-24 date-icon col4">&#xe637;</i></li>
                                <li class="product-fx mt5 clearfix">
                                    <span class="active">按月</span>
                                    <span>按时</span>
                                    <span>按日</span>
                                    <span>按周</span>
                                </li>
                            </ul>
                            <p class="tc pt20 pb20 col4 fz-16">217/10/1-2017/11/1    总收入:1,989,900元</p>
                            <div class="tc mt20 mb20" id="panel"><img src="./../../images/data-img3.png"></div>
                        </dd>
                    </dl>
                    <!--客户数据统计 end-->
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            2017 &copy;
            <a href="http://kit.zhengjinfan.cn/">kit.zhengjinfan.cn/</a> MIT license

        </div>.
    </div>
    <script src="./../../layui/layui.js"></script>
    <script src="./../../js/jquery-2.1.1.js"></script>
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script>
        layui.config({
            base: '../../js/'
        }).use(['app'], function() {
            var app = layui.app,
                $ = layui.jquery
            //主入口
            app.set({
                type: 'iframe'
            }).init();

        });
        $(function(){
            $(".treebox .level1>a").click(function(){
                $(this).addClass('current')   //给当前元素添加"current"样式
                .find('i').addClass('down')   //小箭头向下样式
                .parent().next().slideDown('slow','easeOutQuad')  //下一个元素显示
                .parent().siblings().children('a').removeClass('current')//父元素的兄弟元素的子元素去除"current"样式
                .find('i').removeClass('down').parent().next().slideUp('slow','easeOutQuad');//隐藏
                 return false; //阻止默认时间
            });
            $(".treebox .menu li").each(function(){
               $(this).find('dl').each(function(){
                    if($(this).find('dd').hasClass('layui-this')){
                        $(this).prev().find('i').addClass('down');
                        $(this).prev().addClass('current');
                        $(this).css("display","block");
                    }
               })
            });
        })
        //对比时间
        $(document).ready(function(){
            $(".contrast-time2").click(function(){
                $(".time-input2").toggle();
            });
        });
    </script>
</body>

</html>