<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/monitor/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="monitor/common :: top"></div>

    <div th:include="monitor/common :: left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="p20">
            <div class="public-title3">2018年2月10日 18:20</div>
            <div class="mt15">
                <!--运营汇总-->
                <dl class="public-data public-warp1">
                    <dt class="mt0 important">客户数据</dt>
                    <dd>
                        <ul class="public-data-list layui-row public-data-list1 col6">
                            <li class="layui-col-md2 layui-col-list">
                                <div class="fz-14">
                                    <p class="fz-16 mt10 tc">今日充值(元)</p>
                                    <p class="col4 mt20 tc fz-24"><span th:text="${rechargeToday}"></span> </p>
                                </div>
                            </li>
                            <li class="layui-col-md2 layui-col-list ml30 mr30">
                                <div class="fz-14">
                                    <p class="fz-16 mt10 tc">近7天充值(元)</p>
                                    <p class="col4 mt20 tc fz-24"><span th:text="${recharge7d}"></span> </p>
                                </div>
                            </li>
                            <li class="layui-col-md2 layui-col-list mr30">
                                <div class="fz-14">
                                    <p class="fz-16 mt10 tc">当月充值(元)</p>
                                    <p class="col4 mt20 tc fz-24"><span th:text="${rechargeThisMonth}"></span> </p>
                                </div>
                            </li>
                            <li class="layui-col-md2 layui-col-list">
                                <div class="fz-14">
                                    <p class="fz-16 mt10 tc">充值总量(元)</p>
                                    <p class="col4 mt20 tc fz-24"><span th:text="${rechargeTotal}"></span> </p>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!--运营汇总 end-->
                <!--客户数据统计-->
                <dl class="public-data public-warp1 mt15">
                    <dd class="layui-row">
                        <ul class="clearfix p10 product-fx-warp col6">
                            <li class="product-fx mt5 clearfix" id="selectType">
                                <span class="active" typeData="3">近7日</span>
                                <span typeData="4">近30日</span>
                                <span typeData="6">近一年</span>
                                <span typeData="0">自定义</span>
                            </li>
                            <li class="position-r">统计时间：
                                <em class="inline-block">
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="dates"/>
                                        <input type="hidden" id="fromDate" name="fromDate"/>
                                        <input type="hidden" id="toDate" name="toDate"/>
                                    </div>
                                </em>
                                <i class="layui-icon fz-24 date-icon col4">&#xe637;</i>
                            </li>
                            <li class="mt10">
                                <label class="contrast-time2 va">
                                    <input type="checkbox" name="" id="selectContrast"/>
                                </label>对比时间
                            </li>
                            <li class="position-r time-input2 display-none">
                                <em class="inline-block">
                                    <input type="text" class="layui-input" id="contrastDate" />
                                </em>
                                <i class="layui-icon fz-24 date-icon col4">&#xe637;</i>
                            </li>
                        </ul>
                        <p class="tc pt20 pb20 col4 fz-16" id="recharge-total">2017/10/1-2017/11/1 总充值:1,989,900元</p>
                        <div class="layui-row tc mt20 mb20" id="panel">
                            <div class="layui-col-md4 p30">
                                <p class="tc" style="width:530px;height:450px;" id="charPie"></p>
                            </div>
                            <div class="layui-col-md8 p30 tc">
                                <p class="tc" style="width:1000px;height:450px;"  id="charBar"></p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <!--客户数据统计 end-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/monitor-common.js"></script>
<script type="text/javascript" src="/static/plugins/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="/static/plugins/echarts/dark.js"></script>
<script type="text/javascript" src="/static/business/stats-recharge.js"></script>

</body>

</html>