<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css"
          href="https://oss.matedata.net/resource/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/monitor/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/monitor/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="monitor/common :: top"></div>

    <div th:include="monitor/common :: left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="p20">
            <div class="public-title3" id="current-time"></div>
            <div class="mt10">
                <!--营收数据-->
                <dl class="public-data public-warp1">
                    <dt class="mt0 important">产品请求数据</dt>
                    <dd class="product-check m20 layui-row col6">
                        <div class="layui-col-xs6 product-data-br">
                            <table width="80%" class="lh50 tc margin-auto">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th class="tc">今日</th>
                                    <th class="tc">昨日</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>查询次数</td>
                                    <td><span th:text="${requestToday}"></span>次</td>
                                    <td><span th:text="${requestYesterday}"></span>次</td>
                                </tr>
                                <tr>
                                    <td>失败次数</td>
                                    <td><span th:text="${requestFailedToday}"></span>次</td>
                                    <td><span th:text="${requestFailedYesterday}"></span>次</td>
                                </tr>
                                <tr>
                                    <td>未击中</td>
                                    <td><span th:text="${requestNotHitToday}"></span>次</td>
                                    <td><span th:text="${requestNotHitYesterday}"></span>次</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-col-xs6">
                            <table width="60%" class="lh50 tc margin-auto">
                                <thead>
                                <tr>
                                    <th class="tc">本月</th>
                                    <th class="tc">累计</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span th:text="${requestThisMonth}"></span>次</td>
                                    <td><span th:text="${requestTotal}"></span>次</td>
                                </tr>
                                <tr>
                                    <td><span th:text="${requestFailedThisMonth}"></span>次</td>
                                    <td><span th:text="${requestFailedTotal}"></span>次</td>
                                </tr>
                                <tr>
                                    <td><span th:text="${requestNotHitThisMonth}"></span>次</td>
                                    <td><span th:text="${requestNotHitTotal}"></span>次</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </dd>
                </dl>
                <dl class="public-data public-warp1 mt15">
                    <dt>请求统计</dt>
                    <dd class="layui-row">
                        <ul class="clearfix p10 product-fx-warp col6">
                            <li class="product-fx mt5 clearfix" id="selectType">
                                <span typeData="1" class="active">今天</span>
                                <span typeData="2">昨天</span>
                                <span typeData="3">近7天</span>
                                <span typeData="4">近30天</span>
                                <span typeData="0">自定义</span>
                            </li>
                            <li class="position-r">统计时间：
                                <em class="inline-block">
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="dates"/>
                                        <input type="hidden" id="fromDate" name="fromDate"/>
                                        <input type="hidden" id="toDate" name="toDate"/>
                                    </div>
                                </em>
                                <i class="layui-icon fz-24 date-icon col4">&#xe637;</i>
                            </li>
                            <!--<li class="mt10">
                                <label class="contrast-time2 va">
                                    <input type="checkbox" name="" id="selectContrast"/>
                                </label>对比时间
                            </li>
                            <li class="position-r time-input2 display-none">
                                <em class="inline-block">
                                    <input type="text" class="layui-input" id="contrastDate"/>
                                </em>
                                <i class="layui-icon fz-24 date-icon col4">&#xe637;</i>
                            </li>-->
                            <li class="product-tjnav1 pl40 mr5 important" style="margin-top: 2px;">
                                <h3 class="pl10 pr10 product-title1">选择产品 <i class="layui-icon fr">&#xe61a;</i></h3>
                                <div class="p10 product-tjlist1 product-nav1">
                                    <p class="mt5 flex pl10 layui-form">
                                        <span class="mt10 mr10">
                                        <input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"
                                               id="allChoose" title="全部产品"/>
                                        </span>
                                    </p>
                                    <div class="public-height" id="pro_type">

                                    </div>
                                    <ul class="mt10 pb20 bd-top pt10 check-list">
                                        <div class="mt15 tr">
                                            <span class="button-qr choose-hide cp nav-close1" onclick="refreshChart()">确认</span>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="product-fx mt5 clearfix" id="unitOcx">
                                <span data-unit="1" class="active">按时</span>
                                <span data-unit="2">按日</span>
                                <span data-unit="3">按周</span>
                                <span data-unit="4">按月</span>
                            </li>
                        </ul>
                        <!--搜索-->
                        <ul class="search-list clearfix pb15 mt20 col6">
                            <li>客户
                                <input type="text" name="username" id="clientName" placeholder="请输入公司名称"
                                       class="search-input"/>
                            </li>
                            <li>
                                <button class="cp check-button" onclick="refreshChart()">查询</button>
                            </li>
                        </ul>
                        <!--搜索 end-->
                        <div class="tc mt20 mb20"
                             style="width:100%;height:480px" id="chart-line"></div>
                    </dd>
                </dl>
                <!--营收数据 end-->
                <dl class="public-data mt15">
                    <dd class="layui-row layui-col-space10 p0 important">
                        <div class="layui-col-md5">
                            <div class=" public-warp1 ">
                                <p class="tc" style="width:100%;height:480px" id="chart-pie"></p>
                            </div>
                        </div>
                        <div class="layui-col-md7">
                            <div class=" public-warp1 ">
                                <p class="tc" style="width:100%;height:480px" id="chart-bar"></p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/monitor-common.js"></script>
<script type="text/javascript" src="/static/plugins/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="/static/plugins/echarts/dark.js"></script>
<script type="text/javascript" src="/static/business/stats-request-product.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>

</body>

</html>