<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="client :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/client/index.html">客户管理</a>
            <a href="/client/index.html">客户管理</a>
            <a><cite>添加客户</cite></a>
        </div>
        <div class="p20">
            <div class="w60" id="data-div-id">
                <div class="w40 m30">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>账号：</label>
                        <div class="layui-input-block" id="username-div-id">
                            <input type="text" id="username" name="username" placeholder="4到16位（字母，数字，下划线，减号）"
                                   autocomplete="off" class="layui-input" datatype="username" datames="帐号"
                                   notnull="true" onblur="checkUsername()" maxlength="16"/>
                            <i class="col3 pl10" id="usernameTip" style="display: none"></i>
                        </div>
                    </div>
                    <div class="layui-form-item mb0">
                        <label class="layui-form-label"><i class="col3">*</i>公司名称：</label>
                        <div class="layui-input-block">
                            <input type="text" id="corpName" name="corpName" placeholder="请输入" autocomplete="off"
                                   class="layui-input" datames="公司名称" notnull="true" maxlength="50"/>
                            <i class="col3 pl10" id="corpNameTip" style="display: none"></i>
                            <i class="col4 pl10 cp" id="sameCompany">查看5家相似的公司</i>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>公司简称：</label>
                        <div class="layui-input-block">
                            <input type="text" id="shortName" name="shortName" placeholder="请输入" autocomplete="off"
                                   datames="公司简称" notnull="true" maxlength="50" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>所属行业：</label>
                        <div class="layui-input-block clearfix">
                            <div style="width: 50%; float: left;">
                                <select id="parentIndustryId" name="modules" onchange="getSubIndustry()"
                                        class="select-list" style="width: 98%">
                                    <option th:each="ind:${parentIndustry}" th:value="${ind.id}"
                                            th:text="${ind.name}"></option>
                                </select>
                            </div>
                            <div style="width: 50%; float: left;">
                                <select id="industryId" name="modules" datames="所属行业" notnull="true" class="select-list"
                                        style="width: 98%">
                                    <option th:each="ind:${industry}" th:value="${ind.id}"
                                            th:text="${ind.name}"></option>
                                </select>
                            </div>
                            <i class="col3 pl10" id="parentIndustryTip" style="display: none"></i>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="col3">*</i>社会信用代码：</label>
                        <div class="layui-input-block">
                            <input type="text" id="license" name="license" placeholder="请输入" autocomplete="off"
                                   class="layui-input" datatype="socialCreditCode" datames="社会信用代码" maxlength="18"
                                   notnull="true"/>
                            <i class="col3 pl10" id="licenseTip" style="display: none"></i>
                        </div>
                    </div>
                    <div class="layui-form-item" style="display: none;">
                        <label class="layui-form-label">账号状态：</label>
                        <div class="layui-input-block layui-form">
                            <input type="radio" name="enabled" value="1" title="正常" checked=""/>
                            <div class="layui-unselect layui-form-radio layui-form-radioed">
                                <i class="layui-anim layui-icon layui-anim-scaleSpring"></i><span>正常</span>
                            </div>
                            <input type="radio" name="enabled" value="0" title="冻结"/>
                            <div class="layui-unselect layui-form-radio">
                                <i class="layui-anim layui-icon"></i><span>冻结</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系人：</label>
                    <div class="layui-input-block layui-form">
                        <span class="layui-btn layui-btn-primary" style="background-color:#fff" id="addcontacts">
                            <i class="layui-icon"></i>添加联系人
                        </span>
                        <em class="col3">至少添加一位联系人</em>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block layui-form">
                        <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                            <tbody id="contact-list"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-form-item mt40">
                <div class="layui-input-block">
                    <a href="javascript:" id="save" class="layui-btn" onclick="createUser()">保存</a>
                    <a href="javascript:history.back(-1);" class="layui-btn" >返回</a>
                </div>
            </div>
            <div class="fb ml100">创建账号默认密码为
                <i id="password" class="col3" th:text="${defaultPassword}"></i></div>
        </div>
    </div>


</div>

<div id="check-company" class="modal">
    <div class="layui-layer-title">相似企业</div>
    <div class="mb30">
        <form class="layui-form" action="">
            <div class="m30">
                <div class="tc fz-14" id="thisCorpName"></div>
                <div class="col2 mt20" id="sameTotal"></div>
                <!--table-->
                <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                    <thead>
                    <tr>
                        <th>公司名称</th>
                        <th>社会信用代码</th>
                        <th>所属商务经理</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody id="sameCompanyBody"></tbody>
                </table>
            </div>
            <div class="layui-form-item tc">
                <a class="layui-btn" lay-submit="" onclick="layer.closeAll()" lay-filter="demo1">关闭</a>
            </div>
        </form>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<div id="addcontacts-modal" class="modal">
    <div class="layui-layer-title">添加联系人</div>
    <div class="m30">
        <div class="m30 mt0 mr40">
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>联系人：</label>
                <div class="layui-input-block">
                    <input type="tel" id="add-name" placeholder="" autocomplete="off" class="layui-input"
                           maxlength="20" datames="联系人" notnull="true"/>
                    <i class="col3 pl10" id="tip-add-name" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>职位：</label>
                <div class="layui-input-block">
                    <input type="text" id="add-position" placeholder="" autocomplete="off" class="layui-input"
                           datames="职位" notnull="true" maxlength="30"/>
                    <i class="col3 pl10" id="tip-add-position" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>联系电话：</label>
                <div class="layui-input-block">
                    <input type="text" id="add-phone" placeholder="" autocomplete="off" class="layui-input"
                           datatype="phoneOrMobile" datames="联系电话" notnull="true" maxlength="20"
                           onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/>
                    <i class="col3 pl10" id="tip-add-phone" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系邮箱：</label>
                <div class="layui-input-block">
                    <input type="text" id="add-email" placeholder="" autocomplete="off" class="layui-input"
                           datatype="email" datames="联系邮箱" maxlength="40"/>
                    <i class="col3 pl10" id="tip-add-email" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设为常用：</label>
                <div class="fl">
                    <input type="checkbox" id="add-chief" title="常用联系人" lay-skin="primary"/>
                    <i class="col3 pl10" id="tip-add-chief" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" id="add_contact">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/js/uuid.js"></script>
<script type="text/javascript" src="/static/js/validate.js"></script>
<script type="text/javascript" src="/static/business/client-add.js"></script>
</body>
</html>