<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="/static/plugins/paging/css/paging.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="client :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/client/index.html">客户管理</a>
            <a href="/client/index.html">客户管理</a>
            <a><cite>客户详情</cite></a>
        </div>
        <div class="p20">
            <form class="layui-form" action="">
                <div class="form-title mb20">基础信息<input type="hidden" id="client-id" th:value="${clientId}"/></div>
                <div class="m30 clearfix">
                    <div class="w30 fl">
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">客户编号：</label>
                            <div class="layui-input-block col2" th:text="${clientId}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">账号：</label>
                            <div class="layui-input-block col2" th:text="${username}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">公司简称：</label>
                            <div class="layui-input-block col2" th:text="${shortName}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">社会信用代码：</label>
                            <div class="layui-input-block col2" th:text="${license}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">商务经理：</label>
                            <div class="layui-input-block col2" th:text="${managerName}"></div>
                        </div>
                    </div>
                    <div class="w30 fl">
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">账号状态：</label>
                            <div class="layui-input-block col2">
                                <i th:text="${userEnabled} eq '1' ? '正常':'已冻结'"></i>
                                <span class="log-button show-log cp ml10">操作记录</span>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">公司名称：</label>
                            <div class="layui-input-block col2" th:text="${corpName}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">类型：</label>
                            <div class="layui-input-block col2" th:text="${industryName}"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label fb">注册时间：</label>
                            <div class="layui-input-block col2" th:text="${registerDate}"></div>
                        </div>
                    </div>
                </div>
                <div class="m30 clearfix">
                    <table class="layui-table w60">
                        <thead>
                        <tr>
                            <th class="position-r">联系人</th>
                            <th>职位</th>
                            <th>联系电话</th>
                            <th>联系邮箱</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="o : ${contactList}">
                            <td>
                                <span th:text="${o.name}"></span>
                                <i class="chang-icon" th:if="${o.isGeneral == 1}"></i></td>
                            <td th:text="${o.position}"></td>
                            <td th:text="${o.phone}"></td>
                            <td th:text="${o.email}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-title mb20">产品服务</div>
                <div class="m30">
                    <ul class="customer-detail clearfix">

                        <li th:each="cp : ${opened}">
                            <p class="clearfix mb40" th:if="${cp.billPlan == 1}">
                                <span th:text="${cp.startDate} + ' - ' + ${cp.endDate}"></span>
                                <span class="fb fr" th:text="'充值：' + ${cp.amount} + '元'"></span>
                            </p>
                            <p class="clearfix mb40" th:if="${cp.billPlan != 1}">
                                <span th:text="'账户余额：' + ${cp.balance} + '元'"></span>
                                <span class="fb fr" th:text="'单价：' + ${cp.unitAmt} + '元/次'"></span>
                            </p>
                            <p class="mt40 tc mb40">
                                <a href="#" class="add-button mr30" th:text="${cp.productName}"></a>
                                <span class="key-button cp app-id"
                                      th:attr="app-id=${cp.appId}, app-name=${cp.productName}">
                                    AppID</span>
                            </p>
                            <p class="mt40 customer-detail-menu">
                                <a th:href="'/client/recharge.html?c=' + ${clientId} + '&amp;p=' + ${cp.productId}">
                                    充值记录</a>
                                <a th:href="'/client/consumption.html?c=' + ${clientId} + '&amp;p=' + ${cp.productId}"
                                   class="tc">消费记录</a>
                                <a class="cp">
                                    <span class="renew" th:attr="client-product-id=${cp.clientProductId}">续签</span>
                                </a>
                            </p>
                        </li>

                        <li th:each="prod : ${toOpen}">
                            <p class="tc mt15"><img src="/static/images/icon/check-icon.png"/></p>
                            <p class="tc mt5" th:text="${prod.productName}"></p>
                            <p class="mt40 tr">
                                <span th:if="${prod.isSelected == 0}" class="cp open-product"
                                      th:attr="data-product-id = ${prod.productId}">开通
                                </span>
                                <span th:if="${prod.isSelected == 1}" class="renew is-selected-class"
                                      th:attr="client-product-id=${prod.clientProductId}">开通
                                </span>
                            </p>
                        </li>

                    </ul>
                </div>
                <div class="form-title mb20">定制服务展示</div>
                <div class="m30">
                    <div class="mt10 mb10"><a class="add-button" id="service">添加</a></div>
                    <table class="layui-table mt25">
                        <thead>
                        <tr>
                            <th>所属类别</th>
                            <th>产品名称</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pro : ${productCustomList}" th:if="${pro.isSelected == 1}">
                            <td th:text="${pro.typeName}"></td>
                            <td th:text="${pro.productName}"></td>
                            <td th:text="${pro.remark}"></td>
                            <td><a href="javascript:" class="edit remove-class" th:value="${pro.clientProductId}">移除
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-title mb20" th:if="${not #lists.isEmpty(userList)}">子账号</div>
                <div class="m30 clearfix" th:if="${not #lists.isEmpty(userList)}">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>账号</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user,index : ${userList}">
                            <td th:text="${index.count}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.phone}"></td>
                            <td>
                                <span>
                                    <a th:href="'/client/consumption.html?c=' + ${clientId} + '&amp;u=' + ${user.id}"
                                       class="edit">查看消费详情</a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<div id="ban-div" class="modal">
    <div class="layui-layer-title">账号操作记录</div>
    <div class="mb30">
        <div class="mb30 ml30 mr30" id="ban-data-body">
            <ul class="log">
                <li>
                    <div class="title-log pt10 pb10 clearfix">
                        <span class="w50 tl">#{type}</span>
                        <span class="w25 tr">#{managerName}</span>
                        <span class="w25 tr">#{operateTime}</span>
                    </div>
                    <div class="lh25 tl col2">#{reason}</div>
                </li>
            </ul>
        </div>
        <div class="layui-form-item tc">
            <div class="box" id="pagination"></div>
        </div>
    </div>
</div>

<div id="key-modal" class="modal">
    <div class="layui-layer-title" id="app-id-prod"></div>
    <div class="mb30">
        <form class="layui-form" action="">
            <div class="m30">
                <div class="layui-form-item">
                    <label class="layui-form-label">当前AppID：</label>
                    <div class="layui-input-block" id="app-id-val"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="renew-modal" class="modal">
    <div class="layui-layer-title" id="renew-server-id">续费服务</div>
    <div class="mb30">
        <ul class="renew-inf-list clearfix" id="renew-info"></ul>
        <div class="m30 mt0 mr40">
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>选择计费模式：</label>
                <div class="layui-input-block renew-input-block tl">
                    <select name="modules" id="renew-bill-plan" onchange="change()" class="select-list">
                        <option th:each="o : ${billPlanList}" th:value="${o.key}" th:text="${o.value}"></option>
                    </select>
                    <i class="col3 pl10" id="selectBillTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item" id="serviceTime">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>服务时间：</label>
                <div class="layui-input-inline" style="width: 150px;">
                    <input type="text" id="renew-start" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input date" onchange="checkStartTime()"/>
                    <i class="col3 pl10" id="startTimeTip" style="display: none"></i>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 150px;">
                    <input type="text" id="renew-end" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input date" onchange="checkEndTime()"/>
                    <i class="col3 pl10" id="endTimeTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item" style="display: none" id="priceIput">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>单价：</label>
                <div class="layui-input-block renew-input-block tl">
                    <input type="text" id="renew-unit" placeholder="请输入" autocomplete="off"
                           class="layui-input" style="width:70%; display: inline;" onblur="checkUnitPrice()"/> 元/次
                    <i class="col3 pl10" id="unitPriceTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值金额：</label>
                <div class="layui-input-block renew-input-block tl">
                    <input type="text" id="renew-amt" placeholder="请输入" autocomplete="off"
                           class="layui-input" style="width:60%; display: inline;" onblur="checkRecharge()"/> 元
                    <i class="col3 pl10" id="rechargeTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值类型：</label>
                <div class="layui-input-block renew-input-block tl">
                    <select id="renew-recharge-type" class="select-list" onblur="checkRechargeType()">
                        <option th:each="rt : ${rechargeDict}" th:value="${rt.id}" th:text="${rt.name}"></option>
                    </select>
                    <i class="col3 pl10" id="rechargeTypeTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>合同编号：</label>
                <div class="layui-input-block renew-input-block">
                    <input type="text" id="renew-contract" placeholder="请输入" autocomplete="off" class="layui-input"
                           onblur="checkContNumber()"/>
                    <i class="col3 pl10" id="contNumberTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label">备注：</label>
                <div class="layui-input-block renew-input-block">
                    <textarea id="renew-remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" id="renew-client-product-id"/>
                    <button class="layui-btn" onclick="renewProduct()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="openServe-modal" class="modal">
    <div class="layui-layer-title">开通服务</div>
    <div class="m30">
        <div class="m30 mt0 mr40">
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>选择计费模式：</label>
                <div class="layui-input-block renew-input-block tl">
                    <select id="open-charge" class="select-list">
                        <option th:each="o : ${billPlanList}" th:value="${o.key}" th:text="${o.value}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" id="year-div">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>服务时间：</label>
                <div class="layui-input-inline">
                    <input type="text" id="open-start" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input date" onchange="checkOpenStart()"/>
                    <i class="col3 pl10" id="openStartTip" style="display: none"></i>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline">
                    <input type="text" id="open-end" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input date" onchange="checkOpenEnd()"/>
                    <i class="col3 pl10" id="openEndTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item" id="times-div" style="display: none;">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>单价：</label>
                <div class="layui-input-block renew-input-block tl">
                    <input type="text" id="open-unit" lay-verify="required" placeholder="请输入" autocomplete="off"
                           class="layui-input" style="width:50%; display:inline;" onblur="checkOpenUnit()"/> 元/次
                    <i class="col3 pl10" id="openUnitTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值金额：</label>
                <div class="layui-input-block renew-input-block tl">
                    <input type="text" id="open-amt" lay-verify="required" placeholder="请输入" autocomplete="off"
                           class="layui-input" style="width:60%; display:inline;" onblur="checkOpenAmt()"/> 元
                    <i class="col3 pl10" id="openAmtTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>充值类型：</label>
                <div class="layui-input-block renew-input-block tl">
                    <select id="open-recharge-type" lay-verify="required" lay-search="" class="select-list">
                        <option th:each="rt : ${rechargeDict}" th:value="${rt.id}" th:text="${rt.name}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label"><i class="col3">*</i>合同编号：</label>
                <div class="layui-input-block renew-input-block">
                    <input type="text" id="open-contract" lay-verify="required" placeholder="请输入" autocomplete="off"
                           class="layui-input" onblur="checkOpenContract()"/>
                    <i class="col3 pl10" id="openContractTip" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label renew-form-label">备注：</label>
                <div class="layui-input-block renew-input-block">
                    <textarea id="open-remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" id="open-product-id"/>
                    <button class="layui-btn" onclick="openProduct()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="service-modal" class="modal">
    <div class="layui-layer-title">添加定制服务</div>
    <div class="m30">
        <ul class="search-list clearfix pb25">
            <li>
                <div class="layui-input-inline layui-form">
                    <select name="modules" lay-verify="required" lay-search="" id="select-product">
                        <option value="">全部</option>
                        <option th:each="o : ${productCustomList}" th:value="${o.productId}"
                                th:text="${o.productName}"></option>
                    </select>
                </div>
            </li>
            <li>
                <button type="button" class="check-button" onclick="findProductTr()">查询</button>
            </li>
            <li class="fr">
                <button type="button" class="check-button" onclick="selectProductSave()">确认添加</button>
            </li>
        </ul>
        <div style="width: 100%;">
            <div class="table-head">
                <table class="scroll-table">
                    <colgroup>
                        <col style="width: 100%;"/>
                        <col/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>所属类别</th>
                        <th>产品名称</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="table-body" id="all-product">
                <table class="scroll-table" style="width: 100%; border: 1px solid #e2e2e2;">
                    <colgroup>
                        <col style="width: 100%;"/>
                        <col/>
                    </colgroup>
                    <tbody>
                    <tr th:each="pro : ${productCustomList}" th:value="${pro.productId}">
                        <td><input type="checkbox" class="product-checkbox-class" th:id="'checkbox-'+${pro.productId}"
                                   th:checked="${pro.isSelected == 1}" th:value="${pro.productId}"/></td>
                        <td th:text="${pro.typeName}"></td>
                        <td th:text="${pro.productName}" th:id="'productName-'+${pro.productId}"></td>
                        <td th:text="${pro.remark}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="service-list clearfix" id="selected-product">
            <li th:each="pro : ${productCustomList}"
                th:if="${pro.isSelected == 1}" th:id="'ul-li-'+${pro.productId}"><span
                    th:text="${pro.productName}"></span><i
                    class="layui-icon fz-14 ul-li-class" th:value="${pro.productId}">&#x1006;</i></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/static/plugins/paging/js/paging.js"></script>
<script type="text/javascript" src="/static/business/client-detail.js"></script>
</body>
</html>