<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="https://oss.matedata.net/resource/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://oss.matedata.net/resource/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="common :: top"></div>

    <div class="layui-side layui-bg-black kit-side" th:include="client :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="javascript:">客户管理</a>
            <a href="javascript:">客户管理</a>
            <a><cite>编辑客户</cite></a>
        </div>
        <div class="p20">
            <div class="m30" id="data-div-id">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号：</label>
                    <div class="layui-input-block col2" th:text="${username}">账号</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>公司名称：</label>
                    <div class="layui-input-block">
                        <input type="text" id="corpName" name="corpName" placeholder="请输入"
                               autocomplete="off" class="layui-input" datames="公司名称" notnull="true" maxlength="50"
                               th:value="${corpName}"/>
                        <i class="col3 pl10" id="corpNameTip" style="display: none"></i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>公司简称：</label>
                    <div class="layui-input-block">
                        <input type="text" id="shortName" name="shortName" placeholder="请输入" th:value="${shortName}"
                               autocomplete="off" datames="公司简称" notnull="true" maxlength="50" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>所属行业：</label>
                    <div class="layui-input-block clearfix">
                        <div style="width: 50%; float: left;">
                            <select id="parentIndustry" name="parentIndustry" onchange="fetchIndustry()"
                                    class="select-list" style="width: 98%">
                                <option th:each="parent:${industryParentDict}" th:value="${parent.key}"
                                        th:text="${parent.value}"
                                        th:selected="${parent.key} eq ${parentIndustryId}"></option>
                            </select>
                        </div>

                        <div style="width: 50%; float: left;">
                            <select id="industry" name="industry" class="select-list" datames="所属行业" notnull="true"
                                    style="width: 98%">
                                <option th:each="child:${industryDict}" th:value="${child.key}"
                                        th:text="${child.value}" th:selected="${child.key} eq ${industryId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>社会信用代码：</label>
                    <div class="layui-input-block">
                        <input type="text" id="license" name="license" placeholder="请输入"
                               autocomplete="off" class="layui-input" datatype="socialCreditCode" datames="社会信用代码"
                               maxlength="18" notnull="true" th:value="${license}"/>
                        <i class="col3 pl10" id="licenseTip" style="display: none"></i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="col3">*</i>商务经理：</label>
                    <div class="layui-input-block clearfix">
                        <select id="managerId" name="managerId" class="select-list" style="width: 98%">
                            <option th:each="o : ${adminUserDict}" th:value="${o.key}" th:text="${o.value}"
                                    th:selected="${o.key} eq ${managerId}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">账号状态：</label>
                    <div class="layui-input-block layui-form">
                        <input type="radio" name="clientEnabled" value="1" title="正常"
                               th:checked="${userStatus} == 1"/>
                        <div class="layui-unselect layui-form-radio layui-form-radioed">
                            <i class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                            <span>正常</span>
                        </div>
                        <input type="radio" name="clientEnabled" value="0" title="冻结"
                               th:checked="${userStatus} == 0"/>
                        <div class="layui-unselect layui-form-radio">
                            <i class="layui-anim layui-icon"></i>
                            <span>冻结</span>
                        </div>
                        <div class="col3" style="display: inline-flex; vertical-align: middle; margin-top: 5px;">
                            (冻结后账号不可登录，服务中断)
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系人：</label>
                    <div class="layui-input-block layui-form">
                        <span class="layui-btn layui-btn-primary" style="background-color:#fff" id="add-contact">
                            <i class="layui-icon"></i>添加联系人</span>
                        <em class="col3">至少添加一位联系人</em>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block layui-form">
                        <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                            <tbody id="contact-list">
                            <tr th:each="o : ${contacts}" th:id="${o.id}">
                                <td th:text="${o.name}" th:id="'name-' + ${o.id}"></td>
                                <td th:text="${o.position}" th:id="'position-' + ${o.id}"></td>
                                <td th:text="${o.phone}" th:id="'phone-' + ${o.id}"></td>
                                <td th:text="${o.email}" th:id="'email-' + ${o.id}"></td>
                                <td>
                                    <span class="mr30">
                                        <a href="javascript:;" class="edit-contact"
                                           th:attr="data-id=${o.id}">编辑</a></span>
                                    <span class="mr30">
                                        <a href="javascript:;" class="del-contact"
                                           th:attr="data-id=${o.id}">删除</a></span>
                                    <span class="layui-form">
                                        <input type="checkbox" title="常用" lay-filter="general"
                                               th:checked="${o.isGeneral == 1}" th:id="'general-' + ${o.id}"
                                               th:attr="data-id=${o.id}"/>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-form-item mt40">
                <div class="layui-input-block">
                    <input type="hidden" id="clientId" th:value="${clientId}"/>
                    <a href="javascript:" class="layui-btn" onclick="editClient()">保存</a>
                    <a href="javascript:history.back(-1);" class="layui-btn">返回</a>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="check-company" class="modal">
    <div class="layui-layer-title">相似企业</div>
    <div class="mb30">
        <div class="m30">
            <div class="tc fz-14" id="thisCorpName"></div>
            <div class="col2 mt20" id="sameTotal"></div>
            <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                <thead>
                <tr>
                    <th>公司名称</th>
                    <th>社会信用代码</th>
                    <th>所属商务经理</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody id="sameCompanyBody"></tbody>
            </table>
        </div>
        <div class="layui-form-item tc">
            <a class="layui-btn" onclick="layer.closeAll()">关闭</a>
        </div>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<div id="div-contact" class="modal">
    <div class="layui-layer-title">联系人</div>
    <div class="m30">
        <div class="m30 mt0 mr40">
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>联系人：</label>
                <div class="layui-input-block">
                    <input type="tel" id="add-name" placeholder="" autocomplete="off" maxlength="20" datames="联系人"
                           notnull="true" class="layui-input"/>
                    <i class="col3 pl10 tip" id="tip-add-name" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>职位：</label>
                <div class="layui-input-block">
                    <input type="text" id="add-position" placeholder="" autocomplete="off" datames="职位" notnull="true"
                           maxlength="30" class="layui-input"/>
                    <i class="col3 pl10 tip" id="tip-add-position" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="col3">*</i>联系电话：</label>
                <div class="layui-input-block">
                    <input type="text" id="add-phone" placeholder="" autocomplete="off" datatype="phoneOrMobile"
                           datames="联系电话" notnull="true" maxlength="20" class="layui-input"
                           onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/>
                    <i class="col3 pl10 tip" id="tip-add-phone" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系邮箱：</label>
                <div class="layui-input-block">
                    <input type="text" id="add-email" placeholder="" autocomplete="off" datatype="email" datames="联系邮箱"
                           maxlength="40" class="layui-input"/>
                    <i class="col3 pl10 tip" id="tip-add-email" style="display: none"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设为常用：</label>
                <div class="fl">
                    <input type="checkbox" id="add-general" title="常用联系人" lay-skin="primary"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" id="add-id" value=""/>
                    <button class="layui-btn" id="save-contact">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://oss.matedata.net/resource/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/js/uuid.js"></script>
<script type="text/javascript" src="/static/js/validate.js"></script>
<script type="text/javascript" src="/static/business/client-edit.js"></script>
</body>
</html>