<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
    <link rel="stylesheet" href="/static/plugins/paging/css/paging.css" media="all"/>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">

    <div th:include="common :: top"></div>
    <div class="layui-side layui-bg-black kit-side" th:include="client :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="javascript:">客户管理</a>
            <a href="javascript:">客户管理</a>
            <a><cite>客户管理</cite></a>
        </div>
        <div class="p20 layui-form">
            <ul class="search-list clearfix border-b2 pb25">
                <li>
                    <input type="text" name="keyword" placeholder="请输入公司名称/公司简称/用户名" class="layui-input"
                           style="width: 240px"/>
                </li>
                <li>
                    行业：
                    <div class="layui-inline" style="width: 180px">
                        <select name="parent-industry" lay-filter="parent-industry" lay-search="">
                            <option value="">全部</option>
                            <option th:each="o : ${industryList}" th:value="${o.id}" th:text="${o.name}"></option>
                        </select>
                    </div>
                    <div class="layui-inline" style="width: 180px">
                        <select id="industry" name="industry" lay-search="">
                            <option value="">全部</option>
                        </select>
                    </div>
                </li>
                <li>
                    状态：
                    <div class="layui-inline" style="width: 120px">
                        <select id="enabled" name="enabled" lay-search="">
                            <option value="" selected="selected">全部</option>
                            <option value="1">正常</option>
                            <option value="0">已冻结</option>
                        </select>
                    </div>
                </li>
                <li>
                    <button class="layui-btn" lay-submit="" lay-filter="search">查询</button>
                </li>
            </ul>
            <div class="clearfix mt20">
                <a href="javascript:;" class="layui-btn" onclick="change_status(1)"
                   th:if="${#lists.contains(i_privilege, '31105')}">解冻账号</a>
                <a href="javascript:;" class="layui-btn " onclick="change_status(0)"
                   th:if="${#lists.contains(i_privilege, '31104')}">冻结账号</a>
                <a href="javascript:;" class="layui-btn" onclick="del_client()"
                   th:if="${#lists.contains(i_privilege, '31106')}" style="display: none">停用账号</a>
                <a href="javascript:;" class="layui-btn" onclick="reset_password()"
                   th:if="${#lists.contains(i_privilege, '31107')}">重置密码</a>
                <a href="/client/add.html" class="layui-btn fr"
                   th:if="${#lists.contains(i_privilege, '31102')}" >添加客户</a>
            </div>
            <div class="layui-form">
                <table class="layui-table" id="data-table"></table>
            </div>
        </div>
    </div>


</div>

<div id="child-account" class="modal">
    <div class="layui-layer-title" id="child-account-title">子账号列表</div>
    <div class="mb30">
        <div class="m30">
            <div class="tc fz-14" id="thisCorpName"></div>
            <div class="col2 mt20" id="sameTotal"></div>
            <table cellspacing="0" cellpadding="0" border="0" class="layui-table mt20">
                <thead>
                <tr>
                    <th>账号</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="child-account-body">
                </tbody>
            </table>
            <br/>
            <div class="box" id="pagination"></div>
        </div>
        <div class="layui-form-item tc">
            <button class="layui-btn" onclick="layer.closeAll()">关闭</button>
        </div>
    </div>
</div>
<!--提示层 end-->

<!-- 冻结/解冻账号提示层 -->
<div id="ban-div" class="modal">
    <div class="layui-layer-title" id="ban-title">冻结/解冻账号</div>
    <div class="mb30 layui-form">
        <div class="m30">
            <div class="layui-form-item">
                <label class="layui-form-label">原因：</label>
                <div class="layui-input-block">
                    <textarea id="ban-reason" placeholder="请输入原因" class="layui-textarea"
                              onblur="check_reason()"></textarea>
                    <p class="col3 mt5" id="tip-reason"></p>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" id="ban-client-id"/>
                <input type="hidden" id="ban-client-enabled"/>
                <input type="hidden" id="ban-status"/>
                <button class="layui-btn" onclick="post_client_status()">确定</button>
            </div>
        </div>
    </div>
</div>

<div id="editpwd-manage" class="modal" th:include="common :: point"></div>

<script type="text/javascript" src="https://oss.matedata.net/resource/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/plugins/paging/js/paging.js"></script>
<script type="text/javascript" src="/static/business/client-list.js"></script>
<script type="text/html" id="operation-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" href="/client/detail.html?id={{d.id}}"
       th:if="${#lists.contains(i_privilege,'31101')}">查看
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" href="/client/edit.html?id={{d.id}}"
       th:if="${#lists.contains(i_privilege,'31103')}">编辑</a>
</script>
<script type="text/html" id="sub-user-bar">
    {{# if(d.accountQty > 0){ }}
    <li><a href="javascript:;" onclick="show_sub_user('{{d.id}}')">{{d.accountQty}}</a></li>
    {{# } else { }}
    <li>{{d.accountQty}}</li>
    {{# } }}
</script>
<script type="text/html" id="status-tpl">
    {{# if(d.userEnabled === 1){ }}
    <div>正常</div>
    {{# } else { }}
    <div>已冻结</div>
    {{# } }}
</script>
</body>
</html>