<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" href="/static/layui-v2.2.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/build/css/app.css" media="all"/>
    <link rel="stylesheet" href="/static/css/style.css" media="all"/>
    <link rel="stylesheet" href="/static/css/base.css" media="all"/>
    <link rel="stylesheet" href="/static/css/common.css" media="all"/>
</head>
<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">

    <div th:include="common :: top"></div>
    <div class="layui-side layui-bg-black kit-side" th:include="client :: left"></div>

    <div class="layui-body">
        <div class="layui-breadcrumb breadcrumb-bg" style="visibility: visible;">
            <a href="/client/index.html">客户管理</a>
            <a class="cp" th:href="'/client/detail.html?id=' + ${clientId}" th:text="${corpName}"></a>
            <a><cite>充值记录</cite></a>
        </div>
        <div class="p20 layui-form">
            <ul class="search-list clearfix border-b2 pb25">
                <li>
                    <label class="layui-form-label">产品名称：</label>
                    <div class="layui-inline" style="width: 180px">
                        <select name="product-id" id="productId">
                            <option value="">全部</option>
                            <option th:each="o : ${productDict}" th:value="${o.id}" th:text="${o.name}"
                                    th:selected="${o.id eq productId}"></option>
                        </select>
                    </div>
                </li>
                <li class="clearfix">
                    <label class="layui-form-label">充值时间：</label>
                    <div class="layui-inline" style="width: 120px">
                        <input type="text" class="layui-input" name="from-date" id="fromDate" placeholder="yyyy-MM-dd"/>
                    </div>
                    -
                    <div class="layui-inline" style="width: 120px">
                        <input type="text" class="layui-input" name="to-date" id="toDate" placeholder="yyyy-MM-dd"/>
                    </div>
                </li>
                <li>
                    <input type="hidden" name="client-id" id="clientId" th:value="${clientId}"/>
                    <a class="layui-btn" lay-submit="" lay-filter="search">查询</a>
                </li>
            </ul>
            <div class="clearfix mt20">
                <span class="fr">
                    一次最多导出1000条<a class="layui-btn" lay-submit="" lay-filter="export">导出</a>
                </span>
            </div>
            <table class="layui-table" id="dataTable"></table>
        </div>
    </div>


</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/layui-v2.2.5/layui.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/password.js"></script>
<script type="text/javascript" src="/static/business/client-recharge.js"></script>
</body>
</html>