<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.ApiReqMapper">
    <resultMap id="BaseResultMap" type="ApiReq">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="suc" property="suc" jdbcType="TINYINT" />
        <result column="unit_amt" property="unitAmt" jdbcType="DECIMAL" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
    </resultMap>

    <select id="countBy" resultType="int">
        select count(*)
        from `api_req`
        <where>
            <if test="clientId != null">`client_id` = #{clientId}</if>
            <if test="productId != null">and `product_id` = #{productId}</if>
            <if test="startTime != null">and `create_time` >= #{startTime}</if>
            <if test="endTime != null">and `create_time` &lt;= #{endTime}</if>
        </where>
    </select>

</mapper>