<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.ClientMessageMapper">
    <resultMap id="BaseResultMap" type="ClientMessage">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `client_id`, `type`, `content`
        from `client_message`
    </sql>

    <insert id="add" parameterType="ClientMessage" useGeneratedKeys="true" keyProperty="id">
        insert into `client_message`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="clientId != null">`client_id`,</if>
            <if test="type != null">`type`,</if>
            <if test="content != null">`content`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="type != null">#{type},</if>
            <if test="content != null">#{content},</if>
        </trim>
    </insert>

    <select id="countByClient" parameterType="Long" resultType="Integer">
        select count(*)
        from `client_message`
        where `client_id` = #{clientId}
    </select>

    <select id="getListByClient" parameterType="Long" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `client_id` = #{clientId} order by `create_time` desc
    </select>
</mapper>