<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.ClientProductMapper">
    <resultMap id="BaseResultMap" type="ClientProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="app_id" property="appId" jdbcType="CHAR" />
        <result column="bill_plan" property="billPlan" jdbcType="TINYINT" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="latest_recharge_id" property="latestRechargeId" jdbcType="TINYINT" />
        <result column="opened" property="opened" jdbcType="TINYINT" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `client_id`, `product_id`, `app_id`, `bill_plan`, `balance`,
            `latest_recharge_id`, `opened`
        from `client_product`
    </sql>

    <insert id="add" parameterType="ClientProduct">
        insert into `client_product`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="clientId != null">`client_id`,</if>
            <if test="productId != null">`product_id`,</if>
            <if test="appId != null">`app_id`,</if>
            <if test="billPlan != null">`bill_plan`,</if>
            <if test="balance != null">`balance`,</if>
            <if test="latestRechargeId != null">`latest_recharge_id`,</if>
            <if test="opened != null">`opened`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="billPlan != null">#{billPlan},</if>
            <if test="balance != null">#{balance},</if>
            <if test="latestRechargeId != null">#{latestRechargeId},</if>
            <if test="opened != null">#{opened},</if>
        </trim>
    </insert>

    <update id="updateSkipNull" parameterType="ClientProduct">
        update `client_product`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="clientId != null">`client_id` = #{clientId},</if>
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="appId != null">`app_id` = #{appId},</if>
            <if test="billPlan != null">`bill_plan` = #{billPlan},</if>
            <if test="balance != null">`balance` = #{balance},</if>
            <if test="latestRechargeId != null">`latest_recharge_id` = #{latestRechargeId},</if>
            <if test="opened != null">`opened` = #{opened},</if>
        </set>
        where `id` = #{id}
    </update>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `id` = #{id}
    </select>

    <select id="findByClientAndProduct" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `client_id` = #{clientId} and `product_id` = #{productId}
    </select>

    <select id="findByAppId" parameterType="String" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `app_id` = #{appId}
    </select>

    <delete id="deleteByIds">
        delete from client_product where id
        <foreach collection="ids" item="itemId" open="in (" close=")" separator=",">
            #{itemId}
        </foreach>
    </delete>

    <insert id="addAll" parameterType="List">
        insert into
            `client_product`
            (`id`, `create_time`, `update_time`, `client_id`, `product_id`, `app_id`, `bill_plan`, `balance`,
             `latest_recharge_id`, `opened`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.createTime}, #{item.updateTime}, #{item.clientId}, #{item.productId}, #{item.appId},
             #{item.billPlan}, #{item.balance}, #{item.latestRechargeId}, #{item.opened})
        </foreach>
    </insert>
</mapper>