<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.ClientUserProductMapper">
    <resultMap id="BaseResultMap" type="ClientUserProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="req_host" property="reqHost" jdbcType="VARCHAR" />
        <result column="access_token" property="accessToken" jdbcType="VARCHAR" />
        <result column="valid_time" property="validTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `user_id`, `product_id`, `req_host`, `access_token`, `valid_time`
        from `client_user_product`
    </sql>

    <insert id="add" parameterType="ClientUserProduct">
        insert into `client_user_product`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="userId != null">`user_id`,</if>
            <if test="productId != null">`product_id`,</if>
            <if test="reqHost != null">`req_host`,</if>
            <if test="accessToken != null">`access_token`,</if>
            <if test="validTime != null">`valid_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="reqHost != null">#{reqHost},</if>
            <if test="accessToken != null">#{accessToken},</if>
            <if test="validTime != null">#{validTime},</if>
        </trim>
    </insert>

    <update id="updateSkipNull" parameterType="ClientUserProduct">
        update `client_user_product`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="reqHost != null">`req_host` = #{reqHost},</if>
            <if test="accessToken != null">`access_token` = #{accessToken},</if>
            <if test="validTime != null">`valid_time` = #{validTime},</if>
        </set>
        where `id` = #{id}
    </update>

    <!-- @formatter:off -->
    <update id="clearAccessToken">
        update `client_user_product`
        set `update_time`  = #{date},
            `access_token` = null
        where `id` in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="findByUserAndProduct" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `user_id` = #{userId} and `product_id` = #{productId}
    </select>

    <select id="getListByProduct" parameterType="Long" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `product_id` = #{productId}
    </select>

    <select id="getListBy" resultMap="BaseResultMap">
        select * from client_user_product cup inner join client_user cu on cup.user_id = cu.id
        <where>
            <if test="clientId != null">cu.`client_id` = #{clientId}</if>
            <if test="productId != null">and cup.`product_id` = #{productId}</if>
        </where>
    </select>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `id` = #{id}
    </select>

    <select id="getTokenListByClients" parameterType="List" resultMap="BaseResultMap">
        select
            cup.`id`, cup.`access_token`
        from `client_user_product` cup
            join `client_user` cu
                on cup.`user_id` = cu.`id`
        where cup.`access_token` is not null
          and cu.`client_id` in
        <foreach collection="clientIdList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>