<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.ClientOperateInfoMapper">
    <resultMap id="BaseResultMap" type="ClientOperateInfo">
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="reason" property="reason" jdbcType="VARCHAR" />
        <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="countByClient" parameterType="Long" resultType="int">
        select count(*)
        from `client_operate_log`
        where `client_id` = #{clientId}
    </select>

    <select id="getListByClient" parameterType="Long" resultMap="BaseResultMap">
        select
            col.`create_time` as operate_time, col.`type` as type, col.`reason` as reason, m.`name` as manager_name
        from `client_operate_log` col left join `user` m
                on col.`manager_id` = m.`id`
        where col.`client_id` =
              #{clientId}
        order by col.`create_time` desc
    </select>
</mapper>