<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.ClientProductMapper">
    <resultMap id="BaseResultMap" type="ClientProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="client_id" property="clientId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="app_id" property="appId" jdbcType="CHAR" />
        <result column="bill_plan" property="billPlan" jdbcType="TINYINT" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="latest_recharge_id" property="latestRechargeId" jdbcType="TINYINT" />
    </resultMap>

    <insert id="add" parameterType="ClientProduct">
        insert into `client_product`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="clientId != null">`client_id`,</if>
            <if test="productId != null">`product_id`,</if>
            <if test="appId != null">`app_id`,</if>
            <if test="billPlan != null">`bill_plan`,</if>
            <if test="balance != null">`balance`,</if>
            <if test="latestRechargeId != null">`latest_recharge_id`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="billPlan != null">#{billPlan},</if>
            <if test="balance != null">#{balance},</if>
            <if test="latestRechargeId != null">#{latestRechargeId},</if>
        </trim>
    </insert>

    <update id="updateSkipNull" parameterType="ClientProduct">
        update `client_product`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="clientId != null">`client_id` = #{clientId},</if>
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="appId != null">`app_id` = #{appId},</if>
            <if test="billPlan != null">`bill_plan` = #{billPlan},</if>
            <if test="balance != null">`balance` = #{balance},</if>
            <if test="latestRechargeId != null">`latest_recharge_id` = #{latestRechargeId},</if>
        </set>
        where `id` = #{id}
    </update>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        select
            `id`, `create_time`, `update_time`, `client_id`, `product_id`, `app_id`, `bill_plan`, `balance`,
            `latest_recharge_id`
        from `client_product`
        where `id` = #{id}
    </select>

    <select id="findByClientAndProduct" resultMap="BaseResultMap">
        select
            `id`, `create_time`, `update_time`, `client_id`, `product_id`, `app_id`, `bill_plan`, `balance`,
            `latest_recharge_id`
        from `client_product`
        where `client_id` = #{clientId}
              and `product_id` = #{productId}
    </select>
</mapper>