<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.PrivilegeMapper">
    <resultMap id="BaseResultMap" type="Privilege">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="seq_no" property="seqNo" jdbcType="INTEGER" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="enabled" property="enabled" jdbcType="TINYINT" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `name`, `seq_no`, `level`, `parent_id`, `enabled`
        from `function`
    </sql>

    <update id="updateSkipNull" parameterType="Privilege">
        update `function`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="seqNo != null">`seq_no` = #{seqNo},</if>
            <if test="level != null">`level` = #{level},</if>
            <if test="parentId != null">`parent_id` = #{parentId},</if>
            <if test="enabled != null">`enabled` = #{enabled},</if>
        </set>
        where `id` = #{id}
    </update>

    <!-- @formatter:off -->
    <update id="updateModuleStatusByIds">
        update `function`
        set `update_time` = #{date},
            `enabled`     = #{enabled}
        where `level` &lt;= 3
          and `id` in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <!-- @formatter:on -->

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `id` = #{id}
    </select>

    <select id="getParentIdByChildId" parameterType="List" resultMap="BaseResultMap">
        select `parent_id` from `function` where `id` in
        <foreach collection="privilegeIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getListByParent" parameterType="Long" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `parent_id` = #{parentId} order by `seq_no` asc
    </select>

    <select id="getListByLevel" parameterType="int" resultMap="BaseResultMap">
        select
            `id`, `name`
        from `function`
        where `level` &lt;= #{level}
    </select>

    <select id="getModuleListByRole" parameterType="Long" resultMap="BaseResultMap">
        select
            p.`id`, p.`name`
        from `function` p
            join `role_privilege` rp
                on p.`id` = rp.`privilege_id` and rp.`role_id` = #{roleId}
        where p.`parent_id` = 0
    </select>
</mapper>