<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.ProductRechargeInfoMapper">
    <resultMap id="BaseResultMap" type="ProductRechargeInfo">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
        <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
        <result column="corp_name" property="corpName" jdbcType="VARCHAR" />
        <result column="short_name" property="shortName" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="product_name" property="productName" jdbcType="VARCHAR" />
        <result column="bill_plan" property="billPlan" jdbcType="TINYINT" />
        <result column="recharge_type" property="rechargeType" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="unit_amt" property="unitAmt" jdbcType="DECIMAL" />
        <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
        <result column="contract_no" property="contractNo" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <!-- @formatter:off -->
    <select id="getListByTime" resultMap="BaseResultMap">
        select
            pr.`id`          as id,
            pr.`create_time` as trade_time,
            pr.`trade_no`    as trade_no,
            pr.`bill_plan`   as bill_plan,
            c.`corp_name`    as corp_name,
            c.`short_name`   as short_name,
            cu.`username`    as username,
            p.`name`         as product_name,
            rt.`name`        as recharge_type,
            pr.`amount`      as amount,
            m.`name`         as manager_name,
            pr.`contract_no` as contract_no,
            pr.`remark`      as remark
        from `recharge` pr
            left join `client` c
                on pr.`client_id` = c.`id`
            left join `client_user` cu
                on c.`primary_user_id` = cu.`id`
            left join `product` p
                on pr.`product_id` = p.`id`
            left join `user` m
                on pr.`manager_id` = m.`id`
            left join `dict_recharge_type` rt
                on pr.`recharge_type` = rt.`id`
        <where>
            <if test="startTime != null">and pr.`create_time` >= #{startTime}</if>
            <if test="endTime != null">and pr.`create_time` &lt; #{endTime}</if>
        </where>
    </select>
    <!-- @formatter:on -->

    <select id="sumRechargeAmountBy" resultType="BigDecimal">
        select sum(pr.`amount`) from `recharge` pr left join `client` c on pr.`client_id` = c.`id`
        <where>
            <if test="keyword != null">
                (c.`corp_name` like '%${keyword}%' or c.`short_name` like '%${keyword}%' or pr.`trade_no` like
                '%${keyword}%' or pr.`contract_no` like '%${keyword}%')
            </if>
            <if test="productId != null">and pr.`product_id` = #{productId}</if>
            <if test="managerId != null">and pr.`manager_id` = #{managerId}</if>
            <if test="rechargeType != null">and pr.`recharge_type` = #{rechargeType}</if>
            <if test="fromDate != null">and pr.`create_time` >= #{fromDate}</if>
            <if test="toDate != null">and pr.`create_time` &lt; #{toDate}</if>
        </where>
    </select>

    <!-- @formatter:off -->
    <select id="countBy" resultType="int">
        select count(*)
        from `recharge` r
            left join `client` c
                on r.`client_id` = c.`id`
        <where>
            <if test="clientId != null">r.`client_id` = #{clientId}</if>
            <if test="productId != null">and r.`product_id` = #{productId}</if>
            <if test="managerId != null">and r.`manager_id` = #{managerId}</if>
            <if test="rechargeType != null">and r.`recharge_type` = #{rechargeType}</if>
            <if test="keyword != null">and (c.`corp_name` like '%${keyword}%' or c.`username` like '%${keyword}%')</if>
            <if test="startTime != null">and r.`create_time` >= #{startTime}</if>
            <if test="endTime != null">and r.`create_time` &lt; #{endTime}</if>
        </where>
    </select>

    <select id="getListBy" resultMap="BaseResultMap">
        select
            r.`create_time` as trade_time,
            r.`trade_no`    as trade_no,
            r.`bill_plan`   as bill_plan,
            r.`amount`      as amount,
            r.`balance`     as balance,
            r.`contract_no` as contract_no,
            r.`start_date`  as start_date,
            r.`end_date`    as end_date,
            r.`unit_amt`    as unit_amt,
            c.`corp_name`   as corp_name,
            c.`short_name`  as short_name,
            c.`username`    as username,
            p.`name`        as product_name,
            u.`name`        as manager_name,
            rt.`name`       as recharge_type
        from `recharge` r
            left join `client` c
                on r.`client_id` = c.`id`
            left join `product` p
                on r.`product_id` = p.`id`
            left join `user` u
                on r.`manager_id` = u.`id`
            left join `dict_recharge_type` rt
                on r.`recharge_type` = rt.`id`
        <where>
            <if test="clientId != null">r.`client_id` = #{clientId}</if>
            <if test="productId != null">and r.`product_id` = #{productId}</if>
            <if test="managerId != null">and r.`manager_id` = #{managerId}</if>
            <if test="rechargeType != null">and r.`recharge_type` = #{rechargeType}</if>
            <if test="keyword != null">and (c.`corp_name` like '%${keyword}%' or c.`username` like '%${keyword}%')</if>
            <if test="startTime != null">and r.`create_time` >= #{startTime}</if>
            <if test="endTime != null">and r.`create_time` &lt; #{endTime}</if>
        </where>
        order by r.`create_time` desc
    </select>
    <!-- @formatter:on -->
</mapper>
