<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.SistemMapper">
    <resultMap id="BaseResultMap" type="Sistem">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `name`, `value`
        from `sistem`
    </sql>

    <insert id="add" parameterType="Sistem">
        insert into `sistem`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="name != null">`name`,</if>
            <if test="value != null">`value`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="value != null">#{value},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="Sistem">
        update `sistem`
        set `create_time` = #{createTime},
            `update_time` = #{updateTime},
            `name`        = #{name},
            `value`       = #{value}
        where `id` = #{id}
    </update>

    <select id="findByName" parameterType="String" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `name` = #{name}
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        <include refid="select_all" />
    </select>

    <select id="getSubAccountMaximum" resultType="String">
        select `value`
        from `sistem`
        where `name` = 'CLIENT_SUB_USER_QTY'
    </select>
</mapper>