<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.SistemMapper">
    <resultMap id="BaseResultMap" type="Sistem">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="VARCHAR" />
    </resultMap>

    <update id="updateClientUserMax">
        update `sistem`
        set `value` = #{clientUserMax}, `update_time` = #{date}
        where `name` = 'CLIENT_SUB_USER_QTY'
    </update>

    <update id="updateServiceQQ">
        update `sistem`
        set `value` = #{serviceQQ}, `update_time` = #{date}
        where `name` = 'SERVICE_QQ'
    </update>

    <select id="getClientUserMax" resultType="String">
        select `value`
        from `sistem`
        where `name` = 'CLIENT_SUB_USER_QTY'
    </select>

    <select id="getServiceQQ" resultType="String">
        select `value`
        from `sistem`
        where `name` = 'SERVICE_QQ'
    </select>
</mapper>