<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.UserProductMapper">
    <resultMap id="BaseResultMap" type="UserProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="app_secret" property="appSecret" jdbcType="VARCHAR" />
        <result column="req_host" property="reqHost" jdbcType="VARCHAR" />
        <result column="access_token" property="accessToken" jdbcType="VARCHAR" />
        <result column="valid_time" property="validTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `user_id`, `product_id`, `app_secret`, `req_host`, `access_token`,
            `valid_time`
        from `user_product`
    </sql>

    <insert id="add" parameterType="UserProduct">
        insert into `user_product`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="userId != null">`user_id`,</if>
            <if test="productId != null">`product_id`,</if>
            <if test="appSecret != null">`app_secret`,</if>
            <if test="reqHost != null">`req_host`,</if>
            <if test="accessToken != null">`access_token`,</if>
            <if test="validTime != null">`valid_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="appSecret != null">#{appSecret},</if>
            <if test="reqHost != null">#{reqHost},</if>
            <if test="accessToken != null">#{accessToken},</if>
            <if test="validTime != null">#{validTime},</if>
        </trim>
    </insert>

    <update id="updateSkipNull" parameterType="UserProduct">
        update `user_product`
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="appSecret != null">`app_secret` = #{appSecret},</if>
            <if test="reqHost != null">`req_host` = #{reqHost},</if>
            <if test="accessToken != null">`access_token` = #{accessToken},</if>
            <if test="validTime != null">`valid_time` = #{validTime},</if>
        </set>
        where `id` = #{id}
    </update>

    <update id="clearAccessToken">
        update `user_product` set `update_time` = #{date}, `access_token` = null where `id` in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="findByUserAndProduct" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `user_id` = #{userId} and `product_id` = #{productId}
    </select>

    <select id="getListByProduct" parameterType="Long" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `product_id` = #{productId}
    </select>
</mapper>