<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdong.mis.domain.mapper.UserFunctionMapper">
    <resultMap id="BaseResultMap" type="UserFunction">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="manager_id" property="managerId" jdbcType="BIGINT" />
        <result column="privilege_id" property="privilegeId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="select_all">
        select
            `id`, `create_time`, `update_time`, `manager_id`, `privilege_id`
        from `user_function`
    </sql>

    <!-- @formatter:off -->
    <insert id="addList" parameterType="List">
        insert into
            `user_function`
            (`create_time`, `update_time`, `manager_id`, `privilege_id`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.createTime}, #{item.updateTime}, #{item.managerId}, #{item.privilegeId})
        </foreach>
    </insert>
    <!-- @formatter:on -->

    <delete id="deleteByManager" parameterType="Long">
        delete from `user_function`
        where `manager_id` = #{managerId}
    </delete>

    <select id="getListByUser" parameterType="Long" resultMap="BaseResultMap">
        <include refid="select_all" />
        where `manager_id` = #{managerId}
    </select>
</mapper>